{
  "openapi": "3.0.3",
  "info": {
    "title": "actor XRPC API",
    "version": "0.1.0"
  },
  "servers": [
    {
      "url": "https://actor.etzhayyim.com"
    }
  ],
  "paths": {},
  "components": {
    "schemas": {
      "ai_etzhayyim_actor_app": {
        "type": "object",
        "properties": {
          "did": {
            "type": "string",
            "description": "Canonical nanoid DID (did:web:{nanoid}.etzhayyim.com). Compatible with app.bsky.actor.defs profile DID.",
            "format": "did"
          },
          "nanoid": {
            "type": "string",
            "description": "App nanoid identifier"
          },
          "handle": {
            "type": "string",
            "description": "Compatible with app.bsky.actor.defs handle format.",
            "format": "handle"
          },
          "displayName": {
            "type": "string",
            "description": "Compatible with app.bsky.actor.defs#profileViewBasic.displayName.",
            "maxLength": 640
          },
          "description": {
            "type": "string",
            "description": "Compatible with app.bsky.actor.defs#profileView.description.",
            "maxLength": 2560
          },
          "labels": {
            "$ref": "#/components/schemas/com_atproto_label_defs_selfLabels"
          },
          "runtime": {
            "type": "string",
            "description": "etzhayyim extension: business execution runtime placement",
            "x-knownValues": [
              "k8s-langserver"
            ]
          },
          "edge": {
            "type": "string",
            "description": "etzhayyim extension: public edge placement",
            "x-knownValues": [
              "sveltekit-proxy"
            ]
          },
          "legacyExecutionTier": {
            "type": "string",
            "description": "Historical migration inventory value only; do not use for runtime placement",
            "x-knownValues": [
              "T1",
              "T2",
              "T3",
              "T4"
            ]
          },
          "status": {
            "type": "string",
            "description": "etzhayyim extension: app lifecycle status",
            "x-knownValues": [
              "active",
              "suspended",
              "archived"
            ]
          },
          "performerType": {
            "type": "string"
          },
          "contentMode": {
            "type": "string"
          },
          "capabilitiesJson": {
            "type": "string"
          },
          "contract": {
            "type": "string"
          },
          "icon": {
            "type": "string",
            "format": "uri"
          },
          "accent": {
            "type": "string"
          },
          "version": {
            "type": "string"
          },
          "uiType": {
            "type": "string"
          },
          "embedUrl": {
            "type": "string",
            "format": "uri"
          },
          "governanceJson": {
            "type": "string"
          },
          "agentConfigJson": {
            "type": "string"
          },
          "deployAt": {
            "type": "string",
            "format": "datetime"
          }
        },
        "required": [
          "did",
          "nanoid"
        ]
      }
    }
  }
}
