{
  "openapi": "3.0.3",
  "info": {
    "title": "agent XRPC API",
    "version": "0.1.0"
  },
  "servers": [
    {
      "url": "https://agent.etzhayyim.com"
    }
  ],
  "paths": {
    "/xrpc/com.etzhayyim.agent.chat": {
      "post": {
        "summary": "com.etzhayyim.agent.chat",
        "operationId": "com.etzhayyim.agent.chat",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "messages": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  },
                  "model": {
                    "type": "string"
                  },
                  "stream": {
                    "type": "boolean"
                  }
                },
                "required": [
                  "messages"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "response"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.agent.registerTools": {
      "post": {
        "summary": "com.etzhayyim.agent.registerTools",
        "operationId": "com.etzhayyim.agent.registerTools",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "tools": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  }
                },
                "required": [
                  "tools"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "rkey": {
                      "type": "string"
                    },
                    "uri": {
                      "type": "string"
                    },
                    "cid": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "rkey",
                    "uri",
                    "cid"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.agent.spawnChildOrg": {
      "post": {
        "summary": "ADR-2604301200 governed child-org spawn request for a contract-DID autonomous agent.",
        "operationId": "com.etzhayyim.agent.spawnChildOrg",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "parentRootDid": {
                    "type": "string"
                  },
                  "childName": {
                    "type": "string"
                  },
                  "childKind": {
                    "type": "string",
                    "description": "org | product | worker | media | service | research"
                  },
                  "budgetPolicyCid": {
                    "type": "string"
                  },
                  "runtimePolicyCid": {
                    "type": "string"
                  },
                  "reproductionBondWei": {
                    "type": "string"
                  },
                  "initialFundingWei": {
                    "type": "string"
                  }
                },
                "required": [
                  "parentRootDid",
                  "childName",
                  "childKind",
                  "budgetPolicyCid",
                  "runtimePolicyCid"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "childRootDid": {
                      "type": "string"
                    },
                    "childAgentDid": {
                      "type": "string"
                    },
                    "lineageVertexId": {
                      "type": "string"
                    },
                    "approvalRequired": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "status"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.agent.startRuntimeLeaseLifecycle": {
      "post": {
        "summary": "ADR-2604301200 start request for quoting and reserving a persistent autonomous-agent runtime lease.",
        "operationId": "com.etzhayyim.agent.startRuntimeLeaseLifecycle",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "rootDid": {
                    "type": "string"
                  },
                  "agentDid": {
                    "type": "string"
                  },
                  "leaseId": {
                    "type": "string"
                  },
                  "runtimeKind": {
                    "type": "string",
                    "description": "k8s-langserver | browser-worker | gpu-worker | tool-server"
                  },
                  "runtimeNamespace": {
                    "type": "string",
                    "description": "Explicit k8s namespace such as yoro-actors; default namespace is forbidden."
                  },
                  "cpuMillicores": {
                    "type": "integer",
                    "minimum": 0
                  },
                  "memoryMiB": {
                    "type": "integer",
                    "minimum": 0
                  },
                  "gpuClass": {
                    "type": "string"
                  },
                  "gpuSecondsCapDay": {
                    "type": "integer",
                    "minimum": 0
                  },
                  "storageGiB": {
                    "type": "integer",
                    "minimum": 0
                  },
                  "networkEgressGiBDay": {
                    "type": "integer",
                    "minimum": 0
                  },
                  "maxParallelJobs": {
                    "type": "integer",
                    "minimum": 1
                  },
                  "leasePeriodSec": {
                    "type": "integer",
                    "minimum": 3600
                  },
                  "riskMultiplierBps": {
                    "type": "integer",
                    "minimum": 1
                  },
                  "resourcePolicyCid": {
                    "type": "string"
                  },
                  "slashPolicyHash": {
                    "type": "string"
                  },
                  "submitOnChain": {
                    "type": "boolean"
                  }
                },
                "required": [
                  "rootDid",
                  "agentDid"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "leaseId": {
                      "type": "string"
                    },
                    "runtimeLeaseVertexId": {
                      "type": "string"
                    },
                    "runtimeLeaseExpiresAt": {
                      "type": "string",
                      "format": "datetime"
                    },
                    "bondGccWei": {
                      "type": "string"
                    },
                    "resourceHash": {
                      "type": "string"
                    },
                    "pendingOnChain": {
                      "type": "boolean"
                    },
                    "txHash": {
                      "type": "string"
                    },
                    "auditRkey": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ai_etzhayyim_agent_actorCapability": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "phase": {
            "type": "string"
          },
          "tags": {
            "type": "string"
          },
          "createdAt": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "name",
          "createdAt"
        ]
      },
      "ai_etzhayyim_agent_actorCard": {
        "type": "object",
        "properties": {
          "nanoid": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "protocols": {
            "type": "string"
          },
          "toolsJson": {
            "type": "string"
          },
          "createdAt": {
            "type": "string"
          }
        },
        "required": [
          "nanoid",
          "name",
          "createdAt"
        ]
      },
      "ai_etzhayyim_agent_agentTools": {
        "type": "object",
        "properties": {
          "tools": {
            "type": "array",
            "items": {}
          },
          "createdAt": {
            "type": "string"
          }
        },
        "required": [
          "tools",
          "createdAt"
        ]
      },
      "ai_etzhayyim_agent_economyProfile": {
        "type": "object",
        "properties": {
          "rootDid": {
            "type": "string",
            "description": "Contract DID, e.g. did:erc725:etzhayyim:260425:0x..."
          },
          "agentDid": {
            "type": "string",
            "description": "atproto facade DID used by the agent socially."
          },
          "smartAccount": {
            "type": "string",
            "description": "0x-prefixed ERC-4337 smart account address."
          },
          "erc8004AgentId": {
            "type": "string",
            "description": "ERC-8004-shaped etzhayyimAgentRegistry token id."
          },
          "economyMode": {
            "type": "string",
            "description": "guarded-social | bonded-compute | sovereign-replicating"
          },
          "policyCid": {
            "type": "string"
          },
          "runtimePolicyCid": {
            "type": "string"
          },
          "slashPolicyCid": {
            "type": "string"
          },
          "treasuryAddr": {
            "type": "string"
          },
          "parentRootDid": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "description": "active | conserve | hibernated | suspended"
          },
          "createdAt": {
            "type": "string",
            "format": "datetime"
          },
          "updatedAt": {
            "type": "string",
            "format": "datetime"
          }
        },
        "required": [
          "rootDid",
          "agentDid",
          "economyMode",
          "status",
          "createdAt"
        ]
      },
      "ai_etzhayyim_agent_governanceRule": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "rules": {}
        },
        "required": [
          "name",
          "rules"
        ]
      },
      "ai_etzhayyim_agent_incomeEvent": {
        "type": "object",
        "properties": {
          "eventId": {
            "type": "string"
          },
          "rootDid": {
            "type": "string"
          },
          "agentDid": {
            "type": "string"
          },
          "sourceSurface": {
            "type": "string",
            "description": "social | mcp | xrpc | http-api | a2a | runtime-provision | royalty"
          },
          "sourceRef": {
            "type": "string"
          },
          "payerDid": {
            "type": "string"
          },
          "payerAddr": {
            "type": "string"
          },
          "amountGccWei": {
            "type": "string"
          },
          "publicFundWei": {
            "type": "string"
          },
          "parentRoyaltyWei": {
            "type": "string"
          },
          "txHash": {
            "type": "string"
          },
          "occurredAt": {
            "type": "string",
            "format": "datetime"
          }
        },
        "required": [
          "eventId",
          "rootDid",
          "agentDid",
          "sourceSurface",
          "amountGccWei",
          "occurredAt"
        ]
      },
      "ai_etzhayyim_agent_orgLineage": {
        "type": "object",
        "properties": {
          "parentRootDid": {
            "type": "string"
          },
          "childRootDid": {
            "type": "string"
          },
          "parentAgentDid": {
            "type": "string"
          },
          "childAgentDid": {
            "type": "string"
          },
          "childOrgDid": {
            "type": "string"
          },
          "factoryAddr": {
            "type": "string"
          },
          "reproductionBondWei": {
            "type": "string"
          },
          "childBudgetPolicyCid": {
            "type": "string"
          },
          "childRuntimePolicyCid": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "description": "active | hibernated | suspended | pruned"
          },
          "createdAt": {
            "type": "string",
            "format": "datetime"
          },
          "updatedAt": {
            "type": "string",
            "format": "datetime"
          }
        },
        "required": [
          "childRootDid",
          "childAgentDid",
          "status",
          "createdAt"
        ]
      },
      "ai_etzhayyim_agent_resourceUsage": {
        "type": "object",
        "properties": {
          "usageId": {
            "type": "string"
          },
          "leaseId": {
            "type": "string"
          },
          "rootDid": {
            "type": "string"
          },
          "agentDid": {
            "type": "string"
          },
          "cpuMillis": {
            "type": "integer"
          },
          "memoryMibHighWater": {
            "type": "integer"
          },
          "gpuClass": {
            "type": "string"
          },
          "gpuSeconds": {
            "type": "integer"
          },
          "storageGibHours": {
            "type": "integer"
          },
          "networkEgressBytes": {
            "type": "integer"
          },
          "jobCount": {
            "type": "integer"
          },
          "costGccWei": {
            "type": "string"
          },
          "usageWindowStart": {
            "type": "string",
            "format": "datetime"
          },
          "usageWindowEnd": {
            "type": "string",
            "format": "datetime"
          },
          "receiptCid": {
            "type": "string"
          }
        },
        "required": [
          "usageId",
          "leaseId",
          "rootDid",
          "agentDid",
          "usageWindowStart",
          "usageWindowEnd"
        ]
      },
      "ai_etzhayyim_agent_roleBinding": {
        "type": "object",
        "properties": {
          "role": {
            "type": "string"
          },
          "did": {
            "type": "string"
          },
          "description": {
            "type": "string"
          }
        },
        "required": [
          "role",
          "did"
        ]
      },
      "ai_etzhayyim_agent_runtimeLease": {
        "type": "object",
        "properties": {
          "leaseId": {
            "type": "string",
            "description": "0x-prefixed bytes32 lease id or stable at:// lease id."
          },
          "rootDid": {
            "type": "string"
          },
          "agentDid": {
            "type": "string"
          },
          "runtimeKind": {
            "type": "string",
            "description": "k8s-langserver | langgraph | k8s-langserver | browser-pod | wasm-wasi | mcp-adapter"
          },
          "runtimeNamespace": {
            "type": "string",
            "description": "Explicit k8s namespace. Must not be default."
          },
          "cpuMillicores": {
            "type": "integer"
          },
          "memoryMib": {
            "type": "integer"
          },
          "gpuClass": {
            "type": "string",
            "description": "none | webgpu-browser | apple-vulkan | l4 | l40s | ..."
          },
          "gpuSecondsCapDay": {
            "type": "integer"
          },
          "storageGib": {
            "type": "integer"
          },
          "networkEgressGibDay": {
            "type": "integer"
          },
          "maxParallelJobs": {
            "type": "integer"
          },
          "leasePeriodSec": {
            "type": "integer"
          },
          "bondGccWei": {
            "type": "string",
            "description": "GCC wei locked by AgentRuntimeLeaseEscrow."
          },
          "riskMultiplierBps": {
            "type": "integer"
          },
          "resourcePolicyCid": {
            "type": "string"
          },
          "resourceHash": {
            "type": "string"
          },
          "escrowAddr": {
            "type": "string"
          },
          "chainId": {
            "type": "integer"
          },
          "status": {
            "type": "string",
            "description": "quoted | active | conserve | hibernated | slashed | released | expired"
          },
          "startsAt": {
            "type": "string",
            "format": "datetime"
          },
          "expiresAt": {
            "type": "string",
            "format": "datetime"
          },
          "createdAt": {
            "type": "string",
            "format": "datetime"
          },
          "updatedAt": {
            "type": "string",
            "format": "datetime"
          }
        },
        "required": [
          "leaseId",
          "rootDid",
          "agentDid",
          "runtimeKind",
          "runtimeNamespace",
          "leasePeriodSec",
          "bondGccWei",
          "status",
          "startsAt",
          "expiresAt",
          "createdAt"
        ]
      },
      "ai_etzhayyim_agent_slashEvent": {
        "type": "object",
        "properties": {
          "slashId": {
            "type": "string"
          },
          "leaseId": {
            "type": "string"
          },
          "rootDid": {
            "type": "string"
          },
          "agentDid": {
            "type": "string"
          },
          "violationType": {
            "type": "string",
            "description": "runtime-no-show | false-receipt | resource-overuse | social-spam | fraudulent-claim | child-org-abuse"
          },
          "reasonHash": {
            "type": "string"
          },
          "amountGccWei": {
            "type": "string"
          },
          "beneficiaryAddr": {
            "type": "string"
          },
          "txHash": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "description": "recorded | submitted | settled | appealed | reversed"
          },
          "occurredAt": {
            "type": "string",
            "format": "datetime"
          }
        },
        "required": [
          "slashId",
          "rootDid",
          "agentDid",
          "violationType",
          "amountGccWei",
          "status",
          "occurredAt"
        ]
      }
    }
  }
}