{
  "openapi": "3.0.3",
  "info": {
    "title": "anime XRPC API",
    "version": "0.1.0"
  },
  "servers": [
    {
      "url": "https://anime.etzhayyim.com"
    }
  ],
  "paths": {
    "/xrpc/com.etzhayyim.anime.createEpisode": {
      "post": {
        "summary": "Register an episode under an anime season.",
        "operationId": "com.etzhayyim.anime.createEpisode",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "season_id": {
                    "type": "string"
                  },
                  "episode_num": {
                    "type": "integer"
                  },
                  "title": {
                    "type": "string"
                  },
                  "air_date": {
                    "type": "string"
                  },
                  "duration_sec": {
                    "type": "integer"
                  },
                  "org_id": {
                    "type": "string"
                  },
                  "user_id": {
                    "type": "string"
                  }
                },
                "required": [
                  "season_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.anime.createSchedule": {
      "post": {
        "summary": "Register a broadcast schedule slot for an anime title.",
        "operationId": "com.etzhayyim.anime.createSchedule",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title_id": {
                    "type": "string"
                  },
                  "season_id": {
                    "type": "string"
                  },
                  "channel": {
                    "type": "string"
                  },
                  "day_of_week": {
                    "type": "string"
                  },
                  "time_slot": {
                    "type": "string"
                  },
                  "start_date": {
                    "type": "string"
                  },
                  "end_date": {
                    "type": "string"
                  },
                  "org_id": {
                    "type": "string"
                  },
                  "user_id": {
                    "type": "string"
                  }
                },
                "required": [
                  "title_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.anime.createSeason": {
      "post": {
        "summary": "Register a season under an anime title.",
        "operationId": "com.etzhayyim.anime.createSeason",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title_id": {
                    "type": "string"
                  },
                  "season_num": {
                    "type": "integer"
                  },
                  "year": {
                    "type": "integer"
                  },
                  "cour": {
                    "type": "string"
                  },
                  "episode_count": {
                    "type": "integer"
                  },
                  "org_id": {
                    "type": "string"
                  },
                  "user_id": {
                    "type": "string"
                  }
                },
                "required": [
                  "title_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.anime.createTitle": {
      "post": {
        "summary": "Register a new anime title.",
        "operationId": "com.etzhayyim.anime.createTitle",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string"
                  },
                  "title_ja": {
                    "type": "string"
                  },
                  "genre": {
                    "type": "string"
                  },
                  "tags": {
                    "type": "string"
                  },
                  "synopsis": {
                    "type": "string"
                  },
                  "studio": {
                    "type": "string"
                  },
                  "source_type": {
                    "type": "string"
                  },
                  "status": {
                    "type": "string"
                  },
                  "org_id": {
                    "type": "string"
                  },
                  "user_id": {
                    "type": "string"
                  }
                },
                "required": [
                  "title"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.anime.getTitle": {
      "get": {
        "summary": "Get an anime title by ID including its seasons.",
        "operationId": "com.etzhayyim.anime.getTitle",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "title": {
                      "type": "object"
                    },
                    "seasons": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.anime.listEpisodes": {
      "get": {
        "summary": "List episodes for a season.",
        "operationId": "com.etzhayyim.anime.listEpisodes",
        "parameters": [
          {
            "name": "season_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "episodes": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "offset": {
                      "type": "integer"
                    },
                    "limit": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.anime.listSchedules": {
      "get": {
        "summary": "List broadcast schedules with optional filters by title and day of week.",
        "operationId": "com.etzhayyim.anime.listSchedules",
        "parameters": [
          {
            "name": "title_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "day_of_week",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "schedules": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "offset": {
                      "type": "integer"
                    },
                    "limit": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.anime.listTitles": {
      "get": {
        "summary": "List anime titles with optional genre and status filters.",
        "operationId": "com.etzhayyim.anime.listTitles",
        "parameters": [
          {
            "name": "genre",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "titles": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "offset": {
                      "type": "integer"
                    },
                    "limit": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.anime.searchTitles": {
      "get": {
        "summary": "Search anime titles by keyword across title, tags, and synopsis.",
        "operationId": "com.etzhayyim.anime.searchTitles",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "genre",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "titles": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "total": {
                      "type": "integer"
                    },
                    "offset": {
                      "type": "integer"
                    },
                    "limit": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.anime.submitReview": {
      "post": {
        "summary": "Submit a viewer review for an anime title.",
        "operationId": "com.etzhayyim.anime.submitReview",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title_id": {
                    "type": "string"
                  },
                  "reviewer_did": {
                    "type": "string"
                  },
                  "rating": {
                    "type": "integer"
                  },
                  "body": {
                    "type": "string"
                  },
                  "org_id": {
                    "type": "string"
                  },
                  "user_id": {
                    "type": "string"
                  }
                },
                "required": [
                  "title_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {}
  }
}
