{
  "openapi": "3.0.3",
  "info": {
    "title": "authz XRPC API",
    "version": "0.1.0"
  },
  "servers": [
    {
      "url": "https://authz.etzhayyim.com"
    }
  ],
  "paths": {
    "/xrpc/com.etzhayyim.authz.activateActorAccount": {
      "post": {
        "summary": "Deploy the caller's ERC-4337 smart account on the etzhayyim private chain (chainId 260425) by resolving the caller to an ERC725 root DID, then calling `etzhayyimActorRegistry.activate(rootDidHash, [packedPasskeyPubkey])`. Legacy did:etzhayyim/did:web sessions must already be linked through `etzhayyimRootIdentityRegistry`; this procedure no longer hashes legacy DIDs directly. Caller must hold a session (passkey-first policy). The Worker reads the caller's primary passkey credential from D1 (`passkey_credentials` table), strips the 0x04 prefix from the 65-byte uncompressed P-256 pubkey to get a 64-byte X||Y owner, signs a sealer-sponsored EIP-155 legacy tx with the SEALER_PRIV secret, and submits via `https://geth.etzhayyim.com/eth_sendRawTransaction`. Idempotent on the contract side (re-activating returns the existing address). On success returns the same shape as `getActorAccount`.",
        "operationId": "com.etzhayyim.authz.activateActorAccount",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "accountDid": {
                      "type": "string"
                    },
                    "rootDid": {
                      "type": "string"
                    },
                    "rootIdentity": {
                      "type": "string"
                    },
                    "didHash": {
                      "type": "string",
                      "description": "ERC725 root DID hash, never a direct did:etzhayyim/did:web hash."
                    },
                    "activated": {
                      "type": "boolean"
                    },
                    "smartAccount": {
                      "type": "string"
                    },
                    "chainId": {
                      "type": "integer"
                    },
                    "registryAddr": {
                      "type": "string"
                    },
                    "txHash": {
                      "type": "string",
                      "description": "Transaction hash returned by eth_sendRawTransaction (only on first activation; idempotent re-call returns the existing address with txHash omitted)"
                    }
                  },
                  "required": [
                    "accountDid",
                    "rootDid",
                    "didHash",
                    "activated"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.authz.getActorAccount": {
      "get": {
        "summary": "Resolve the caller's Coinbase Smart Wallet-compatible ERC-4337 execution-account address on the etzhayyim private chain (chainId 260425). AuthZ first resolves the caller's accountDid to an ERC725 root DID via `etzhayyimRootIdentityRegistry` when available, then reads `etzhayyimActorRegistry.actorByDid(rootDidHash)` via `https://geth.etzhayyim.com`. Returns `{activated:true, smartAccount}` if the actor has activated their account, or `{activated:false, didHash}` otherwise. Caller must hold a session (passkey-first policy, ADR-0074).",
        "operationId": "com.etzhayyim.authz.getActorAccount",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "accountDid": {
                      "type": "string"
                    },
                    "rootDid": {
                      "type": "string",
                      "description": "Canonical ERC725 root DID used for on-chain account lookup; equals accountDid for migrated sessions."
                    },
                    "rootIdentity": {
                      "type": "string",
                      "description": "ERC725 root identity contract address when resolved."
                    },
                    "didHash": {
                      "type": "string",
                      "description": "0x-prefixed 32-byte keccak256 of the canonical ERC725 root DID string. Legacy did:etzhayyim/did:web values are only accepted as facade lookup inputs and are not hashed directly."
                    },
                    "activated": {
                      "type": "boolean"
                    },
                    "smartAccount": {
                      "type": "string",
                      "description": "0x-prefixed 20-byte address (only when activated)"
                    },
                    "chainId": {
                      "type": "integer"
                    },
                    "registryAddr": {
                      "type": "string"
                    },
                    "rootRegistryAddr": {
                      "type": "string"
                    },
                    "migratedRoot": {
                      "type": "boolean"
                    },
                    "resolvedFromFacade": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "accountDid",
                    "rootDid",
                    "didHash",
                    "activated"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.authz.linkEthereumBegin": {
      "post": {
        "summary": "Issue an EIP-4361 (SIWE) message for the caller to sign with an Ethereum EOA or Coinbase Smart Wallet-compatible account. Caller must already hold a valid session (passkey-first policy, ADR-0074) that resolves to an ERC725 root identity. The returned message embeds the wallet address, the configured private chain ID, a server-issued nonce, and an expiration. The nonce is single-use and tied to the caller's ERC725 root DID; legacy did:etzhayyim/did:web values are accepted only as facade lookup inputs.",
        "operationId": "com.etzhayyim.authz.linkEthereumBegin",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "address": {
                    "type": "string",
                    "description": "Ethereum address (0x-prefixed, EIP-55 checksum tolerated)"
                  },
                  "statement": {
                    "type": "string",
                    "description": "Optional human-readable statement to embed in the SIWE message"
                  },
                  "walletKind": {
                    "type": "string",
                    "description": "Optional wallet hint, for example `coinbase-smart-wallet`."
                  }
                },
                "required": [
                  "address"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "EIP-4361 SIWE message to sign with personal_sign"
                    },
                    "nonce": {
                      "type": "string",
                      "description": "Single-use server nonce (hex)"
                    },
                    "chainId": {
                      "type": "integer",
                      "description": "Configured private chain ID"
                    },
                    "expiresAt": {
                      "type": "integer",
                      "description": "Unix epoch seconds when nonce expires"
                    }
                  },
                  "required": [
                    "message",
                    "nonce",
                    "chainId",
                    "expiresAt"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.authz.linkEthereumVerify": {
      "post": {
        "summary": "Verify an EIP-4361 SIWE message, then link the proven Ethereum EOA or ERC-1271 smart-account address to the caller's ERC725 root identity. Caller must already hold a valid session (passkey-first policy, ADR-0074) that resolves to an ERC725 root identity. EOA signatures are verified by ERC-191 recovery; Coinbase Smart Wallet / contract-account signatures are verified with ERC-1271 isValidSignature. On success, persists `provider='coinbase-smart-wallet'` for smart accounts or `provider='ethereum'` for plain EOA under the ERC725 root DID, recomputes actor.score, and emits the corresponding did:pkh:eip155:<chainId>:<address> wallet alias.",
        "operationId": "com.etzhayyim.authz.linkEthereumVerify",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "message": {
                    "type": "string",
                    "description": "Exact SIWE message returned by linkEthereumBegin"
                  },
                  "signature": {
                    "type": "string",
                    "description": "0x-prefixed signature produced by personal_sign. EOA signatures are normally 65-byte r||s||v; ERC-1271 smart-account signatures may be contract-defined."
                  },
                  "walletKind": {
                    "type": "string",
                    "description": "Optional wallet hint, for example `coinbase-smart-wallet`."
                  }
                },
                "required": [
                  "message",
                  "signature"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "address": {
                      "type": "string",
                      "description": "Lowercase 0x-prefixed Ethereum address that was recovered + verified"
                    },
                    "didPkh": {
                      "type": "string",
                      "description": "did:pkh:eip155:<chainId>:<address> alias (ADR-0074)"
                    },
                    "linkedMethods": {
                      "type": "array"
                    },
                    "actorScore": {
                      "type": "object"
                    },
                    "provider": {
                      "type": "string",
                      "description": "`coinbase-smart-wallet` for ERC-1271 smart accounts, otherwise `ethereum`."
                    },
                    "verificationKind": {
                      "type": "string",
                      "description": "`erc1271` or `eoa`."
                    }
                  },
                  "required": [
                    "ok",
                    "address",
                    "didPkh",
                    "linkedMethods",
                    "actorScore"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.authz.linkPasskeyAdditionalBegin": {
      "post": {
        "summary": "Begin WebAuthn registration for an additional passkey on the caller's existing account. Caller must already hold a valid session (the primary passkey already authenticated this session). The new credential is bound to the same DID, so future signins via either passkey resolve to the same account. Used for multi-device passkey enrolment (e.g. iPhone + MacBook + YubiKey).",
        "operationId": "com.etzhayyim.authz.linkPasskeyAdditionalBegin",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "label": {
                    "type": "string",
                    "description": "Optional human-readable label for the new device (e.g. \"iPhone 15\")"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "challenge": {
                      "type": "string"
                    },
                    "rp": {
                      "type": "object"
                    },
                    "user": {
                      "type": "object"
                    },
                    "pubKeyCredParams": {
                      "type": "array"
                    },
                    "timeout": {
                      "type": "integer"
                    },
                    "authenticatorSelection": {
                      "type": "object"
                    },
                    "attestation": {
                      "type": "string"
                    },
                    "userId": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "challenge",
                    "rp",
                    "user",
                    "pubKeyCredParams",
                    "timeout",
                    "authenticatorSelection",
                    "attestation",
                    "userId"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.authz.linkPasskeyAdditionalVerify": {
      "post": {
        "summary": "Verify the WebAuthn attestation produced by linkPasskeyAdditionalBegin and persist the new credential against the caller's existing account. The credential row remains in passkey_credentials with did=session.accountDid so primary signin works from this device next time; the linked_auth_methods mirror is stored under the ERC725 root DID when the caller has migrated. actor.score is unchanged (passkey already counts).",
        "operationId": "com.etzhayyim.authz.linkPasskeyAdditionalVerify",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "challenge": {
                    "type": "string"
                  },
                  "clientDataJson": {
                    "type": "string"
                  },
                  "attestationObject": {
                    "type": "string"
                  },
                  "label": {
                    "type": "string",
                    "description": "Optional human-readable label"
                  }
                },
                "required": [
                  "challenge",
                  "clientDataJson",
                  "attestationObject"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "credentialId": {
                      "type": "string"
                    },
                    "linkedMethods": {
                      "type": "array"
                    },
                    "actorScore": {
                      "type": "object"
                    }
                  },
                  "required": [
                    "ok",
                    "credentialId",
                    "linkedMethods",
                    "actorScore"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.authz.registerContributionSource": {
      "post": {
        "summary": "Register an OSS / media / dataset source for GCC royalties. Writes to vertex_contribution_source (off-chain). Safe owner must separately call ContributionRoyaltyRegistry.registerSource() on-chain to activate on-chain earnings; until then credits accumulate in pendingEarned.",
        "operationId": "com.etzhayyim.authz.registerContributionSource",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "canonicalId": {
                    "type": "string",
                    "description": "Stable identifier that becomes keccak256(canonicalId) = sourceHash. E.g. 'github.com/etzhayyim/etzhayyim-apps' or 'ipfs://bafyXXX'."
                  },
                  "contributorAddr": {
                    "type": "string",
                    "description": "Ethereum address (0x…) of the contributor's smart-account or EOA."
                  },
                  "royaltyBps": {
                    "type": "integer",
                    "description": "Royalty basis points (1-10000). Default 100 = 1%.",
                    "default": 100
                  },
                  "sourceType": {
                    "type": "string",
                    "description": "One of: oss, model, dataset, media, document."
                  },
                  "description": {
                    "type": "string"
                  },
                  "license": {
                    "type": "string",
                    "description": "SPDX identifier or 'proprietary'. E.g. 'MIT', 'Apache-2.0'."
                  }
                },
                "required": [
                  "canonicalId",
                  "contributorAddr",
                  "sourceType"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "sourceHash": {
                      "type": "string",
                      "description": "0x-prefixed keccak256(canonicalId)."
                    },
                    "vertexId": {
                      "type": "string"
                    },
                    "pendingOnChain": {
                      "type": "boolean",
                      "description": "Always true — Safe owner must call registerSource() on-chain to activate earnings."
                    },
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "ok",
                    "sourceHash",
                    "vertexId"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {}
  }
}
