{
  "openapi": "3.0.3",
  "info": {
    "title": "bim XRPC API",
    "version": "0.1.0"
  },
  "servers": [
    {
      "url": "https://bim.etzhayyim.com"
    }
  ],
  "paths": {
    "/xrpc/com.etzhayyim.apps.bim.annotateElement": {
      "post": {
        "summary": "Attach a review annotation (comment, BCF-style issue, approval state) to a specific element (wall / slab / door / ...). Stored as a domain record via Hyperdrive (vertex_bim_annotation per ADR-0036). BCF-compatible viewpoint (camera + selection) is recorded for click-to-recenter.",
        "operationId": "com.etzhayyim.apps.bim.annotateElement",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "elementId": {
                    "type": "string",
                    "description": "vertex_bim_element rkey (or IFC GlobalId)"
                  },
                  "storeyId": {
                    "type": "string"
                  },
                  "kind": {
                    "type": "string",
                    "enum": [
                      "comment",
                      "issue",
                      "approval",
                      "rfi",
                      "change"
                    ]
                  },
                  "severity": {
                    "type": "string",
                    "enum": [
                      "info",
                      "minor",
                      "major",
                      "blocker"
                    ],
                    "default": "info"
                  },
                  "text": {
                    "type": "string",
                    "maxLength": 4000
                  },
                  "viewpoint": {
                    "type": "object",
                    "description": "BCF-style viewpoint (camera + selection) for click-to-recenter",
                    "properties": {
                      "target": {
                        "type": "array",
                        "items": {
                          "type": "number"
                        },
                        "maxItems": 3
                      },
                      "distance": {
                        "type": "number"
                      },
                      "yaw": {
                        "type": "number"
                      },
                      "pitch": {
                        "type": "number"
                      },
                      "clippingPlanes": {
                        "type": "array",
                        "items": {}
                      },
                      "selectedElementIds": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "assignedTo": {
                    "type": "string",
                    "format": "did"
                  },
                  "replyTo": {
                    "type": "string"
                  }
                },
                "required": [
                  "elementId",
                  "kind",
                  "text"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "annotationUri": {
                      "type": "string"
                    },
                    "rkey": {
                      "type": "string"
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "datetime"
                    }
                  },
                  "required": [
                    "annotationUri",
                    "rkey",
                    "createdAt"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.apps.bim.getStoreyScene": {
      "get": {
        "summary": "Return a scene-graph projection of a single storey (IfcBuildingStorey) — the primary LOD unit for `bim.etzhayyim.com`. Includes contained spaces, elements (walls/slabs/columns/...), materials, and selectable element ids for anchored annotations. Consumed by kami-app-bim (run_bim_v2) or any Threlte client.",
        "operationId": "com.etzhayyim.apps.bim.getStoreyScene",
        "parameters": [
          {
            "name": "storeyId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lod",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "schematic",
                "shaded",
                "detailed"
              ],
              "default": "shaded"
            }
          },
          {
            "name": "includeSpaces",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "includeMeshBlobRefs",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "elementKinds",
            "in": "query",
            "required": false,
            "description": "optional filter by element kind",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "wall",
                  "slab",
                  "roof",
                  "column",
                  "beam",
                  "door",
                  "window",
                  "stair",
                  "railing",
                  "curtain",
                  "furniture",
                  "mepSegment",
                  "opening"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "storeyId": {
                      "type": "string"
                    },
                    "storeyName": {
                      "type": "string"
                    },
                    "buildingId": {
                      "type": "string"
                    },
                    "elevation": {
                      "type": "number",
                      "description": "metres above building datum"
                    },
                    "height": {
                      "type": "number",
                      "description": "storey height in metres"
                    },
                    "bounds": {
                      "type": "object",
                      "properties": {
                        "min": {
                          "type": "array",
                          "items": {
                            "type": "number"
                          },
                          "maxItems": 3
                        },
                        "max": {
                          "type": "array",
                          "items": {
                            "type": "number"
                          },
                          "maxItems": 3
                        }
                      }
                    },
                    "items": {
                      "type": "array",
                      "items": {}
                    },
                    "spaces": {
                      "type": "array",
                      "items": {}
                    },
                    "materials": {
                      "type": "array",
                      "items": {}
                    }
                  },
                  "required": [
                    "storeyId",
                    "storeyName",
                    "elevation",
                    "bounds",
                    "items"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.apps.bim.importIfc": {
      "post": {
        "summary": "Import an IFC STEP / IFC XML / IFC ZIP into a project. Heavy parsing (entities, geometry, psets) runs asynchronously in the CF Container job service; tessellation caches are written to B2 (Backblaze B2 S3-compatible) under `bim/meshes/{sha256}`. Returns a jobId; subscribe to com.etzhayyim.apps.bim.importJobEvent commits for progress.",
        "operationId": "com.etzhayyim.apps.bim.importIfc",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "projectId": {
                    "type": "string",
                    "description": "target BIM project rkey"
                  },
                  "blobKey": {
                    "type": "string",
                    "description": "SHA-256 hex of the uploaded IFC blob in B2 (Backblaze B2 S3-compatible) (`bim/blobs/{sha256}`)"
                  },
                  "format": {
                    "type": "string",
                    "enum": [
                      "ifcStep",
                      "ifcXml",
                      "ifcZip"
                    ]
                  },
                  "schemaVersion": {
                    "type": "string",
                    "enum": [
                      "IFC2X3",
                      "IFC4",
                      "IFC4X3"
                    ],
                    "default": "IFC4"
                  },
                  "tessellationTolerance": {
                    "type": "number",
                    "description": "sag tolerance in millimetres for mesh generation",
                    "default": 10
                  },
                  "mergeCoincidentVertices": {
                    "type": "boolean",
                    "default": true
                  }
                },
                "required": [
                  "projectId",
                  "blobKey",
                  "format"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "projectId": {
                      "type": "string"
                    },
                    "revisionId": {
                      "type": "string"
                    },
                    "jobId": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "queued",
                        "parsing",
                        "tessellating",
                        "ready",
                        "failed"
                      ]
                    }
                  },
                  "required": [
                    "projectId",
                    "revisionId",
                    "jobId",
                    "status"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.apps.bim.listSpaces": {
      "get": {
        "summary": "List IfcSpace entities in a project or storey (room schedule). Useful for room-pick navigation, occupancy dashboards, and area take-offs. Paginated per 60-apps rules.",
        "operationId": "com.etzhayyim.apps.bim.listSpaces",
        "parameters": [
          {
            "name": "projectId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "storeyId",
            "in": "query",
            "required": false,
            "description": "optional filter to a single storey",
            "schema": {
              "type": "string",
              "description": "optional filter to a single storey"
            }
          },
          {
            "name": "category",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "office",
                "residential",
                "circulation",
                "service",
                "mechanicalRoom",
                "outdoorCovered",
                "external",
                "other"
              ]
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 500,
              "default": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "spaceId": {
                            "type": "string"
                          },
                          "storeyId": {
                            "type": "string"
                          },
                          "buildingId": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "longName": {
                            "type": "string"
                          },
                          "label": {
                            "type": "string"
                          },
                          "category": {
                            "type": "string"
                          },
                          "grossAreaM2": {
                            "type": "number"
                          },
                          "netAreaM2": {
                            "type": "number"
                          },
                          "height": {
                            "type": "number"
                          }
                        },
                        "required": [
                          "spaceId",
                          "storeyId",
                          "name",
                          "category"
                        ]
                      }
                    },
                    "total": {
                      "type": "integer"
                    },
                    "offset": {
                      "type": "integer"
                    },
                    "limit": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "items",
                    "total",
                    "offset",
                    "limit"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.apps.bim.requestExport": {
      "post": {
        "summary": "Enqueue an export of a BIM revision (IFC STEP / IFC XML / glTF / BCF / Excel schedule). Heavy conversion runs in the CF Container job service. Returns jobId; the finished blob appears in B2 (Backblaze B2 S3-compatible) under `bim/exports/{sha256}` and is referenced by the job's completion commit.",
        "operationId": "com.etzhayyim.apps.bim.requestExport",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "revisionId": {
                    "type": "string"
                  },
                  "target": {
                    "type": "string",
                    "enum": [
                      "ifcStep",
                      "ifcXml",
                      "ifcZip",
                      "gltf",
                      "bcf",
                      "xlsx",
                      "pdf"
                    ]
                  },
                  "schemaVersion": {
                    "type": "string",
                    "enum": [
                      "IFC2X3",
                      "IFC4",
                      "IFC4X3"
                    ],
                    "default": "IFC4"
                  },
                  "scope": {
                    "type": "string",
                    "enum": [
                      "whole",
                      "storey",
                      "space",
                      "discipline"
                    ],
                    "default": "whole"
                  },
                  "scopeId": {
                    "type": "string",
                    "description": "rkey of the storey / space / discipline filter when scope != whole"
                  },
                  "includeQuantities": {
                    "type": "boolean",
                    "default": true
                  },
                  "includePropertySets": {
                    "type": "boolean",
                    "default": true
                  }
                },
                "required": [
                  "revisionId",
                  "target"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jobId": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "queued",
                        "running",
                        "ready",
                        "failed"
                      ]
                    },
                    "estimatedSeconds": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "jobId",
                    "status"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {}
  }
}
