{
  "openapi": "3.0.3",
  "info": {
    "title": "cad XRPC API",
    "version": "0.1.0"
  },
  "servers": [
    {
      "url": "https://cad.etzhayyim.com"
    }
  ],
  "paths": {
    "/xrpc/com.etzhayyim.apps.cad.addAnchoredComment": {
      "post": {
        "summary": "Add a comment anchored to a specific topology ref (face / edge / vertex) on a revision. Stored as a domain record via Hyperdrive (vertex_cad_comment per ADR-0036). Social announcement (app.bsky.feed.post) is derived automatically on first post of a thread.",
        "operationId": "com.etzhayyim.apps.cad.addAnchoredComment",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "revisionId": {
                    "type": "string"
                  },
                  "partOccurrencePath": {
                    "type": "string",
                    "description": "slash-joined assembly path (e.g. `root/gearbox/shaft-2/face-17`)"
                  },
                  "topologyRef": {
                    "type": "object",
                    "properties": {
                      "kind": {
                        "type": "string",
                        "enum": [
                          "face",
                          "edge",
                          "vertex"
                        ]
                      },
                      "topoId": {
                        "type": "string",
                        "description": "BREP topology id (u64)"
                      }
                    },
                    "required": [
                      "kind",
                      "topoId"
                    ]
                  },
                  "worldPosition": {
                    "type": "array",
                    "items": {
                      "type": "number"
                    },
                    "maxItems": 3
                  },
                  "cameraSnapshot": {
                    "type": "object",
                    "description": "camera state at comment creation for click-to-recenter",
                    "properties": {
                      "target": {
                        "type": "array",
                        "items": {
                          "type": "number"
                        },
                        "maxItems": 3
                      },
                      "distance": {
                        "type": "number"
                      },
                      "yaw": {
                        "type": "number"
                      },
                      "pitch": {
                        "type": "number"
                      }
                    }
                  },
                  "text": {
                    "type": "string",
                    "maxLength": 4000
                  },
                  "replyTo": {
                    "type": "string",
                    "description": "parent comment rkey for threaded replies"
                  }
                },
                "required": [
                  "revisionId",
                  "partOccurrencePath",
                  "topologyRef",
                  "worldPosition",
                  "text"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "commentUri": {
                      "type": "string"
                    },
                    "rkey": {
                      "type": "string"
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "datetime"
                    }
                  },
                  "required": [
                    "commentUri",
                    "rkey",
                    "createdAt"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.apps.cad.getRevisionScene": {
      "get": {
        "summary": "Return a scene-graph projection of a specific revision, consumable by kami-app-cad (run_cad_v2) or any Threlte client. Includes parts tree, tessellated meshes (or blob refs), materials, camera, bounds, and selectable topology ids for anchored comments.",
        "operationId": "com.etzhayyim.apps.cad.getRevisionScene",
        "parameters": [
          {
            "name": "revisionId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "representation",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "shaded",
                "wireframe",
                "exploded",
                "section"
              ],
              "default": "shaded"
            }
          },
          {
            "name": "lod",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "high",
                "medium",
                "low"
              ],
              "default": "medium"
            }
          },
          {
            "name": "includeMeshBlobRefs",
            "in": "query",
            "required": false,
            "description": "if true, large meshes are returned as `blobKey` refs instead of inline triangles",
            "schema": {
              "type": "boolean",
              "description": "if true, large meshes are returned as `blobKey` refs instead of inline triangles",
              "default": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "revisionId": {
                      "type": "string"
                    },
                    "modelId": {
                      "type": "string"
                    },
                    "units": {
                      "type": "string",
                      "enum": [
                        "metre",
                        "millimetre",
                        "centimetre",
                        "inch",
                        "foot"
                      ]
                    },
                    "bounds": {
                      "type": "object",
                      "description": "world AABB in model units",
                      "properties": {
                        "min": {
                          "type": "array",
                          "items": {
                            "type": "number"
                          },
                          "maxItems": 3
                        },
                        "max": {
                          "type": "array",
                          "items": {
                            "type": "number"
                          },
                          "maxItems": 3
                        }
                      }
                    },
                    "camera": {
                      "type": "object",
                      "properties": {
                        "target": {
                          "type": "array",
                          "items": {
                            "type": "number"
                          },
                          "maxItems": 3
                        },
                        "distance": {
                          "type": "number"
                        },
                        "yaw": {
                          "type": "number"
                        },
                        "pitch": {
                          "type": "number"
                        }
                      }
                    },
                    "partsTree": {},
                    "items": {
                      "type": "array",
                      "items": {}
                    },
                    "materials": {
                      "type": "array",
                      "items": {}
                    },
                    "selectionIds": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "revisionId",
                    "units",
                    "bounds",
                    "camera",
                    "partsTree",
                    "items"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.apps.cad.importCadFile": {
      "post": {
        "summary": "Import a CAD file (STEP / IGES / BREP / STL / glTF) into a workspace. Heavy parsing runs asynchronously in the CF Container job service; this procedure returns immediately with a jobId. The uploaded binary is content-addressed in B2 (Backblaze B2 S3-compatible) (SHA-256). Subscribe to com.etzhayyim.apps.cad.importJobEvent commits to track progress.",
        "operationId": "com.etzhayyim.apps.cad.importCadFile",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "workspaceId": {
                    "type": "string",
                    "description": "target workspace rkey"
                  },
                  "modelId": {
                    "type": "string",
                    "description": "target model rkey (omit to create a new model)"
                  },
                  "blobKey": {
                    "type": "string",
                    "description": "SHA-256 hex of the uploaded CAD blob in B2 (Backblaze B2 S3-compatible) (`cad/blobs/{sha256}`)"
                  },
                  "format": {
                    "type": "string",
                    "enum": [
                      "step",
                      "iges",
                      "brep",
                      "stl",
                      "gltf",
                      "obj"
                    ]
                  },
                  "units": {
                    "type": "string",
                    "enum": [
                      "metre",
                      "millimetre",
                      "centimetre",
                      "inch",
                      "foot"
                    ],
                    "default": "millimetre"
                  },
                  "mergeDuplicates": {
                    "type": "boolean",
                    "description": "snap coincident vertices during tessellation",
                    "default": true
                  },
                  "tessellationTolerance": {
                    "type": "number",
                    "description": "sag tolerance (model units) for mesh generation",
                    "default": 0.1
                  }
                },
                "required": [
                  "workspaceId",
                  "blobKey",
                  "format"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "modelId": {
                      "type": "string"
                    },
                    "revisionId": {
                      "type": "string"
                    },
                    "jobId": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "queued",
                        "parsing",
                        "tessellating",
                        "ready",
                        "failed"
                      ]
                    }
                  },
                  "required": [
                    "modelId",
                    "revisionId",
                    "jobId",
                    "status"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.apps.cad.listComments": {
      "get": {
        "summary": "List comments for a revision (optionally filtered by part occurrence path or resolution status). Paginated with offset/limit per 60-apps rules.",
        "operationId": "com.etzhayyim.apps.cad.listComments",
        "parameters": [
          {
            "name": "revisionId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "partOccurrencePath",
            "in": "query",
            "required": false,
            "description": "prefix match on assembly path",
            "schema": {
              "type": "string",
              "description": "prefix match on assembly path"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "open",
                "resolved",
                "all"
              ],
              "default": "open"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "rkey": {
                            "type": "string"
                          },
                          "authorDid": {
                            "type": "string",
                            "format": "did"
                          },
                          "text": {
                            "type": "string"
                          },
                          "partOccurrencePath": {
                            "type": "string"
                          },
                          "topologyRef": {},
                          "worldPosition": {
                            "type": "array",
                            "items": {
                              "type": "number"
                            }
                          },
                          "cameraSnapshot": {},
                          "replyTo": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string",
                            "enum": [
                              "open",
                              "resolved"
                            ]
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "datetime"
                          }
                        },
                        "required": [
                          "rkey",
                          "authorDid",
                          "text",
                          "createdAt"
                        ]
                      }
                    },
                    "total": {
                      "type": "integer"
                    },
                    "offset": {
                      "type": "integer"
                    },
                    "limit": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "items",
                    "total",
                    "offset",
                    "limit"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.apps.cad.requestExport": {
      "post": {
        "summary": "Enqueue an export of a revision to another format (STEP / IGES / glTF / STL / 2D drawing PDF/DXF). Heavy conversion runs in the CF Container job service. Returns jobId; the finished blob appears in B2 (Backblaze B2 S3-compatible) under `cad/exports/{sha256}` and is referenced by the job's completion commit.",
        "operationId": "com.etzhayyim.apps.cad.requestExport",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "revisionId": {
                    "type": "string"
                  },
                  "target": {
                    "type": "string",
                    "enum": [
                      "step",
                      "iges",
                      "brep",
                      "stl",
                      "gltf",
                      "obj",
                      "pdf",
                      "dxf"
                    ]
                  },
                  "units": {
                    "type": "string",
                    "enum": [
                      "metre",
                      "millimetre",
                      "centimetre",
                      "inch",
                      "foot"
                    ],
                    "default": "millimetre"
                  },
                  "drawingTemplate": {
                    "type": "string",
                    "description": "PDF/DXF drawing layout template key (required for 2D targets)"
                  },
                  "tessellationTolerance": {
                    "type": "number",
                    "default": 0.1
                  }
                },
                "required": [
                  "revisionId",
                  "target"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jobId": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "queued",
                        "running",
                        "ready",
                        "failed"
                      ]
                    },
                    "estimatedSeconds": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "jobId",
                    "status"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {}
  }
}
