{
  "openapi": "3.0.3",
  "info": {
    "title": "consent XRPC API",
    "version": "0.1.0"
  },
  "servers": [
    {
      "url": "https://consent.etzhayyim.com"
    }
  ],
  "paths": {
    "/xrpc/app.etzhayyim.consent.listConsentGrants": {
      "get": {
        "summary": "app.etzhayyim.consent.listConsentGrants",
        "operationId": "app.etzhayyim.consent.listConsentGrants",
        "parameters": [
          {
            "name": "grantorDid",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "granteeDid",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "scope",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "grants": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "cursor": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "grants"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/app.etzhayyim.consent.requestConsent": {
      "post": {
        "summary": "app.etzhayyim.consent.requestConsent",
        "operationId": "app.etzhayyim.consent.requestConsent",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "granteeDid": {
                    "type": "string"
                  },
                  "scope": {
                    "type": "string"
                  },
                  "purpose": {
                    "type": "string"
                  },
                  "ttl": {
                    "type": "integer"
                  }
                },
                "required": [
                  "granteeDid",
                  "scope"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "requestId": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "requestId",
                    "status"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/app.etzhayyim.consent.resolveConsent": {
      "get": {
        "summary": "app.etzhayyim.consent.resolveConsent",
        "operationId": "app.etzhayyim.consent.resolveConsent",
        "parameters": [
          {
            "name": "requestId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "requestId": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    },
                    "grantorDid": {
                      "type": "string"
                    },
                    "granteeDid": {
                      "type": "string"
                    },
                    "scope": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "requestId",
                    "status"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/app.etzhayyim.consent.revokeConsent": {
      "post": {
        "summary": "app.etzhayyim.consent.revokeConsent",
        "operationId": "app.etzhayyim.consent.revokeConsent",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "grantId": {
                    "type": "string"
                  }
                },
                "required": [
                  "grantId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "revoked": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "revoked"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {}
  }
}