{
  "openapi": "3.0.3",
  "info": {
    "title": "dmn XRPC API",
    "version": "0.1.0"
  },
  "servers": [
    {
      "url": "https://dmn.etzhayyim.com"
    }
  ],
  "paths": {
    "/xrpc/com.etzhayyim.dmn.evaluate": {
      "post": {
        "summary": "Evaluate a DMN 1.3 decision table. Supports hit policies: UNIQUE, FIRST, ANY, COLLECT, RULE_ORDER. Uses FEEL expression evaluation for conditions.",
        "operationId": "com.etzhayyim.dmn.evaluate",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "did": {
                    "type": "string",
                    "description": "Actor DID (optional, for graph lookup scope)"
                  },
                  "decisionId": {
                    "type": "string",
                    "description": "Decision key (maps to DmnModel.decision_key)"
                  },
                  "inputs": {
                    "type": "object",
                    "description": "Input variables keyed by input column label"
                  },
                  "dmnXml": {
                    "type": "string",
                    "description": "Optional inline DMN XML (bypasses graph lookup)"
                  }
                },
                "required": [
                  "decisionId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "outputs": {
                          "type": "array",
                          "items": {
                            "type": "object"
                          }
                        },
                        "hitPolicy": {
                          "type": "string"
                        },
                        "decisionId": {
                          "type": "string"
                        }
                      }
                    },
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "ok"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.dmn.getModel": {
      "get": {
        "summary": "Get a deployed DMN decision model by decision key.",
        "operationId": "com.etzhayyim.dmn.getModel",
        "parameters": [
          {
            "name": "decisionKey",
            "in": "query",
            "required": true,
            "description": "Decision definition key",
            "schema": {
              "type": "string",
              "description": "Decision definition key"
            }
          },
          {
            "name": "did",
            "in": "query",
            "required": false,
            "description": "Actor DID scope",
            "schema": {
              "type": "string",
              "description": "Actor DID scope"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "decisionKey": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "decisionType": {
                      "type": "string",
                      "description": "decisionTable, literalExpression, bkm"
                    },
                    "hitPolicy": {
                      "type": "string"
                    },
                    "aggregation": {
                      "type": "string"
                    },
                    "inputsJson": {
                      "type": "string"
                    },
                    "outputsJson": {
                      "type": "string"
                    },
                    "rulesJson": {
                      "type": "string"
                    },
                    "dmnXml": {
                      "type": "string"
                    },
                    "version": {
                      "type": "integer"
                    },
                    "status": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "decisionKey",
                    "status"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {}
  }
}
