{
  "openapi": "3.0.3",
  "info": {
    "title": "dns XRPC API",
    "version": "0.1.0"
  },
  "servers": [
    {
      "url": "https://dns.etzhayyim.com"
    }
  ],
  "paths": {
    "/xrpc/com.etzhayyim.dns.getTransferRequest": {
      "get": {
        "summary": "Server-side SELECT one transferRequest row by rkey (ADR-2605111200). Replaces direct Worker→Hyperdrive SELECT.",
        "operationId": "com.etzhayyim.dns.getTransferRequest",
        "parameters": [
          {
            "name": "rkey",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "request": {
                      "type": "object",
                      "properties": {
                        "rkey": {
                          "type": "string"
                        },
                        "domain": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string"
                        },
                        "actorDid": {
                          "type": "string"
                        },
                        "createdAt": {
                          "type": "string",
                          "format": "datetime"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.dns.putTransferOutcome": {
      "post": {
        "summary": "Server-side INSERT of a transferOutcome row into vertex_dns_transferOutcome (ADR-2605111200). Final terminal state of the Squarespace → Cloudflare transfer workflow.",
        "operationId": "com.etzhayyim.dns.putTransferOutcome",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "rkey": {
                    "type": "string"
                  },
                  "transferRequestUri": {
                    "type": "string"
                  },
                  "domain": {
                    "type": "string"
                  },
                  "result": {
                    "type": "string",
                    "enum": [
                      "success",
                      "failure",
                      "aborted"
                    ]
                  },
                  "zoneDid": {
                    "type": "string"
                  },
                  "cloudflareZoneId": {
                    "type": "string"
                  },
                  "failureReason": {
                    "type": "string",
                    "maxLength": 2048
                  },
                  "completedAt": {
                    "type": "string",
                    "format": "datetime"
                  }
                },
                "required": [
                  "rkey",
                  "transferRequestUri",
                  "domain",
                  "result",
                  "completedAt"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "vertexId": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "ok"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.dns.putTransferStep": {
      "post": {
        "summary": "Server-side INSERT of a transferStep row into vertex_dns_transferStep (ADR-2605111200). Replaces direct Worker→Hyperdrive INSERT. Caller is sqExporter / cfRegistrar.",
        "operationId": "com.etzhayyim.dns.putTransferStep",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "rkey": {
                    "type": "string",
                    "description": "Record key, unique per (actorDid, transferRequestUri, step)"
                  },
                  "transferRequestUri": {
                    "type": "string"
                  },
                  "step": {
                    "type": "string",
                    "enum": [
                      "disableAutoRenew",
                      "unlock",
                      "authCode",
                      "dnsExport",
                      "cfTransfer"
                    ]
                  },
                  "status": {
                    "type": "string",
                    "enum": [
                      "started",
                      "succeeded",
                      "failed",
                      "skipped"
                    ]
                  },
                  "actorDid": {
                    "type": "string"
                  },
                  "occurredAt": {
                    "type": "string",
                    "format": "datetime"
                  },
                  "errorMessage": {
                    "type": "string",
                    "maxLength": 1024
                  },
                  "bindZoneFileUri": {
                    "type": "string"
                  },
                  "cfTransferId": {
                    "type": "string"
                  }
                },
                "required": [
                  "rkey",
                  "transferRequestUri",
                  "step",
                  "status",
                  "actorDid",
                  "occurredAt"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "vertexId": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "ok"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.dns.transferFromSquarespace": {
      "post": {
        "summary": "Initiate a domain transfer from Squarespace to Cloudflare. Creates the com.etzhayyim.apps.dns.transferRequest record on the cfRegistrar sub-DID; the yorishiro-squarespace sqExporter picks it up via Follow and drives the 5-step release workflow. Requires ClassA (3 signers, high) approval before status transitions to approved.",
        "operationId": "com.etzhayyim.dns.transferFromSquarespace",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "domain": {
                    "type": "string",
                    "description": "FQDN to transfer (e.g. example.com). Must currently be held by Squarespace."
                  },
                  "requesterDid": {
                    "type": "string",
                    "description": "Optional: caller DID override. Defaults to the session DID."
                  },
                  "approvals": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "maxItems": 8
                  },
                  "note": {
                    "type": "string",
                    "maxLength": 512
                  }
                },
                "required": [
                  "domain"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "transferRequestUri": {
                      "type": "string",
                      "description": "AT URI of the created transferRequest record"
                    },
                    "transferRequestRkey": {
                      "type": "string",
                      "description": "rkey == projectConvoId for the per-transfer project convo"
                    },
                    "status": {
                      "type": "string",
                      "description": "approved only if 3 ClassA signers were supplied in-band",
                      "enum": [
                        "requested",
                        "approved"
                      ]
                    },
                    "missingApprovals": {
                      "type": "integer",
                      "description": "0..3"
                    }
                  },
                  "required": [
                    "transferRequestUri",
                    "transferRequestRkey",
                    "status"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ai_etzhayyim_dns_transferOutcome": {
        "type": "object",
        "properties": {
          "transferRequestUri": {
            "type": "string"
          },
          "domain": {
            "type": "string"
          },
          "result": {
            "type": "string",
            "enum": [
              "success",
              "failure",
              "aborted"
            ]
          },
          "zoneDid": {
            "type": "string",
            "description": "did:web:dns.etzhayyim.com:zone:{domain_slug} — populated on success"
          },
          "cloudflareZoneId": {
            "type": "string"
          },
          "failureReason": {
            "type": "string",
            "maxLength": 1024
          },
          "rollbackSteps": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "maxItems": 8
          },
          "completedAt": {
            "type": "string",
            "format": "datetime"
          }
        },
        "required": [
          "transferRequestUri",
          "domain",
          "result",
          "completedAt"
        ]
      },
      "ai_etzhayyim_dns_transferRequest": {
        "type": "object",
        "properties": {
          "domain": {
            "type": "string",
            "description": "FQDN being transferred (e.g. example.com)"
          },
          "fromRegistrar": {
            "type": "string",
            "description": "Source registrar (only squarespace supported in v1)",
            "enum": [
              "squarespace"
            ]
          },
          "toRegistrar": {
            "type": "string",
            "enum": [
              "cloudflare"
            ]
          },
          "requesterDid": {
            "type": "string",
            "description": "DID of user who initiated the transfer"
          },
          "cfRegistrarDid": {
            "type": "string",
            "description": "did:web:scndu0rf.etzhayyim.com:actor:cfRegistrar"
          },
          "sqExporterDid": {
            "type": "string",
            "description": "did:web:sqddf3sp.etzhayyim.com:actor:sqExporter"
          },
          "projectConvoId": {
            "type": "string",
            "description": "Convo room scoping all transferStep records"
          },
          "status": {
            "type": "string",
            "enum": [
              "requested",
              "approved",
              "in-progress",
              "completed",
              "failed",
              "rolled-back"
            ]
          },
          "approvals": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "maxItems": 8
          },
          "requestedAt": {
            "type": "string",
            "format": "datetime"
          }
        },
        "required": [
          "domain",
          "fromRegistrar",
          "toRegistrar",
          "requesterDid",
          "status",
          "requestedAt"
        ]
      },
      "ai_etzhayyim_dns_transferStep": {
        "type": "object",
        "properties": {
          "transferRequestUri": {
            "type": "string",
            "description": "AT URI of the parent com.etzhayyim.apps.dns.transferRequest"
          },
          "step": {
            "type": "string",
            "enum": [
              "disableAutoRenew",
              "unlock",
              "authCode",
              "dnsExport",
              "cfTransfer"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "started",
              "succeeded",
              "failed",
              "skipped"
            ]
          },
          "actorDid": {
            "type": "string",
            "description": "Which actor DID executed this step"
          },
          "authCodeEncrypted": {
            "type": "string",
            "description": "signal:v1:{ciphertext} — EPP/auth code. NEVER plaintext."
          },
          "bindZoneFileUri": {
            "type": "string",
            "description": "B2 blob URI for exported BIND zone file (step 4 only)"
          },
          "cfTransferId": {
            "type": "string",
            "description": "Cloudflare Registrar API transfer job id (step 5 only)"
          },
          "errorMessage": {
            "type": "string",
            "maxLength": 1024
          },
          "occurredAt": {
            "type": "string",
            "format": "datetime"
          }
        },
        "required": [
          "transferRequestUri",
          "step",
          "status",
          "occurredAt"
        ]
      }
    }
  }
}