{
  "openapi": "3.0.3",
  "info": {
    "title": "editor XRPC API",
    "version": "0.1.0"
  },
  "servers": [
    {
      "url": "https://editor.etzhayyim.com"
    }
  ],
  "paths": {
    "/xrpc/com.etzhayyim.apps.editor.createProject": {
      "post": {
        "summary": "com.etzhayyim.apps.editor.createProject",
        "operationId": "com.etzhayyim.apps.editor.createProject",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "maxLength": 200
                  },
                  "template": {
                    "type": "string"
                  }
                },
                "required": [
                  "name"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "projectId": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "template": {
                      "type": "string"
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "datetime"
                    }
                  },
                  "required": [
                    "projectId",
                    "name",
                    "createdAt"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.apps.editor.generate": {
      "post": {
        "summary": "com.etzhayyim.apps.editor.generate",
        "operationId": "com.etzhayyim.apps.editor.generate",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "projectId": {
                    "type": "string"
                  },
                  "prompt": {
                    "type": "string",
                    "maxLength": 8192
                  },
                  "targetPath": {
                    "type": "string"
                  },
                  "framework": {
                    "type": "string",
                    "enum": [
                      "react",
                      "svelte",
                      "vanilla"
                    ]
                  }
                },
                "required": [
                  "projectId",
                  "prompt"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "path": {
                      "type": "string"
                    },
                    "framework": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "model": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "path",
                    "framework",
                    "code",
                    "model"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.apps.editor.listFiles": {
      "get": {
        "summary": "com.etzhayyim.apps.editor.listFiles",
        "operationId": "com.etzhayyim.apps.editor.listFiles",
        "parameters": [
          {
            "name": "projectId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000,
              "default": 200
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "projectId": {
                      "type": "string"
                    },
                    "files": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ai_etzhayyim_apps_editor_editorFile"
                      }
                    },
                    "total": {
                      "type": "integer"
                    },
                    "offset": {
                      "type": "integer"
                    },
                    "limit": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "projectId",
                    "files"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.apps.editor.listProjects": {
      "get": {
        "summary": "com.etzhayyim.apps.editor.listProjects",
        "operationId": "com.etzhayyim.apps.editor.listProjects",
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "projects": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ai_etzhayyim_apps_editor_editorProject"
                      }
                    },
                    "total": {
                      "type": "integer"
                    },
                    "offset": {
                      "type": "integer"
                    },
                    "limit": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "projects"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.apps.editor.readFile": {
      "get": {
        "summary": "com.etzhayyim.apps.editor.readFile",
        "operationId": "com.etzhayyim.apps.editor.readFile",
        "parameters": [
          {
            "name": "projectId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "path",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "projectId": {
                      "type": "string"
                    },
                    "path": {
                      "type": "string"
                    },
                    "blobRef": {
                      "type": "string"
                    },
                    "sha256": {
                      "type": "string"
                    },
                    "mimeType": {
                      "type": "string"
                    },
                    "sizeBytes": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "projectId",
                    "path"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.apps.editor.writeFile": {
      "post": {
        "summary": "com.etzhayyim.apps.editor.writeFile",
        "operationId": "com.etzhayyim.apps.editor.writeFile",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "projectId": {
                    "type": "string"
                  },
                  "path": {
                    "type": "string",
                    "maxLength": 1024
                  },
                  "content": {
                    "type": "string"
                  },
                  "mimeType": {
                    "type": "string"
                  }
                },
                "required": [
                  "projectId",
                  "path",
                  "content"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "projectId": {
                      "type": "string"
                    },
                    "path": {
                      "type": "string"
                    },
                    "blobRef": {
                      "type": "string"
                    },
                    "sha256": {
                      "type": "string"
                    },
                    "sizeBytes": {
                      "type": "integer"
                    },
                    "mimeType": {
                      "type": "string"
                    },
                    "updatedAt": {
                      "type": "string",
                      "format": "datetime"
                    }
                  },
                  "required": [
                    "projectId",
                    "path",
                    "blobRef",
                    "sha256",
                    "sizeBytes",
                    "updatedAt"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ai_etzhayyim_apps_editor_editorFile": {
        "type": "object",
        "properties": {
          "projectId": {
            "type": "string"
          },
          "path": {
            "type": "string",
            "maxLength": 1024
          },
          "blobRef": {
            "type": "string"
          },
          "sha256": {
            "type": "string",
            "maxLength": 64,
            "minLength": 64
          },
          "sizeBytes": {
            "type": "integer",
            "minimum": 0
          },
          "mimeType": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string",
            "format": "datetime"
          },
          "orgId": {
            "type": "string"
          },
          "userId": {
            "type": "string"
          },
          "actorId": {
            "type": "string"
          }
        },
        "required": [
          "projectId",
          "path",
          "blobRef",
          "sha256",
          "sizeBytes",
          "mimeType",
          "updatedAt",
          "orgId",
          "userId",
          "actorId"
        ]
      },
      "ai_etzhayyim_apps_editor_editorProject": {
        "type": "object",
        "properties": {
          "projectId": {
            "type": "string"
          },
          "name": {
            "type": "string",
            "maxLength": 200
          },
          "template": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "datetime"
          },
          "orgId": {
            "type": "string"
          },
          "userId": {
            "type": "string"
          },
          "actorId": {
            "type": "string"
          }
        },
        "required": [
          "projectId",
          "name",
          "createdAt",
          "orgId",
          "userId",
          "actorId"
        ]
      }
    }
  }
}