{
  "openapi": "3.0.3",
  "info": {
    "title": "gameka XRPC API",
    "version": "0.1.0"
  },
  "servers": [
    {
      "url": "https://gameka.etzhayyim.com"
    }
  ],
  "paths": {
    "/xrpc/com.etzhayyim.gameka.generateGame": {
      "post": {
        "summary": "com.etzhayyim.gameka.generateGame",
        "operationId": "com.etzhayyim.gameka.generateGame",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "specId": {
                    "type": "string",
                    "description": "spec_id of a vertex_gameka_spec row produced by proposeGame."
                  }
                },
                "required": [
                  "specId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "artifactId": {
                      "type": "string"
                    },
                    "uri": {
                      "type": "string"
                    },
                    "wasmCid": {
                      "type": "string",
                      "description": "CIDv1-shape content hash of the kami-app source tree (P2). Becomes the wasm binary CID once the wasm-pack runner lands (P3)."
                    },
                    "wasmSize": {
                      "type": "integer"
                    },
                    "buildStatus": {
                      "type": "string",
                      "description": "sources_ready (P2) | building | built | failed."
                    }
                  },
                  "required": [
                    "artifactId",
                    "uri",
                    "wasmCid",
                    "buildStatus"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.gameka.playtestGame": {
      "post": {
        "summary": "Headless WebGPU playtest of a built kami-app artifact, scored by visual + perf critics. Closes the QA loop by deriving publishGame on pass, or proposeGame (revise) on fail with priorSpecs feedback.",
        "operationId": "com.etzhayyim.gameka.playtestGame",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "specId": {
                    "type": "string"
                  },
                  "iteration": {
                    "type": "integer",
                    "description": "Current QA loop iteration. 0 = first attempt; >=3 stops the loop without revise.",
                    "minimum": 0,
                    "maximum": 3
                  }
                },
                "required": [
                  "specId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "qaId": {
                      "type": "string"
                    },
                    "uri": {
                      "type": "string"
                    },
                    "visualScore": {
                      "type": "number"
                    },
                    "perfScore": {
                      "type": "number"
                    },
                    "combinedScore": {
                      "type": "number"
                    },
                    "publish": {
                      "type": "boolean"
                    },
                    "iteration": {
                      "type": "integer"
                    },
                    "outcome": {
                      "type": "string",
                      "description": "pass | revise | exhausted"
                    }
                  },
                  "required": [
                    "qaId",
                    "uri",
                    "combinedScore",
                    "publish",
                    "outcome"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.gameka.proposeGame": {
      "post": {
        "summary": "com.etzhayyim.gameka.proposeGame",
        "operationId": "com.etzhayyim.gameka.proposeGame",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "brief": {
                    "type": "string",
                    "maxLength": 2000
                  },
                  "iteration": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 3
                  },
                  "lineageParent": {
                    "type": "string"
                  },
                  "priorSpecs": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "slug": {
                          "type": "string"
                        },
                        "title": {
                          "type": "string"
                        },
                        "score": {
                          "type": "number"
                        },
                        "outcome": {
                          "type": "string"
                        },
                        "issuesJson": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "required": [
                  "brief"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "specId": {
                      "type": "string"
                    },
                    "uri": {
                      "type": "string"
                    },
                    "score": {
                      "type": "number"
                    },
                    "iterations": {
                      "type": "integer"
                    },
                    "modelId": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "specId",
                    "uri",
                    "score"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.gameka.publishGame": {
      "post": {
        "summary": "Mint a per-game sub-DID, write a gameTitle record, and post the launch announcement as the sub-DID. Triggered by playtestGame on outcome='pass'.",
        "operationId": "com.etzhayyim.gameka.publishGame",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "specId": {
                    "type": "string"
                  },
                  "artifactId": {
                    "type": "string"
                  },
                  "qaId": {
                    "type": "string"
                  }
                },
                "required": [
                  "specId",
                  "artifactId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "titleId": {
                      "type": "string"
                    },
                    "uri": {
                      "type": "string"
                    },
                    "subDid": {
                      "type": "string"
                    },
                    "slug": {
                      "type": "string"
                    },
                    "playUrl": {
                      "type": "string"
                    },
                    "postUri": {
                      "type": "string"
                    },
                    "version": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "titleId",
                    "uri",
                    "subDid",
                    "slug",
                    "playUrl"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.gameka.tickStudio": {
      "post": {
        "summary": "Autonomous studio tick — timer-started (R/PT2H), no XRPC caller. Scans media-gamers trends, builds a brief via LLM, and derives proposeGame when tick_live_mode=true. During the 14-day soak (tick_live_mode=false), only audit is emitted.",
        "operationId": "com.etzhayyim.gameka.tickStudio",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "outcome": {
                      "type": "string",
                      "description": "live | dryRun | skipped"
                    },
                    "brief": {
                      "type": "string"
                    },
                    "trendCount": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ai_etzhayyim_gameka_buildArtifact": {
        "type": "object",
        "properties": {
          "artifactId": {
            "type": "string"
          },
          "specId": {
            "type": "string"
          },
          "wasmCid": {
            "type": "string",
            "description": "CIDv1 (b base32 + raw codec + sha2-256) of the wasm binary, or of the source tree while build_status='sources_ready' (P2)."
          },
          "wasmSize": {
            "type": "integer"
          },
          "wasmUrl": {
            "type": "string",
            "description": "B2 presigned URL of the .wasm binary once the build completes; empty during P2."
          },
          "jsUrl": {
            "type": "string",
            "description": "B2 presigned URL of the wasm-bindgen JS glue (renamed to main.js for stable paths). Consumed by the playtest shell to dynamic-import the entry fn."
          },
          "buildLogUrl": {
            "type": "string"
          },
          "buildStatus": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "datetime"
          }
        },
        "required": [
          "artifactId",
          "specId",
          "wasmCid",
          "buildStatus",
          "createdAt"
        ]
      },
      "ai_etzhayyim_gameka_gameQa": {
        "type": "object",
        "properties": {
          "qaId": {
            "type": "string"
          },
          "specId": {
            "type": "string"
          },
          "artifactId": {
            "type": "string"
          },
          "iteration": {
            "type": "integer"
          },
          "screenshotCidsJson": {
            "type": "string",
            "description": "JSON array of B2 screenshot CIDs captured at frame timestamps."
          },
          "consoleErrorCount": {
            "type": "integer"
          },
          "fpsP50": {
            "type": "number"
          },
          "fpsP95": {
            "type": "number"
          },
          "sceneLoadMs": {
            "type": "integer"
          },
          "visualScore": {
            "type": "number"
          },
          "perfScore": {
            "type": "number"
          },
          "combinedScore": {
            "type": "number"
          },
          "publish": {
            "type": "boolean"
          },
          "outcome": {
            "type": "string"
          },
          "issuesJson": {
            "type": "string",
            "description": "JSON array of {category, severity, description} feeding the next revise iteration."
          },
          "criticModelId": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "datetime"
          }
        },
        "required": [
          "qaId",
          "specId",
          "artifactId",
          "combinedScore",
          "publish",
          "outcome",
          "createdAt"
        ]
      },
      "ai_etzhayyim_gameka_gameSpec": {
        "type": "object",
        "properties": {
          "specId": {
            "type": "string"
          },
          "brief": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "genre": {
            "type": "string"
          },
          "mechanic": {
            "type": "string",
            "description": "JSON-serialised game mechanic descriptor consumed by kami-codegen."
          },
          "scene": {
            "type": "string",
            "description": "JSON-serialised scene + camera + biome config (kami-pipelines adapters)."
          },
          "budgetUsd": {
            "type": "number"
          },
          "score": {
            "type": "number",
            "description": "Critic score 0-1, gates downstream generateGame derive."
          },
          "rationale": {
            "type": "string"
          },
          "iteration": {
            "type": "integer"
          },
          "lineageParent": {
            "type": "string",
            "description": "specId of the parent revision when iteration>0."
          },
          "modelId": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "datetime"
          }
        },
        "required": [
          "specId",
          "brief",
          "title",
          "slug",
          "score",
          "createdAt"
        ]
      },
      "ai_etzhayyim_gameka_gameTitle": {
        "type": "object",
        "properties": {
          "titleId": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "subDid": {
            "type": "string",
            "description": "Per-title path-based DID, e.g. did:web:gameka.etzhayyim.com:game:quarry-rune. Auto-served by host-sdk did.json (ADR-0023)."
          },
          "parentSpecId": {
            "type": "string"
          },
          "parentArtifactId": {
            "type": "string"
          },
          "parentQaId": {
            "type": "string"
          },
          "playUrl": {
            "type": "string",
            "description": "Public play URL, e.g. https://game-play.etzhayyim.com/{slug}. Resolves to a kami-app shell that loads the latest -built artefact for this title."
          },
          "version": {
            "type": "string",
            "description": "Title version string, defaults to v1. Subsequent revise iterations bump this."
          },
          "profileUri": {
            "type": "string",
            "description": "AT URI of the sub-DID's app.bsky.actor.profile record. Holds displayName=title, description=brief+playUrl, disclaimer (AI-Agent unofficial), and avatar reference. Created in publishGame.bpmn Task_RegisterProfile before the launch post so the post lands on a populated timeline."
          },
          "publishPostUri": {
            "type": "string",
            "description": "AT URI of the launch announcement post (app.bsky.feed.post by subDid)."
          },
          "avatarDataUri": {
            "type": "string",
            "description": "data:image/png;base64,… of the procedural identicon rendered from slug + biome by gameka.avatar.render (ADR 2604250900 P10). Used by the playtest shell as <link rel=\"icon\"> and og:image. Empty for pre-P10 titles."
          },
          "publishedAt": {
            "type": "string",
            "format": "datetime"
          },
          "createdAt": {
            "type": "string",
            "format": "datetime"
          }
        },
        "required": [
          "titleId",
          "slug",
          "title",
          "subDid",
          "parentSpecId",
          "parentArtifactId",
          "playUrl",
          "publishedAt",
          "createdAt"
        ]
      }
    }
  }
}
