{
  "openapi": "3.0.3",
  "info": {
    "title": "govAfg XRPC API",
    "version": "0.1.0"
  },
  "servers": [
    {
      "url": "https://govAfg.etzhayyim.com"
    }
  ],
  "paths": {
    "/xrpc/com.etzhayyim.govAfg.followSiteDeps": {
      "post": {
        "summary": "Create graph-visible site dependency follow records for Afghanistan government organizations.",
        "operationId": "com.etzhayyim.govAfg.followSiteDeps",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "limit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 50,
                    "default": 15
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "followed": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.govAfg.heartbeatTick": {
      "post": {
        "summary": "Run the Afghanistan government actor scheduled maintenance loop through AgentGateway MCP to pod-side LangServer.",
        "operationId": "com.etzhayyim.govAfg.heartbeatTick",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "seedLimit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 100,
                    "default": 30
                  },
                  "registerLimit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 50,
                    "default": 10
                  },
                  "followLimit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 50,
                    "default": 15
                  },
                  "ingestLimit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 50,
                    "default": 5
                  },
                  "shinkaLimit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 5,
                    "default": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "seeded": {
                      "type": "integer"
                    },
                    "registered": {
                      "type": "integer"
                    },
                    "followed": {
                      "type": "integer"
                    },
                    "wetUpdated": {
                      "type": "integer"
                    },
                    "shinkaPosted": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.govAfg.listOrgs": {
      "get": {
        "summary": "List Afghanistan government organizations by tier.",
        "operationId": "com.etzhayyim.govAfg.listOrgs",
        "parameters": [
          {
            "name": "orgTier",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "minimum": 1,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "orgs": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "path": {
                            "type": "string"
                          },
                          "did": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "nameEn": {
                            "type": "string"
                          },
                          "website": {
                            "type": "string"
                          },
                          "didRegistered": {
                            "type": "boolean"
                          }
                        },
                        "required": [
                          "path",
                          "did",
                          "name",
                          "nameEn",
                          "website",
                          "didRegistered"
                        ]
                      }
                    },
                    "total": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.govAfg.registerDIDs": {
      "post": {
        "summary": "Register graph-visible DID records for Afghanistan government organizations.",
        "operationId": "com.etzhayyim.govAfg.registerDIDs",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "limit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 50,
                    "default": 10
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "registered": {
                      "type": "integer"
                    },
                    "dids": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.govAfg.resolveOrgPath": {
      "get": {
        "summary": "Resolve an Afghanistan government organization path to its actor DID and display metadata.",
        "operationId": "com.etzhayyim.govAfg.resolveOrgPath",
        "parameters": [
          {
            "name": "path",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "did": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "nameEn": {
                      "type": "string"
                    },
                    "website": {
                      "type": "string"
                    },
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.govAfg.seedOrgs": {
      "post": {
        "summary": "Seed Afghanistan central ministry and province organization rows into the graph.",
        "operationId": "com.etzhayyim.govAfg.seedOrgs",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "limit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 100,
                    "default": 30
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "seeded": {
                      "type": "integer"
                    },
                    "remaining": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.govAfg.shinka": {
      "post": {
        "summary": "Post a periodic graph-visible Afghanistan government organization update.",
        "operationId": "com.etzhayyim.govAfg.shinka",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "limit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 5,
                    "default": 1
                  },
                  "postUpdates": {
                    "type": "boolean",
                    "default": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "posted": {
                      "type": "integer"
                    },
                    "touched": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.govAfg.syncWetUpdates": {
      "post": {
        "summary": "Sweep site wet chunks and reflect updated Afghanistan government organization content.",
        "operationId": "com.etzhayyim.govAfg.syncWetUpdates",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "limit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 50,
                    "default": 10
                  },
                  "postUpdates": {
                    "type": "boolean",
                    "default": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "checked": {
                      "type": "integer"
                    },
                    "updated": {
                      "type": "integer"
                    },
                    "posted": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {}
  }
}
