{
  "openapi": "3.0.3",
  "info": {
    "title": "govInd XRPC API",
    "version": "0.1.0"
  },
  "servers": [
    {
      "url": "https://govInd.etzhayyim.com"
    }
  ],
  "paths": {
    "/xrpc/app.etzhayyim.govInd.followSiteDeps": {
      "post": {
        "summary": "Follow site dependency actors for India government.",
        "operationId": "app.etzhayyim.govInd.followSiteDeps",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "limit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 50,
                    "default": 15
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "followed": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/app.etzhayyim.govInd.getBpmnProcess": {
      "get": {
        "summary": "Get one Government of India BPMN process index entry by processId or bpmnRef.",
        "operationId": "app.etzhayyim.govInd.getBpmnProcess",
        "parameters": [
          {
            "name": "processId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bpmnRef",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "processId": {
                      "type": "string"
                    },
                    "processName": {
                      "type": "string"
                    },
                    "kind": {
                      "type": "string"
                    },
                    "bpmnRef": {
                      "type": "string"
                    },
                    "taskCount": {
                      "type": "integer"
                    },
                    "flowCount": {
                      "type": "integer"
                    },
                    "langserverTaskCount": {
                      "type": "integer"
                    },
                    "bpmnXmlAvailable": {
                      "type": "boolean"
                    },
                    "viewerUrl": {
                      "type": "string"
                    },
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/app.etzhayyim.govInd.heartbeatTick": {
      "post": {
        "summary": "Run the India government actor scheduled maintenance loop through AgentGateway MCP to pod-side LangServer.",
        "operationId": "app.etzhayyim.govInd.heartbeatTick",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "seedLimit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 100,
                    "default": 30
                  },
                  "registerLimit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 50,
                    "default": 10
                  },
                  "followLimit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 50,
                    "default": 15
                  },
                  "ingestLimit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 50,
                    "default": 5
                  },
                  "shinkaLimit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 5,
                    "default": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "seeded": {
                      "type": "integer"
                    },
                    "registered": {
                      "type": "integer"
                    },
                    "followed": {
                      "type": "integer"
                    },
                    "wetUpdated": {
                      "type": "integer"
                    },
                    "shinkaPosted": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/app.etzhayyim.govInd.listBpmnDefs": {
      "get": {
        "summary": "List Government of India BPMN definitions from the bundled administrative process index.",
        "operationId": "app.etzhayyim.govInd.listBpmnDefs",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "description": "Search process id, name, or BPMN reference.",
            "schema": {
              "type": "string",
              "description": "Search process id, name, or BPMN reference."
            }
          },
          {
            "name": "kind",
            "in": "query",
            "required": false,
            "description": "Optional process bucket such as district, state, ministry, ut, health, finance.",
            "schema": {
              "type": "string",
              "description": "Optional process bucket such as district, state, ministry, ut, health, finance."
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "processes": {
                      "type": "array",
                      "items": {}
                    },
                    "total": {
                      "type": "integer"
                    },
                    "offset": {
                      "type": "integer"
                    },
                    "limit": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "processes",
                    "total",
                    "offset",
                    "limit"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/app.etzhayyim.govInd.listOrgs": {
      "get": {
        "summary": "List India government organization graph records.",
        "operationId": "app.etzhayyim.govInd.listOrgs",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "orgs": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "did": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "website": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "total": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/app.etzhayyim.govInd.registerDIDs": {
      "post": {
        "summary": "Register DIDs for India government organizations.",
        "operationId": "app.etzhayyim.govInd.registerDIDs",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "limit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 50,
                    "default": 10
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "registered": {
                      "type": "integer"
                    },
                    "dids": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/app.etzhayyim.govInd.resolveOrgPath": {
      "get": {
        "summary": "Resolve a India government organization path to its graph record.",
        "operationId": "app.etzhayyim.govInd.resolveOrgPath",
        "parameters": [
          {
            "name": "path",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "did": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "nameEn": {
                      "type": "string"
                    },
                    "website": {
                      "type": "string"
                    },
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/app.etzhayyim.govInd.seedOrgs": {
      "post": {
        "summary": "Seed initial India government organization records into the graph.",
        "operationId": "app.etzhayyim.govInd.seedOrgs",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "limit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 200,
                    "default": 50
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "seeded": {
                      "type": "integer"
                    },
                    "remaining": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/app.etzhayyim.govInd.shinka": {
      "post": {
        "summary": "Post a periodic graph-visible India government organization update.",
        "operationId": "app.etzhayyim.govInd.shinka",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "limit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 5,
                    "default": 1
                  },
                  "postUpdates": {
                    "type": "boolean",
                    "default": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "posted": {
                      "type": "integer"
                    },
                    "touched": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/app.etzhayyim.govInd.syncWetUpdates": {
      "post": {
        "summary": "Sync recent India government organization changes to graph.",
        "operationId": "app.etzhayyim.govInd.syncWetUpdates",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "limit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 50,
                    "default": 10
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "checked": {
                      "type": "integer"
                    },
                    "updated": {
                      "type": "integer"
                    },
                    "posted": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {}
  }
}