{
  "openapi": "3.0.3",
  "info": {
    "title": "govUzb XRPC API",
    "version": "0.1.0"
  },
  "servers": [
    {
      "url": "https://govUzb.etzhayyim.com"
    }
  ],
  "paths": {
    "/xrpc/ai.gftd.govUzb.followSiteDeps": {
      "post": {
        "summary": "Follow site dependency actors for Uzbekistan government.",
        "operationId": "ai.gftd.govUzb.followSiteDeps",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "limit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 50,
                    "default": 15
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "followed": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/ai.gftd.govUzb.heartbeatTick": {
      "post": {
        "summary": "Run the Uzbekistan government actor scheduled maintenance loop through AgentGateway MCP to pod-side LangServer.",
        "operationId": "ai.gftd.govUzb.heartbeatTick",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "seedLimit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 100,
                    "default": 30
                  },
                  "registerLimit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 50,
                    "default": 10
                  },
                  "followLimit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 50,
                    "default": 15
                  },
                  "ingestLimit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 50,
                    "default": 5
                  },
                  "shinkaLimit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 5,
                    "default": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "seeded": {
                      "type": "integer"
                    },
                    "registered": {
                      "type": "integer"
                    },
                    "followed": {
                      "type": "integer"
                    },
                    "wetUpdated": {
                      "type": "integer"
                    },
                    "shinkaPosted": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/ai.gftd.govUzb.listOrgs": {
      "get": {
        "summary": "List Uzbekistan government organization graph records.",
        "operationId": "ai.gftd.govUzb.listOrgs",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "orgs": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "did": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "website": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "total": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/ai.gftd.govUzb.registerDIDs": {
      "post": {
        "summary": "Register DIDs for Uzbekistan government organizations.",
        "operationId": "ai.gftd.govUzb.registerDIDs",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "limit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 50,
                    "default": 10
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "registered": {
                      "type": "integer"
                    },
                    "dids": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/ai.gftd.govUzb.resolveOrgPath": {
      "get": {
        "summary": "Resolve a Uzbekistan government organization path to its graph record.",
        "operationId": "ai.gftd.govUzb.resolveOrgPath",
        "parameters": [
          {
            "name": "path",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "did": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "nameEn": {
                      "type": "string"
                    },
                    "website": {
                      "type": "string"
                    },
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/ai.gftd.govUzb.seedOrgs": {
      "post": {
        "summary": "Seed initial Uzbekistan government organization records into the graph.",
        "operationId": "ai.gftd.govUzb.seedOrgs",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "limit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 200,
                    "default": 50
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "seeded": {
                      "type": "integer"
                    },
                    "remaining": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/ai.gftd.govUzb.shinka": {
      "post": {
        "summary": "Post a periodic graph-visible Uzbekistan government organization update.",
        "operationId": "ai.gftd.govUzb.shinka",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "limit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 5,
                    "default": 1
                  },
                  "postUpdates": {
                    "type": "boolean",
                    "default": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "posted": {
                      "type": "integer"
                    },
                    "touched": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/ai.gftd.govUzb.syncWetUpdates": {
      "post": {
        "summary": "Sync recent Uzbekistan government organization changes to graph.",
        "operationId": "ai.gftd.govUzb.syncWetUpdates",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "limit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 50,
                    "default": 10
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "checked": {
                      "type": "integer"
                    },
                    "updated": {
                      "type": "integer"
                    },
                    "posted": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {}
  }
}