{
  "openapi": "3.0.3",
  "info": {
    "title": "gtin XRPC API",
    "version": "0.1.0"
  },
  "servers": [
    {
      "url": "https://gtin.etzhayyim.com"
    }
  ],
  "paths": {
    "/xrpc/com.etzhayyim.gtin.lookupProduct": {
      "post": {
        "summary": "com.etzhayyim.gtin.lookupProduct",
        "operationId": "com.etzhayyim.gtin.lookupProduct",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "productId": {
                    "type": "string"
                  },
                  "gtin": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "product": {
                      "type": "object"
                    }
                  },
                  "required": [
                    "product"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.gtin.registerProduct": {
      "post": {
        "summary": "com.etzhayyim.gtin.registerProduct",
        "operationId": "com.etzhayyim.gtin.registerProduct",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "productId": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "brand": {
                    "type": "string"
                  },
                  "model": {
                    "type": "string"
                  },
                  "gtin": {
                    "type": "string"
                  },
                  "jan": {
                    "type": "string"
                  },
                  "upc": {
                    "type": "string"
                  },
                  "ean": {
                    "type": "string"
                  },
                  "packSize": {
                    "type": "string"
                  },
                  "category": {
                    "type": "string"
                  }
                },
                "required": [
                  "name"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "productId": {
                      "type": "string"
                    },
                    "productDid": {
                      "type": "string"
                    },
                    "canonicalGtin14": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "productId",
                    "productDid"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.gtin.validateGtin": {
      "post": {
        "summary": "com.etzhayyim.gtin.validateGtin",
        "operationId": "com.etzhayyim.gtin.validateGtin",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "code": {
                    "type": "string"
                  }
                },
                "required": [
                  "code"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "valid": {
                      "type": "boolean"
                    },
                    "codeType": {
                      "type": "string"
                    },
                    "normalized": {
                      "type": "string"
                    },
                    "canonicalGtin14": {
                      "type": "string"
                    },
                    "checkDigit": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "valid"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ai_etzhayyim_gtin_product": {
        "type": "object",
        "properties": {
          "productId": {
            "type": "string"
          },
          "did": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "brand": {
            "type": "string"
          },
          "model": {
            "type": "string"
          },
          "gtin": {
            "type": "string"
          },
          "jan": {
            "type": "string"
          },
          "upc": {
            "type": "string"
          },
          "ean": {
            "type": "string"
          },
          "packSize": {
            "type": "string"
          },
          "category": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "datetime"
          },
          "updatedAt": {
            "type": "string",
            "format": "datetime"
          }
        },
        "required": [
          "productId",
          "did",
          "name"
        ]
      }
    }
  }
}