{
  "openapi": "3.0.3",
  "info": {
    "title": "houshi XRPC API",
    "version": "0.1.0"
  },
  "servers": [
    {
      "url": "https://houshi.etzhayyim.com"
    }
  ],
  "paths": {
    "/xrpc/com.etzhayyim.houshi.germinate": {
      "post": {
        "summary": "Germinate (revive) a dormant spore into an active kobo agent. Requires quorum_n custodian confirmations. Sets germinated_at on vertex_houshi_spore and re-spawns vertex_kobo_agent from blob_cbor.",
        "operationId": "com.etzhayyim.houshi.germinate",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "sporeVertexId": {
                    "type": "string",
                    "description": "Spore to germinate"
                  },
                  "revivalKey": {
                    "type": "string",
                    "description": "Revival key matching revival_key_hint"
                  },
                  "newAgentDid": {
                    "type": "string",
                    "description": "DID for the revived agent (may differ from original)"
                  }
                },
                "required": [
                  "sporeVertexId",
                  "revivalKey",
                  "newAgentDid"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "agentVertexId": {
                      "type": "string"
                    },
                    "agentDid": {
                      "type": "string"
                    },
                    "prionsRestored": {
                      "type": "integer"
                    },
                    "germinatedAt": {
                      "type": "string"
                    },
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "agentVertexId",
                    "agentDid"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.houshi.listSpores": {
      "get": {
        "summary": "List spores in custody by a custodian DID, or spores emitted by an origin agent. Excludes already-germinated spores by default.",
        "operationId": "com.etzhayyim.houshi.listSpores",
        "parameters": [
          {
            "name": "custodianDid",
            "in": "query",
            "required": false,
            "description": "Filter by custodian DID",
            "schema": {
              "type": "string",
              "description": "Filter by custodian DID"
            }
          },
          {
            "name": "originAgentDid",
            "in": "query",
            "required": false,
            "description": "Filter by origin agent DID",
            "schema": {
              "type": "string",
              "description": "Filter by origin agent DID"
            }
          },
          {
            "name": "includeGerminated",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "spores": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "vertexId": {
                            "type": "string"
                          },
                          "originAgentDid": {
                            "type": "string"
                          },
                          "quorumN": {
                            "type": "integer"
                          },
                          "custodyCount": {
                            "type": "integer"
                          },
                          "germinatedAt": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "total": {
                      "type": "integer"
                    },
                    "offset": {
                      "type": "integer"
                    },
                    "limit": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "spores",
                    "total",
                    "offset",
                    "limit"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.houshi.storeSpore": {
      "post": {
        "summary": "Store a spore blob as custodian. Called by peer agents accepting custody during sporulation. Confirms edge_houshi_custody.",
        "operationId": "com.etzhayyim.houshi.storeSpore",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "sporeVertexId": {
                    "type": "string",
                    "description": "vertex_houshi_spore vertex_id"
                  },
                  "custodianDid": {
                    "type": "string",
                    "description": "DID of this custodian"
                  }
                },
                "required": [
                  "sporeVertexId",
                  "custodianDid"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "custodyEdgeId": {
                      "type": "string"
                    },
                    "confirmed": {
                      "type": "boolean"
                    },
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "custodyEdgeId",
                    "confirmed"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {}
  }
}
