{
  "openapi": "3.0.3",
  "info": {
    "title": "isbn XRPC API",
    "version": "0.1.0"
  },
  "servers": [
    {
      "url": "https://isbn.etzhayyim.com"
    }
  ],
  "paths": {
    "/xrpc/com.etzhayyim.isbn.coverage": {
      "get": {
        "summary": "Coverage report — books per language / jurisdiction / PD ratio.",
        "operationId": "com.etzhayyim.isbn.coverage",
        "parameters": [
          {
            "name": "groupBy",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "language",
                "jurisdiction"
              ],
              "default": "language"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {}
                    },
                    "totalBooks": {
                      "type": "integer"
                    },
                    "pdBooks": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "items",
                    "totalBooks",
                    "pdBooks"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.isbn.list": {
      "get": {
        "summary": "List books with optional language / registration group / source / PD filter.",
        "operationId": "com.etzhayyim.isbn.list",
        "parameters": [
          {
            "name": "language",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "registrationGroup",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "source",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "publicDomainOnly",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {}
                    },
                    "offset": {
                      "type": "integer"
                    },
                    "limit": {
                      "type": "integer"
                    },
                    "total": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "items",
                    "offset",
                    "limit",
                    "total"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.isbn.lookup": {
      "get": {
        "summary": "Lookup a book by ISBN-13 / ISBN-10.",
        "operationId": "com.etzhayyim.isbn.lookup",
        "parameters": [
          {
            "name": "isbn",
            "in": "query",
            "required": true,
            "description": "ISBN-13 or ISBN-10 (hyphens optional)",
            "schema": {
              "type": "string",
              "description": "ISBN-13 or ISBN-10 (hyphens optional)"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "book": {},
                    "copyright": {},
                    "fulltext": {}
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ai_etzhayyim_isbn_book": {
        "type": "object",
        "properties": {
          "isbn13": {
            "type": "string",
            "description": "ISBN-13 with no hyphens"
          },
          "isbn10": {
            "type": "string"
          },
          "title": {
            "type": "string",
            "maxLength": 1000
          },
          "subtitle": {
            "type": "string",
            "maxLength": 1000
          },
          "authors": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "publisherPrefix": {
            "type": "string"
          },
          "publicationYear": {
            "type": "integer"
          },
          "language": {
            "type": "string",
            "description": "ISO 639-1 / 639-3"
          },
          "registrationGroup": {
            "type": "string",
            "description": "ISBN registration group (0=eng, 4=jpn, etc.)"
          },
          "pageCount": {
            "type": "integer"
          },
          "bisacSubjects": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "source": {
            "type": "string",
            "description": "openlibrary | aozora | gutenberg | ndl | hathitrust | europeana"
          },
          "sourceUrl": {
            "type": "string",
            "format": "uri"
          },
          "collectedAt": {
            "type": "string",
            "format": "datetime"
          }
        },
        "required": [
          "isbn13",
          "title",
          "collectedAt"
        ]
      }
    }
  }
}
