{
  "openapi": "3.0.3",
  "info": {
    "title": "isin XRPC API",
    "version": "0.1.0"
  },
  "servers": [
    {
      "url": "https://isin.etzhayyim.com"
    }
  ],
  "paths": {
    "/xrpc/com.etzhayyim.isin.getDashboard": {
      "get": {
        "summary": "Auto-generated stub lexicon (F-Plan F2 bootstrap 2026-04-13). Tighten schema when migrating the app.",
        "operationId": "com.etzhayyim.isin.getDashboard",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total": {
                      "type": "string"
                    },
                    "figiEnriched": {
                      "type": "string"
                    },
                    "isinPending": {
                      "type": "string"
                    },
                    "isinOk": {
                      "type": "string"
                    },
                    "coveragePct": {
                      "type": "string"
                    },
                    "byCountry": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.isin.getSecurity": {
      "get": {
        "summary": "Get a security by ISIN code or DID.",
        "operationId": "com.etzhayyim.isin.getSecurity",
        "parameters": [
          {
            "name": "did",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "did"
            }
          },
          {
            "name": "isin",
            "in": "query",
            "required": false,
            "description": "12-character ISO 6166 ISIN (alternative lookup key)",
            "schema": {
              "type": "string",
              "description": "12-character ISO 6166 ISIN (alternative lookup key)"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "did": {
                      "type": "string",
                      "format": "did"
                    },
                    "isin": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "issuerLei": {
                      "type": "string",
                      "description": "ISO 17442 LEI of issuer"
                    },
                    "issuerDid": {
                      "type": "string",
                      "description": "legal-entity DID",
                      "format": "did"
                    },
                    "assetClass": {
                      "type": "string",
                      "enum": [
                        "equity",
                        "debt",
                        "derivative",
                        "fund",
                        "commodity",
                        "index",
                        "currency"
                      ]
                    },
                    "cfi": {
                      "type": "string",
                      "description": "ISO 10962 Classification of Financial Instruments code"
                    },
                    "currency": {
                      "type": "string"
                    },
                    "country": {
                      "type": "string",
                      "description": "ISO 3166-1 alpha-3"
                    },
                    "exchangeMic": {
                      "type": "string",
                      "description": "ISO 10383 Market Identifier Code"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.isin.securityRegistry.collectEntityIR": {
      "post": {
        "summary": "Auto-generated stub lexicon (F-Plan F2 bootstrap 2026-04-13). Tighten schema when migrating the app.",
        "operationId": "com.etzhayyim.isin.securityRegistry.collectEntityIR",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "cik": {
                    "type": "number"
                  }
                },
                "required": [
                  "cik"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.isin.securityRegistry.collectJPEntityIR": {
      "post": {
        "summary": "Auto-generated stub lexicon (F-Plan F2 bootstrap 2026-04-13). Tighten schema when migrating the app.",
        "operationId": "com.etzhayyim.isin.securityRegistry.collectJPEntityIR",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.isin.securityRegistry.collectJPSecurities": {
      "post": {
        "summary": "Auto-generated stub lexicon (F-Plan F2 bootstrap 2026-04-13). Tighten schema when migrating the app.",
        "operationId": "com.etzhayyim.isin.securityRegistry.collectJPSecurities",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "from": {
                    "type": "number"
                  },
                  "count": {
                    "type": "number"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.isin.securityRegistry.collectSecurities": {
      "post": {
        "summary": "Auto-generated stub lexicon (F-Plan F2 bootstrap 2026-04-13). Tighten schema when migrating the app.",
        "operationId": "com.etzhayyim.isin.securityRegistry.collectSecurities",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "limit": {
                    "type": "number"
                  },
                  "offset": {
                    "type": "number"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.isin.securityRegistry.enrichISIN": {
      "post": {
        "summary": "Auto-generated stub lexicon (F-Plan F2 bootstrap 2026-04-13). Tighten schema when migrating the app.",
        "operationId": "com.etzhayyim.isin.securityRegistry.enrichISIN",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "cik": {
                    "type": "number"
                  }
                },
                "required": [
                  "cik"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.isin.securityRegistry.getSecurity": {
      "get": {
        "summary": "Auto-generated stub lexicon (F-Plan F2 bootstrap 2026-04-13). Tighten schema when migrating the app.",
        "operationId": "com.etzhayyim.isin.securityRegistry.getSecurity",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.isin.securityRegistry.listByCountry": {
      "get": {
        "summary": "Auto-generated stub lexicon (F-Plan F2 bootstrap 2026-04-13). Tighten schema when migrating the app.",
        "operationId": "com.etzhayyim.isin.securityRegistry.listByCountry",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.isin.securityRegistry.registerJPProfiles": {
      "post": {
        "summary": "Auto-generated stub lexicon (F-Plan F2 bootstrap 2026-04-13). Tighten schema when migrating the app.",
        "operationId": "com.etzhayyim.isin.securityRegistry.registerJPProfiles",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "limit": {
                    "type": "number"
                  },
                  "offset": {
                    "type": "number"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.isin.securityRegistry.registerSecurityProfiles": {
      "post": {
        "summary": "Auto-generated stub lexicon (F-Plan F2 bootstrap 2026-04-13). Tighten schema when migrating the app.",
        "operationId": "com.etzhayyim.isin.securityRegistry.registerSecurityProfiles",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "limit": {
                    "type": "number"
                  },
                  "offset": {
                    "type": "number"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.isin.securityRegistry.search": {
      "get": {
        "summary": "Auto-generated stub lexicon (F-Plan F2 bootstrap 2026-04-13). Tighten schema when migrating the app.",
        "operationId": "com.etzhayyim.isin.securityRegistry.search",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.isin.securityRegistry.validateISIN": {
      "post": {
        "summary": "Auto-generated stub lexicon (F-Plan F2 bootstrap 2026-04-13). Tighten schema when migrating the app.",
        "operationId": "com.etzhayyim.isin.securityRegistry.validateISIN",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "isin": {
                      "type": "string"
                    },
                    "valid": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {}
  }
}
