{
  "openapi": "3.0.3",
  "info": {
    "title": "joucho XRPC API",
    "version": "0.1.0"
  },
  "servers": [
    {
      "url": "https://joucho.etzhayyim.com"
    }
  ],
  "paths": {
    "/xrpc/com.etzhayyim.joucho.getScore": {
      "get": {
        "summary": "Get joucho (情緒) score for a subject DID.",
        "operationId": "com.etzhayyim.joucho.getScore",
        "parameters": [
          {
            "name": "subjectDid",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "did"
            }
          },
          {
            "name": "window",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "1h",
                "24h",
                "7d",
                "30d",
                "90d",
                "all"
              ],
              "default": "24h"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "subjectDid": {
                      "type": "string",
                      "format": "did"
                    },
                    "window": {
                      "type": "string"
                    },
                    "mood": {
                      "type": "string",
                      "enum": [
                        "calm",
                        "uplifted",
                        "tense",
                        "distressed",
                        "focused",
                        "contemplative"
                      ]
                    },
                    "intensity": {
                      "type": "number",
                      "minimum": 0,
                      "maximum": 1
                    },
                    "cadenceHz": {
                      "type": "number",
                      "description": "heartbeat cadence derived from mood"
                    },
                    "signals": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "kind": {
                            "type": "string"
                          },
                          "weight": {
                            "type": "number"
                          }
                        }
                      }
                    },
                    "computedAt": {
                      "type": "string",
                      "format": "datetime"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.joucho.heartbeat": {
      "post": {
        "summary": "Auto-generated stub lexicon (F-Plan F2 bootstrap 2026-04-13). Tighten schema when migrating the app.",
        "operationId": "com.etzhayyim.joucho.heartbeat",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "actorDid": {
                    "type": "integer"
                  },
                  "calm": {
                    "type": "string"
                  },
                  "focus": {
                    "type": "string"
                  },
                  "gratitude": {
                    "type": "string"
                  },
                  "joy": {
                    "type": "string"
                  },
                  "stress": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "mood": {
                      "type": "string"
                    },
                    "reflection": {
                      "type": "string"
                    },
                    "axes": {
                      "type": "string"
                    },
                    "model": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.joucho.scoring.analyzeEmotions": {
      "post": {
        "summary": "Auto-generated stub lexicon (F-Plan F2 bootstrap 2026-04-13). Tighten schema when migrating the app.",
        "operationId": "com.etzhayyim.joucho.scoring.analyzeEmotions",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "actorDid": {
                    "type": "integer"
                  },
                  "imageBase64": {
                    "type": "string"
                  },
                  "text": {
                    "type": "string"
                  }
                },
                "required": [
                  "text"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "topEmotions": {
                      "type": "string"
                    },
                    "emotionCount": {
                      "type": "integer"
                    },
                    "taxonomy": {
                      "type": "string"
                    },
                    "model": {
                      "type": "string"
                    },
                    "multimodal": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.joucho.scoring.axisBreakdown": {
      "post": {
        "summary": "Auto-generated stub lexicon (F-Plan F2 bootstrap 2026-04-13). Tighten schema when migrating the app.",
        "operationId": "com.etzhayyim.joucho.scoring.axisBreakdown",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "entityId": {
                    "type": "integer"
                  }
                },
                "required": [
                  "entityId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.joucho.scoring.batchAnalyze": {
      "post": {
        "summary": "Auto-generated stub lexicon (F-Plan F2 bootstrap 2026-04-13). Tighten schema when migrating the app.",
        "operationId": "com.etzhayyim.joucho.scoring.batchAnalyze",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "actorDid": {
                    "type": "integer"
                  },
                  "texts": {
                    "type": "string"
                  }
                },
                "required": [
                  "actorDid"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.joucho.scoring.compare": {
      "post": {
        "summary": "Auto-generated stub lexicon (F-Plan F2 bootstrap 2026-04-13). Tighten schema when migrating the app.",
        "operationId": "com.etzhayyim.joucho.scoring.compare",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "entityIds": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                },
                "required": [
                  "entityIds"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "compared": {
                      "type": "string"
                    },
                    "count": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.joucho.scoring.getEmotionProfile": {
      "get": {
        "summary": "Auto-generated stub lexicon (F-Plan F2 bootstrap 2026-04-13). Tighten schema when migrating the app.",
        "operationId": "com.etzhayyim.joucho.scoring.getEmotionProfile",
        "parameters": [
          {
            "name": "actorDid",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "actorDid": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.joucho.scoring.getScore": {
      "get": {
        "summary": "Auto-generated stub lexicon (F-Plan F2 bootstrap 2026-04-13). Tighten schema when migrating the app.",
        "operationId": "com.etzhayyim.joucho.scoring.getScore",
        "parameters": [
          {
            "name": "actorDid",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "actorDid": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.joucho.scoring.ranking": {
      "post": {
        "summary": "Auto-generated stub lexicon (F-Plan F2 bootstrap 2026-04-13). Tighten schema when migrating the app.",
        "operationId": "com.etzhayyim.joucho.scoring.ranking",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "targetType": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ranking": {
                      "type": "string"
                    },
                    "targetType": {
                      "type": "string"
                    },
                    "limit": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.joucho.scoring.recommend": {
      "post": {
        "summary": "Auto-generated stub lexicon (F-Plan F2 bootstrap 2026-04-13). Tighten schema when migrating the app.",
        "operationId": "com.etzhayyim.joucho.scoring.recommend",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "limit": {
                    "type": "number"
                  },
                  "mood": {
                    "type": "string"
                  },
                  "targetType": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "recommendations": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.joucho.scoring.scoreTarget": {
      "post": {
        "summary": "Auto-generated stub lexicon (F-Plan F2 bootstrap 2026-04-13). Tighten schema when migrating the app.",
        "operationId": "com.etzhayyim.joucho.scoring.scoreTarget",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "description": {
                    "type": "string"
                  },
                  "imageBase64": {
                    "type": "string"
                  },
                  "location": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "targetType": {
                    "type": "string"
                  }
                },
                "required": [
                  "targetType"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "target_type": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "location": {
                      "type": "string"
                    },
                    "wb_axes": {
                      "type": "string"
                    },
                    "wb_total": {
                      "type": "integer"
                    },
                    "wb_grade": {
                      "type": "string"
                    },
                    "emotion_snapshot": {
                      "type": "string"
                    },
                    "model": {
                      "type": "string"
                    },
                    "created_at": {
                      "type": "string"
                    },
                    "entityId": {
                      "type": "integer"
                    },
                    "targetType": {
                      "type": "string"
                    },
                    "joucho5": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.joucho.scoring.scoreTrend": {
      "post": {
        "summary": "Auto-generated stub lexicon (F-Plan F2 bootstrap 2026-04-13). Tighten schema when migrating the app.",
        "operationId": "com.etzhayyim.joucho.scoring.scoreTrend",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "actorDid": {
                    "type": "integer"
                  },
                  "limit": {
                    "type": "number"
                  }
                },
                "required": [
                  "actorDid"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "actorDid": {
                      "type": "integer"
                    },
                    "trend": {
                      "type": "string"
                    },
                    "limit": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.joucho.scoring.searchScores": {
      "get": {
        "summary": "Auto-generated stub lexicon (F-Plan F2 bootstrap 2026-04-13). Tighten schema when migrating the app.",
        "operationId": "com.etzhayyim.joucho.scoring.searchScores",
        "parameters": [
          {
            "name": "axis",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "maxScore",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "minScore",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "scores": {
                      "type": "string"
                    },
                    "axis": {
                      "type": "string"
                    },
                    "range": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "limit": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.joucho.scoring.submitReview": {
      "post": {
        "summary": "Auto-generated stub lexicon (F-Plan F2 bootstrap 2026-04-13). Tighten schema when migrating the app.",
        "operationId": "com.etzhayyim.joucho.scoring.submitReview",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "imageBase64": {
                    "type": "string"
                  },
                  "rating": {
                    "type": "number"
                  },
                  "reviewText": {
                    "type": "string"
                  },
                  "targetName": {
                    "type": "string"
                  },
                  "targetType": {
                    "type": "string"
                  }
                },
                "required": [
                  "targetType"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "target_type": {
                      "type": "string"
                    },
                    "target_name": {
                      "type": "string"
                    },
                    "review_text": {
                      "type": "string"
                    },
                    "rating": {
                      "type": "string"
                    },
                    "reviewer_emotions": {
                      "type": "string"
                    },
                    "reviewer_axes": {
                      "type": "string"
                    },
                    "wb_score": {
                      "type": "number"
                    },
                    "wb_grade": {
                      "type": "string"
                    },
                    "wb_axes": {
                      "type": "string"
                    },
                    "model": {
                      "type": "string"
                    },
                    "created_at": {
                      "type": "string"
                    },
                    "grade": {
                      "type": "string"
                    },
                    "axes": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {}
  }
}
