{
  "openapi": "3.0.3",
  "info": {
    "title": "ki XRPC API",
    "version": "0.1.0"
  },
  "servers": [
    {
      "url": "https://ki.etzhayyim.com"
    }
  ],
  "paths": {
    "/xrpc/com.etzhayyim.ki.absorb": {
      "post": {
        "summary": "Take in processed signals from koke/hakkou into ki vascular input (xylem). Analogous to root absorption — raw signals enter the vascular system for upward transport toward synthesis.",
        "operationId": "com.etzhayyim.ki.absorb",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "sourceVertexId": {
                    "type": "string",
                    "description": "vertex_id of the source signal (koke fixation or hakkou ferment)"
                  },
                  "inputKind": {
                    "type": "string",
                    "description": "Kind of input: fixation | ferment | transfer"
                  },
                  "content": {
                    "type": "string",
                    "description": "Raw content or reference to absorb"
                  }
                },
                "required": [
                  "sourceVertexId",
                  "inputKind",
                  "content"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "absorbId": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    },
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "absorbId",
                    "status"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.ki.bloom": {
      "post": {
        "summary": "Publish a synthesized knowledge artifact to the graph. Analogous to phloem transport — synthesized knowledge flows outward (downward) to all parts of the ecosystem.",
        "operationId": "com.etzhayyim.ki.bloom",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "artifactId": {
                    "type": "string",
                    "description": "ID of the synthesized artifact to publish"
                  }
                },
                "required": [
                  "artifactId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "bloomId": {
                      "type": "string"
                    },
                    "publishedAt": {
                      "type": "string",
                      "description": "ISO 8601 timestamp of publication"
                    },
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "bloomId",
                    "publishedAt"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.ki.ring": {
      "post": {
        "summary": "Create a versioned knowledge checkpoint (growth ring). Analogous to tree dendrochronology — each ring records conditions at a point in time, enabling knowledge graph time-travel queries.",
        "operationId": "com.etzhayyim.ki.ring",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "period": {
                    "type": "string",
                    "description": "ISO 8601 duration defining the ring period (e.g. PT1H, P1D, P1W)"
                  }
                },
                "required": [
                  "period"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ringId": {
                      "type": "string"
                    },
                    "snapshotCount": {
                      "type": "integer",
                      "description": "Number of artifacts captured in this ring"
                    },
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "ringId",
                    "snapshotCount"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.ki.synthesize": {
      "post": {
        "summary": "LLM-based structured synthesis of absorbed signals into a knowledge artifact. Analogous to photosynthesis — absorbed inputs are synthesized into structured knowledge (sugar) for downstream distribution.",
        "operationId": "com.etzhayyim.ki.synthesize",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "absorbId": {
                    "type": "string",
                    "description": "ID of the absorbed input to synthesize"
                  }
                },
                "required": [
                  "absorbId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "artifactId": {
                      "type": "string"
                    },
                    "synthesis": {
                      "type": "string",
                      "description": "Synthesized knowledge artifact content"
                    },
                    "confidence": {
                      "type": "integer",
                      "description": "LLM confidence score 0.0–1.0"
                    },
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "artifactId",
                    "synthesis",
                    "confidence"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {}
  }
}
