{
  "openapi": "3.0.3",
  "info": {
    "title": "kiyo XRPC API",
    "version": "0.1.0"
  },
  "servers": [
    {
      "url": "https://kiyo.etzhayyim.com"
    }
  ],
  "paths": {
    "/xrpc/com.etzhayyim.kiyo.addReview": {
      "post": {
        "summary": "Add a peer review or comment to a paper. reviewer_did = caller DID. review_type: peer | comment | editorial.",
        "operationId": "com.etzhayyim.kiyo.addReview",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "paperId": {
                    "type": "string"
                  },
                  "rating": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 5
                  },
                  "body": {
                    "type": "string"
                  },
                  "reviewType": {
                    "type": "string",
                    "default": "comment"
                  }
                },
                "required": [
                  "paperId",
                  "body"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "reviewId": {
                      "type": "string"
                    },
                    "accepted": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "accepted"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.kiyo.endorsePaper": {
      "post": {
        "summary": "Endorse a paper (arXiv-style). Idempotent. Caller DID → edge_kiyo_endorses.",
        "operationId": "com.etzhayyim.kiyo.endorsePaper",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "paperId": {
                    "type": "string"
                  }
                },
                "required": [
                  "paperId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "endorsed": {
                      "type": "boolean"
                    },
                    "totalEndorsements": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "endorsed"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.kiyo.getCitationGraph": {
      "get": {
        "summary": "Get inbound and outbound citation edges for a paper from edge_kiyo_cites. Resolved DOIs linked via bunken.",
        "operationId": "com.etzhayyim.kiyo.getCitationGraph",
        "parameters": [
          {
            "name": "paperId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "depth",
            "in": "query",
            "required": false,
            "description": "1 = direct edges only",
            "schema": {
              "type": "integer",
              "description": "1 = direct edges only",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "paperId": {
                      "type": "string"
                    },
                    "citing": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "srcPaperId": {
                            "type": "string"
                          },
                          "refLabel": {
                            "type": "string"
                          },
                          "confidence": {
                            "type": "integer"
                          }
                        }
                      }
                    },
                    "cited": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "dstPaperId": {
                            "type": "string"
                          },
                          "resolvedDoi": {
                            "type": "string"
                          },
                          "refLabel": {
                            "type": "string"
                          },
                          "confidence": {
                            "type": "integer"
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "paperId",
                    "citing",
                    "cited"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.kiyo.getPaper": {
      "get": {
        "summary": "Get paper metadata and latest revision info. Returns ipfsCid for fetching the PDF from https://ipfs.etzhayyim.com/ipfs/{cid}.",
        "operationId": "com.etzhayyim.kiyo.getPaper",
        "parameters": [
          {
            "name": "paperId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "paperId": {
                      "type": "string"
                    },
                    "title": {
                      "type": "string"
                    },
                    "abstract": {
                      "type": "string"
                    },
                    "subject": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "authors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "authorType": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    },
                    "ipfsCid": {
                      "type": "string"
                    },
                    "latestVersion": {
                      "type": "integer"
                    },
                    "submittedAt": {
                      "type": "string"
                    },
                    "citationCount": {
                      "type": "integer"
                    },
                    "reviewCount": {
                      "type": "integer"
                    },
                    "endorsements": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "paperId",
                    "title",
                    "abstract"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.kiyo.getPaperFile": {
      "get": {
        "summary": "Get the IPFS gateway URL for a paper's PDF (or LaTeX source). Content is permanently accessible at https://ipfs.etzhayyim.com/ipfs/{cid} — no expiry (content-addressed, immutable).",
        "operationId": "com.etzhayyim.kiyo.getPaperFile",
        "parameters": [
          {
            "name": "paperId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "version",
            "in": "query",
            "required": false,
            "description": "Version number; omit for latest",
            "schema": {
              "type": "integer",
              "description": "Version number; omit for latest"
            }
          },
          {
            "name": "fileType",
            "in": "query",
            "required": false,
            "description": "pdf | source; default pdf",
            "schema": {
              "type": "string",
              "description": "pdf | source; default pdf"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "url": {
                      "type": "string",
                      "description": "https://ipfs.etzhayyim.com/ipfs/{cid}"
                    },
                    "cid": {
                      "type": "string"
                    },
                    "version": {
                      "type": "integer"
                    },
                    "contentType": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "url",
                    "cid"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.kiyo.getStats": {
      "get": {
        "summary": "Platform-wide statistics: total papers, subject breakdown, author count, recent activity from mv_kiyo_subject_stats.",
        "operationId": "com.etzhayyim.kiyo.getStats",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "totalPapers": {
                      "type": "integer"
                    },
                    "totalAuthors": {
                      "type": "integer"
                    },
                    "totalCitations": {
                      "type": "integer"
                    },
                    "recentPapers": {
                      "type": "integer",
                      "description": "Papers submitted in last 30 days"
                    },
                    "subjects": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "subjectCode": {
                            "type": "string"
                          },
                          "paperCount": {
                            "type": "integer"
                          },
                          "recent30d": {
                            "type": "integer"
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "totalPapers",
                    "subjects"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.kiyo.listByAuthor": {
      "get": {
        "summary": "List papers by a given author DID, with their h-index from mv_kiyo_author_hindex.",
        "operationId": "com.etzhayyim.kiyo.listByAuthor",
        "parameters": [
          {
            "name": "authorDid",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "authorDid": {
                      "type": "string"
                    },
                    "hIndex": {
                      "type": "integer"
                    },
                    "totalPapers": {
                      "type": "integer"
                    },
                    "totalCitations": {
                      "type": "integer"
                    },
                    "papers": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "paperId": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "role": {
                            "type": "string"
                          },
                          "submittedAt": {
                            "type": "string"
                          },
                          "citationCount": {
                            "type": "integer"
                          }
                        }
                      }
                    },
                    "offset": {
                      "type": "integer"
                    },
                    "limit": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "authorDid",
                    "papers",
                    "offset",
                    "limit"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.kiyo.listPapers": {
      "get": {
        "summary": "List papers with optional subject / authorType / date filters. Sorted by submittedAt DESC.",
        "operationId": "com.etzhayyim.kiyo.listPapers",
        "parameters": [
          {
            "name": "subject",
            "in": "query",
            "required": false,
            "description": "Subject code filter (e.g. cs.AI)",
            "schema": {
              "type": "string",
              "description": "Subject code filter (e.g. cs.AI)"
            }
          },
          {
            "name": "authorType",
            "in": "query",
            "required": false,
            "description": "human | llm-assisted | llm",
            "schema": {
              "type": "string",
              "description": "human | llm-assisted | llm"
            }
          },
          {
            "name": "since",
            "in": "query",
            "required": false,
            "description": "ISO 8601 lower bound",
            "schema": {
              "type": "string",
              "description": "ISO 8601 lower bound"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "papers": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "paperId": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "subject": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "authorType": {
                            "type": "string"
                          },
                          "submittedAt": {
                            "type": "string"
                          },
                          "ipfsCid": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "total": {
                      "type": "integer"
                    },
                    "offset": {
                      "type": "integer"
                    },
                    "limit": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "papers",
                    "offset",
                    "limit"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.kiyo.searchPapers": {
      "get": {
        "summary": "Semantic search over papers using embedding cosine similarity (Kotoba/Datomic SQL UDF kiyo_embed_query + list_cosine_similarity). Falls back to title ILIKE for unembedded papers.",
        "operationId": "com.etzhayyim.kiyo.searchPapers",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "description": "Natural language query",
            "schema": {
              "type": "string",
              "description": "Natural language query"
            }
          },
          {
            "name": "subject",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "papers": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "paperId": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "abstract": {
                            "type": "string"
                          },
                          "score": {
                            "type": "integer"
                          },
                          "ipfsCid": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "total": {
                      "type": "integer"
                    },
                    "offset": {
                      "type": "integer"
                    },
                    "limit": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "papers",
                    "offset",
                    "limit"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.kiyo.submitPaper": {
      "post": {
        "summary": "Submit a new preprint to kiyo.etzhayyim.com. The PDF (and optionally LaTeX source) must be supplied as base64. A CIDv1 is assigned via ipfs.etzhayyim.com and stored in vertex_kiyo_paper. Triggers submitPaper.bpmn.",
        "operationId": "com.etzhayyim.kiyo.submitPaper",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string"
                  },
                  "abstract": {
                    "type": "string"
                  },
                  "subject": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "authors": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "description": "AT DID of each author"
                    }
                  },
                  "authorType": {
                    "type": "string",
                    "description": "human | llm-assisted | llm"
                  },
                  "fileBase64": {
                    "type": "string",
                    "description": "Base64-encoded PDF"
                  },
                  "fileContentType": {
                    "type": "string",
                    "default": "application/pdf"
                  },
                  "sourceBase64": {
                    "type": "string",
                    "description": "Base64-encoded LaTeX tarball (optional)"
                  }
                },
                "required": [
                  "title",
                  "abstract",
                  "subject",
                  "authors",
                  "fileBase64"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "accepted": {
                      "type": "boolean"
                    },
                    "paperId": {
                      "type": "string"
                    },
                    "ipfsCid": {
                      "type": "string"
                    },
                    "vertexId": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "accepted"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.kiyo.submitRevision": {
      "post": {
        "summary": "Submit a revised version of an existing paper. Caller must be the original owner_did. Triggers submitRevision.bpmn.",
        "operationId": "com.etzhayyim.kiyo.submitRevision",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "paperId": {
                    "type": "string"
                  },
                  "fileBase64": {
                    "type": "string"
                  },
                  "fileContentType": {
                    "type": "string",
                    "default": "application/pdf"
                  },
                  "sourceBase64": {
                    "type": "string"
                  },
                  "changeNote": {
                    "type": "string"
                  }
                },
                "required": [
                  "paperId",
                  "fileBase64"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "accepted": {
                      "type": "boolean"
                    },
                    "version": {
                      "type": "integer"
                    },
                    "newIpfsCid": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "accepted"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.kiyo.withdrawPaper": {
      "post": {
        "summary": "Withdraw a paper (sets status=withdrawn). Content remains on IPFS (content-addressed — immutable). Caller must be owner_did.",
        "operationId": "com.etzhayyim.kiyo.withdrawPaper",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "paperId": {
                    "type": "string"
                  },
                  "reason": {
                    "type": "string"
                  }
                },
                "required": [
                  "paperId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "withdrawn": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "withdrawn"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {}
  }
}
