{
  "openapi": "3.0.3",
  "info": {
    "title": "koke XRPC API",
    "version": "0.1.0"
  },
  "servers": [
    {
      "url": "https://koke.etzhayyim.com"
    }
  ],
  "paths": {
    "/xrpc/com.etzhayyim.koke.fixSignal": {
      "post": {
        "summary": "Primary fixation: capture a raw external signal (CO₂) into a structured vertex_koke_fixation row (glucose). Reversible until handoff to hakkou.",
        "operationId": "com.etzhayyim.koke.fixSignal",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "inputKind": {
                    "type": "string",
                    "description": "Signal kind: text | url | record | stream"
                  },
                  "rawRef": {
                    "type": "string",
                    "description": "Raw reference or content to fix"
                  },
                  "agentDid": {
                    "type": "string",
                    "description": "DID of the kobo agent requesting fixation (optional)"
                  }
                },
                "required": [
                  "inputKind",
                  "rawRef"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "fixationId": {
                      "type": "string"
                    },
                    "vertexId": {
                      "type": "string"
                    },
                    "signalHash": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    },
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "fixationId",
                    "status"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.koke.getFixation": {
      "get": {
        "summary": "Get fixation status and metadata for a given fixation ID.",
        "operationId": "com.etzhayyim.koke.getFixation",
        "parameters": [
          {
            "name": "fixationId",
            "in": "query",
            "required": true,
            "description": "Fixation ID to retrieve",
            "schema": {
              "type": "string",
              "description": "Fixation ID to retrieve"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "found": {
                      "type": "boolean"
                    },
                    "fixationId": {
                      "type": "string"
                    },
                    "inputKind": {
                      "type": "string"
                    },
                    "signalHash": {
                      "type": "string"
                    },
                    "classification": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    },
                    "fixedAt": {
                      "type": "string"
                    },
                    "releasedAt": {
                      "type": "string"
                    },
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "found"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.koke.listFixations": {
      "get": {
        "summary": "List fixations, optionally filtered by status or classification.",
        "operationId": "com.etzhayyim.koke.listFixations",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "Filter by status: fixed | released | handedOff",
            "schema": {
              "type": "string",
              "description": "Filter by status: fixed | released | handedOff"
            }
          },
          {
            "name": "classification",
            "in": "query",
            "required": false,
            "description": "Filter by classification label",
            "schema": {
              "type": "string",
              "description": "Filter by classification label"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Max rows to return (default 20)",
            "schema": {
              "type": "integer",
              "description": "Max rows to return (default 20)"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Pagination offset",
            "schema": {
              "type": "integer",
              "description": "Pagination offset"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "fixations": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "fixationId": {
                            "type": "string"
                          },
                          "inputKind": {
                            "type": "string"
                          },
                          "classification": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "fixedAt": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "total": {
                      "type": "integer"
                    },
                    "limit": {
                      "type": "integer"
                    },
                    "offset": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "fixations",
                    "total",
                    "limit",
                    "offset"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.koke.releaseCarbon": {
      "post": {
        "summary": "Release a fixation back to raw state (reversible CO₂ exhalation). Only valid while status='fixed'. Once handed off to hakkou, release is no longer possible.",
        "operationId": "com.etzhayyim.koke.releaseCarbon",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "fixationId": {
                    "type": "string",
                    "description": "ID of the fixation to release"
                  },
                  "reason": {
                    "type": "string",
                    "description": "Optional reason for release"
                  }
                },
                "required": [
                  "fixationId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "released": {
                      "type": "boolean"
                    },
                    "fixationId": {
                      "type": "string"
                    },
                    "releasedAt": {
                      "type": "string"
                    },
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "released",
                    "fixationId"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {}
  }
}
