{
  "openapi": "3.0.3",
  "info": {
    "title": "legalEntity XRPC API",
    "version": "0.1.0"
  },
  "servers": [
    {
      "url": "https://legalEntity.etzhayyim.com"
    }
  ],
  "paths": {
    "/xrpc/com.etzhayyim.legalEntity.collectAus": {
      "post": {
        "summary": "Return the Australia ABR/ABN bulk-ingest workflow contract. This command does not call ABN Lookup or page through records; stage the bulk extract and commit Zeebe output with commitEntities.",
        "operationId": "com.etzhayyim.legalEntity.collectAus",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "bulkManifestUri": {
                    "type": "string",
                    "description": "R2 or object-storage URI for the staged ABN bulk manifest"
                  },
                  "sourceSnapshotId": {
                    "type": "string",
                    "description": "Operator-assigned source snapshot/version identifier"
                  },
                  "dryRun": {
                    "type": "boolean",
                    "description": "Return the contract without starting a bulk workflow"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "source": {
                      "type": "string"
                    },
                    "unsupported": {
                      "type": "boolean"
                    },
                    "bulkRequired": {
                      "type": "boolean"
                    },
                    "movedToZeebe": {
                      "type": "boolean"
                    },
                    "requiredMode": {
                      "type": "string"
                    },
                    "sourceEstimate": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "acceptedInput": {
                      "type": "object"
                    },
                    "commitCommand": {
                      "type": "string"
                    },
                    "ts": {
                      "type": "string",
                      "format": "datetime"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.legalEntity.collectBel": {
      "post": {
        "summary": "Return the Belgium KBO/BCE bulk-ingest workflow contract. This command does not parse CSV data directly; stage the bulk snapshot and commit Zeebe output with commitEntities.",
        "operationId": "com.etzhayyim.legalEntity.collectBel",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "bulkManifestUri": {
                    "type": "string",
                    "description": "R2 or object-storage URI for the staged KBO/BCE bulk manifest"
                  },
                  "sourceSnapshotId": {
                    "type": "string",
                    "description": "Operator-assigned source snapshot/version identifier"
                  },
                  "dryRun": {
                    "type": "boolean",
                    "description": "Return the contract without starting a bulk workflow"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "source": {
                      "type": "string"
                    },
                    "unsupported": {
                      "type": "boolean"
                    },
                    "bulkRequired": {
                      "type": "boolean"
                    },
                    "movedToZeebe": {
                      "type": "boolean"
                    },
                    "requiredMode": {
                      "type": "string"
                    },
                    "sourceEstimate": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "acceptedInput": {
                      "type": "object"
                    },
                    "commitCommand": {
                      "type": "string"
                    },
                    "ts": {
                      "type": "string",
                      "format": "datetime"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.legalEntity.collectBra": {
      "post": {
        "summary": "Return the Brazil CNPJ bulk-ingest workflow contract. This command does not fetch Receita Federal data directly; stage official bulk files and commit Zeebe output with commitEntities.",
        "operationId": "com.etzhayyim.legalEntity.collectBra",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "bulkManifestUri": {
                    "type": "string",
                    "description": "R2 or object-storage URI for the staged CNPJ bulk manifest"
                  },
                  "sourceSnapshotId": {
                    "type": "string",
                    "description": "Operator-assigned source snapshot/version identifier"
                  },
                  "dryRun": {
                    "type": "boolean",
                    "description": "Return the contract without starting a bulk workflow"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "source": {
                      "type": "string"
                    },
                    "unsupported": {
                      "type": "boolean"
                    },
                    "bulkRequired": {
                      "type": "boolean"
                    },
                    "movedToZeebe": {
                      "type": "boolean"
                    },
                    "requiredMode": {
                      "type": "string"
                    },
                    "sourceEstimate": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "acceptedInput": {
                      "type": "object"
                    },
                    "commitCommand": {
                      "type": "string"
                    },
                    "ts": {
                      "type": "string",
                      "format": "datetime"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.legalEntity.collectCan": {
      "post": {
        "summary": "Return the Canada Corporations Canada/ISED bulk-ingest workflow contract. This command does not fetch registry pages directly; stage the open-data snapshot and commit Zeebe output with commitEntities.",
        "operationId": "com.etzhayyim.legalEntity.collectCan",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "bulkManifestUri": {
                    "type": "string",
                    "description": "R2 or object-storage URI for the staged ISED bulk manifest"
                  },
                  "sourceSnapshotId": {
                    "type": "string",
                    "description": "Operator-assigned source snapshot/version identifier"
                  },
                  "dryRun": {
                    "type": "boolean",
                    "description": "Return the contract without starting a bulk workflow"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "source": {
                      "type": "string"
                    },
                    "unsupported": {
                      "type": "boolean"
                    },
                    "bulkRequired": {
                      "type": "boolean"
                    },
                    "movedToZeebe": {
                      "type": "boolean"
                    },
                    "requiredMode": {
                      "type": "string"
                    },
                    "sourceEstimate": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "acceptedInput": {
                      "type": "object"
                    },
                    "commitCommand": {
                      "type": "string"
                    },
                    "ts": {
                      "type": "string",
                      "format": "datetime"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.legalEntity.collectChe": {
      "post": {
        "summary": "Collect Swiss corporate data from Zefix (FOSC/SHAB) central business name index. CHE/UID as primary key.",
        "operationId": "com.etzhayyim.legalEntity.collectChe",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "pages": {
                    "type": "integer",
                    "description": "Number of pages to fetch (default 5, max 50)"
                  },
                  "pageSize": {
                    "type": "integer",
                    "description": "Records per page (max 100)"
                  },
                  "startPage": {
                    "type": "integer",
                    "description": "Starting page number (default 0)"
                  },
                  "canton": {
                    "type": "string",
                    "description": "Filter by canton (ZH, BE, LU, UR, etc.)"
                  },
                  "legalForm": {
                    "type": "string",
                    "description": "Filter: AG, GmbH, Verein, Stiftung, etc."
                  },
                  "activeOnly": {
                    "type": "boolean",
                    "description": "Filter active entities only (default true)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "source": {
                      "type": "string"
                    },
                    "pagesProcessed": {
                      "type": "integer"
                    },
                    "totalInserted": {
                      "type": "integer"
                    },
                    "totalSkipped": {
                      "type": "integer"
                    },
                    "apiTotal": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.legalEntity.collectCze": {
      "post": {
        "summary": "Collect Czech corporate data from ARES (Administrative Register of Economic Subjects). ICO as primary key.",
        "operationId": "com.etzhayyim.legalEntity.collectCze",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "pages": {
                    "type": "integer",
                    "description": "Number of pages to fetch (default 5, max 50)"
                  },
                  "pageSize": {
                    "type": "integer",
                    "description": "Records per page (max 100)"
                  },
                  "startPage": {
                    "type": "integer",
                    "description": "Starting page number (default 0)"
                  },
                  "pravniForma": {
                    "type": "string",
                    "description": "Filter by legal form code"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "source": {
                      "type": "string"
                    },
                    "pagesProcessed": {
                      "type": "integer"
                    },
                    "totalInserted": {
                      "type": "integer"
                    },
                    "totalSkipped": {
                      "type": "integer"
                    },
                    "apiTotal": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.legalEntity.collectDnk": {
      "post": {
        "summary": "Collect Danish corporate data from CVR (Central Business Register) via Virk.dk API. CVR number as primary key.",
        "operationId": "com.etzhayyim.legalEntity.collectDnk",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "pages": {
                    "type": "integer",
                    "description": "Number of pages to fetch (default 5, max 50)"
                  },
                  "pageSize": {
                    "type": "integer",
                    "description": "Records per page (max 1000)"
                  },
                  "startPage": {
                    "type": "integer",
                    "description": "Starting page number (default 0)"
                  },
                  "virksomhedsform": {
                    "type": "string",
                    "description": "Filter by company form (A/S, ApS, I/S, etc.)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "source": {
                      "type": "string"
                    },
                    "pagesProcessed": {
                      "type": "integer"
                    },
                    "totalInserted": {
                      "type": "integer"
                    },
                    "totalSkipped": {
                      "type": "integer"
                    },
                    "apiTotal": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.legalEntity.collectEst": {
      "post": {
        "summary": "Collect Estonian corporate data from e-Business Register (ariregister.rik.ee). Registry code as primary key.",
        "operationId": "com.etzhayyim.legalEntity.collectEst",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "pages": {
                    "type": "integer",
                    "description": "Number of pages to fetch (default 5, max 50)"
                  },
                  "pageSize": {
                    "type": "integer",
                    "description": "Records per page (max 100)"
                  },
                  "startPage": {
                    "type": "integer",
                    "description": "Starting page number (default 0)"
                  },
                  "legalForm": {
                    "type": "string",
                    "description": "Filter by legal form (OU, AS, TU, etc.)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "source": {
                      "type": "string"
                    },
                    "pagesProcessed": {
                      "type": "integer"
                    },
                    "totalInserted": {
                      "type": "integer"
                    },
                    "totalSkipped": {
                      "type": "integer"
                    },
                    "apiTotal": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.legalEntity.collectFin": {
      "post": {
        "summary": "Collect Finnish corporate data from PRH/YTJ (Business Information System). Business ID (Y-tunnus) as primary key.",
        "operationId": "com.etzhayyim.legalEntity.collectFin",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "pages": {
                    "type": "integer",
                    "description": "Number of pages to fetch (default 5, max 50)"
                  },
                  "pageSize": {
                    "type": "integer",
                    "description": "Records per page (max 100)"
                  },
                  "startPage": {
                    "type": "integer",
                    "description": "Starting page number (default 0)"
                  },
                  "companyForm": {
                    "type": "string",
                    "description": "Filter by form (OY, OYJ, KY, AY, etc.)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "source": {
                      "type": "string"
                    },
                    "pagesProcessed": {
                      "type": "integer"
                    },
                    "totalInserted": {
                      "type": "integer"
                    },
                    "totalSkipped": {
                      "type": "integer"
                    },
                    "apiTotal": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.legalEntity.collectFra": {
      "post": {
        "summary": "Collect French corporate data from INSEE SIRENE API. SIREN/SIRET as primary key.",
        "operationId": "com.etzhayyim.legalEntity.collectFra",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "pages": {
                    "type": "integer",
                    "description": "Number of pages to fetch (default 5, max 50)"
                  },
                  "pageSize": {
                    "type": "integer",
                    "description": "Records per page (max 1000, SIRENE default 20)"
                  },
                  "cursor": {
                    "type": "string",
                    "description": "Cursor for pagination (from previous response)"
                  },
                  "activesOnly": {
                    "type": "boolean",
                    "description": "Filter active entities only (default true)"
                  },
                  "departement": {
                    "type": "string",
                    "description": "Filter by departement code (01-95, 2A, 2B, 971-976)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "source": {
                      "type": "string"
                    },
                    "pagesProcessed": {
                      "type": "integer"
                    },
                    "totalInserted": {
                      "type": "integer"
                    },
                    "totalSkipped": {
                      "type": "integer"
                    },
                    "apiTotal": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.legalEntity.collectGbr": {
      "post": {
        "summary": "Collect UK corporate data from Companies House REST API. Company number as primary key.",
        "operationId": "com.etzhayyim.legalEntity.collectGbr",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "pages": {
                    "type": "integer",
                    "description": "Number of pages to fetch (default 5, max 50)"
                  },
                  "pageSize": {
                    "type": "integer",
                    "description": "Records per page (max 100, CH default 100)"
                  },
                  "startIndex": {
                    "type": "integer",
                    "description": "Starting index (default 0)"
                  },
                  "companyStatus": {
                    "type": "string",
                    "description": "Filter: active, dissolved, liquidation, receivership"
                  },
                  "companyType": {
                    "type": "string",
                    "description": "Filter: ltd, plc, llp, etc."
                  },
                  "incorporatedFrom": {
                    "type": "string",
                    "description": "Incorporated from date (YYYY-MM-DD)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "source": {
                      "type": "string"
                    },
                    "pagesProcessed": {
                      "type": "integer"
                    },
                    "totalInserted": {
                      "type": "integer"
                    },
                    "totalSkipped": {
                      "type": "integer"
                    },
                    "apiTotal": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.legalEntity.collectGlobal": {
      "post": {
        "summary": "Collect GLEIF LEI records (global corporate registry). Paginated bulk ingest.",
        "operationId": "com.etzhayyim.legalEntity.collectGlobal",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "pages": {
                    "type": "integer",
                    "description": "Number of pages to fetch (default 5, max 50)"
                  },
                  "pageSize": {
                    "type": "integer",
                    "description": "Records per page (max 200)"
                  },
                  "startPage": {
                    "type": "integer",
                    "description": "Starting page number (default 1)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "movedToZeebe": {
                      "type": "boolean"
                    },
                    "processId": {
                      "type": "string"
                    },
                    "taskTypes": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "variables": {
                      "type": "object"
                    },
                    "commitCommand": {
                      "type": "string"
                    },
                    "source": {
                      "type": "string"
                    },
                    "pagesProcessed": {
                      "type": "integer"
                    },
                    "totalInserted": {
                      "type": "integer"
                    },
                    "totalSkipped": {
                      "type": "integer"
                    },
                    "apiTotal": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.legalEntity.collectGlobalGleif": {
      "post": {
        "summary": "Start the Zeebe Python GLEIF global legal-entity collection pipeline.",
        "operationId": "com.etzhayyim.legalEntity.collectGlobalGleif",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "pages": {
                    "type": "integer"
                  },
                  "pageSize": {
                    "type": "integer"
                  },
                  "startPage": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "result": {
                      "type": "object"
                    },
                    "auditRkey": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.legalEntity.collectIsr": {
      "post": {
        "summary": "Collect Israeli corporate data from Companies Registrar (Rasham HaChavarot). Company number as primary key.",
        "operationId": "com.etzhayyim.legalEntity.collectIsr",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "pages": {
                    "type": "integer",
                    "description": "Number of pages to fetch (default 5, max 50)"
                  },
                  "pageSize": {
                    "type": "integer",
                    "description": "Records per page (max 100)"
                  },
                  "startPage": {
                    "type": "integer",
                    "description": "Starting page number (default 0)"
                  },
                  "companyType": {
                    "type": "string",
                    "description": "Filter: private, public, foreign, partnership"
                  },
                  "status": {
                    "type": "string",
                    "description": "Filter: active, struck-off, dissolved, liquidation"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "source": {
                      "type": "string"
                    },
                    "pagesProcessed": {
                      "type": "integer"
                    },
                    "totalInserted": {
                      "type": "integer"
                    },
                    "totalSkipped": {
                      "type": "integer"
                    },
                    "apiTotal": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.legalEntity.collectJpn": {
      "post": {
        "summary": "Collect Japanese corporate registry data from NTA (National Tax Agency) houjin-bangou API. 13-digit corporate number.",
        "operationId": "com.etzhayyim.legalEntity.collectJpn",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "pages": {
                    "type": "integer",
                    "description": "Number of pages to fetch (default 5, max 50)"
                  },
                  "pageSize": {
                    "type": "integer",
                    "description": "Records per page (max 500, NTA default 500)"
                  },
                  "startPage": {
                    "type": "integer",
                    "description": "Starting page number (default 1)"
                  },
                  "prefecture": {
                    "type": "string",
                    "description": "Filter by prefecture code (01-47)"
                  },
                  "kind": {
                    "type": "string",
                    "description": "Entity kind filter: 1=national, 2=local, 3=registered, 4=other"
                  },
                  "from": {
                    "type": "string",
                    "description": "Updated from date (YYYY-MM-DD)"
                  },
                  "to": {
                    "type": "string",
                    "description": "Updated to date (YYYY-MM-DD)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "source": {
                      "type": "string"
                    },
                    "pagesProcessed": {
                      "type": "integer"
                    },
                    "totalInserted": {
                      "type": "integer"
                    },
                    "totalSkipped": {
                      "type": "integer"
                    },
                    "apiTotal": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.legalEntity.collectNld": {
      "post": {
        "summary": "Collect Dutch corporate data from KVK (Kamer van Koophandel) Handelsregister API. KVK number as primary key.",
        "operationId": "com.etzhayyim.legalEntity.collectNld",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "pages": {
                    "type": "integer",
                    "description": "Number of pages to fetch (default 5, max 50)"
                  },
                  "pageSize": {
                    "type": "integer",
                    "description": "Records per page (max 100)"
                  },
                  "startPage": {
                    "type": "integer",
                    "description": "Starting page number (default 0)"
                  },
                  "type": {
                    "type": "string",
                    "description": "Filter: hoofdvestiging, nevenvestiging, rechtspersoon"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "source": {
                      "type": "string"
                    },
                    "pagesProcessed": {
                      "type": "integer"
                    },
                    "totalInserted": {
                      "type": "integer"
                    },
                    "totalSkipped": {
                      "type": "integer"
                    },
                    "apiTotal": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.legalEntity.collectNor": {
      "post": {
        "summary": "Collect Norwegian corporate data from Bronnoysund Register Centre (Enhetsregisteret). Organisation number as primary key.",
        "operationId": "com.etzhayyim.legalEntity.collectNor",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "pages": {
                    "type": "integer",
                    "description": "Number of pages to fetch (default 5, max 50)"
                  },
                  "pageSize": {
                    "type": "integer",
                    "description": "Records per page (max 100)"
                  },
                  "startPage": {
                    "type": "integer",
                    "description": "Starting page number (default 0)"
                  },
                  "organisasjonsform": {
                    "type": "string",
                    "description": "Filter by org form code (AS, ASA, ENK, NUF, etc.)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "source": {
                      "type": "string"
                    },
                    "pagesProcessed": {
                      "type": "integer"
                    },
                    "totalInserted": {
                      "type": "integer"
                    },
                    "totalSkipped": {
                      "type": "integer"
                    },
                    "apiTotal": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.legalEntity.collectNzl": {
      "post": {
        "summary": "Collect New Zealand corporate data from Companies Office (MBIE). NZ Company Number (NZBN) as primary key.",
        "operationId": "com.etzhayyim.legalEntity.collectNzl",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "pages": {
                    "type": "integer",
                    "description": "Number of pages to fetch (default 5, max 50)"
                  },
                  "pageSize": {
                    "type": "integer",
                    "description": "Records per page (max 50)"
                  },
                  "startPage": {
                    "type": "integer",
                    "description": "Starting page number (default 0)"
                  },
                  "entityType": {
                    "type": "string",
                    "description": "Filter: NZ Limited Company, NZ Unlimited Company, Overseas ASIC Company, etc."
                  },
                  "entityStatus": {
                    "type": "string",
                    "description": "Filter: Registered, Removed, etc."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "source": {
                      "type": "string"
                    },
                    "pagesProcessed": {
                      "type": "integer"
                    },
                    "totalInserted": {
                      "type": "integer"
                    },
                    "totalSkipped": {
                      "type": "integer"
                    },
                    "apiTotal": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.legalEntity.collectUsa": {
      "post": {
        "summary": "Start the Zeebe Python SEC EDGAR collection pipeline. The edge worker only returns workflow metadata; state SOS registry work remains a future actor slice.",
        "operationId": "com.etzhayyim.legalEntity.collectUsa",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "pages": {
                    "type": "integer",
                    "description": "Number of pages to fetch (default 5, max 50)"
                  },
                  "pageSize": {
                    "type": "integer",
                    "description": "Records per page (max 100)"
                  },
                  "startPage": {
                    "type": "integer",
                    "description": "Starting page number (default 0)"
                  },
                  "sourceRegistry": {
                    "type": "string",
                    "description": "Source: sec_edgar (default), delaware, opencorporates_us"
                  },
                  "sic": {
                    "type": "string",
                    "description": "Filter by SIC industry code"
                  },
                  "state": {
                    "type": "string",
                    "description": "Filter by state of incorporation (2-letter code)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "movedToZeebe": {
                      "type": "boolean"
                    },
                    "processId": {
                      "type": "string"
                    },
                    "taskTypes": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "variables": {
                      "type": "object"
                    },
                    "commitCommand": {
                      "type": "string"
                    },
                    "source": {
                      "type": "string"
                    },
                    "pagesProcessed": {
                      "type": "integer"
                    },
                    "totalInserted": {
                      "type": "integer"
                    },
                    "totalSkipped": {
                      "type": "integer"
                    },
                    "apiTotal": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.legalEntity.collectUsaEdgar": {
      "post": {
        "summary": "Start the Zeebe Python SEC EDGAR listed-company collection pipeline.",
        "operationId": "com.etzhayyim.legalEntity.collectUsaEdgar",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "pages": {
                    "type": "integer"
                  },
                  "pageSize": {
                    "type": "integer"
                  },
                  "startPage": {
                    "type": "integer"
                  },
                  "sourceRegistry": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "result": {
                      "type": "object"
                    },
                    "auditRkey": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.legalEntity.collectZaf": {
      "post": {
        "summary": "Return the South Africa CIPC unsupported/bulk-required workflow contract. This command does not fetch CIPC data; use an approved export or API entitlement with Zeebe and commit output with commitEntities.",
        "operationId": "com.etzhayyim.legalEntity.collectZaf",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "bulkManifestUri": {
                    "type": "string",
                    "description": "R2 or object-storage URI for an approved staged CIPC manifest"
                  },
                  "sourceSnapshotId": {
                    "type": "string",
                    "description": "Operator-assigned source snapshot/version identifier"
                  },
                  "dryRun": {
                    "type": "boolean",
                    "description": "Return the contract without starting a bulk workflow"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "source": {
                      "type": "string"
                    },
                    "unsupported": {
                      "type": "boolean"
                    },
                    "bulkRequired": {
                      "type": "boolean"
                    },
                    "movedToZeebe": {
                      "type": "boolean"
                    },
                    "requiredMode": {
                      "type": "string"
                    },
                    "sourceEstimate": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "acceptedInput": {
                      "type": "object"
                    },
                    "commitCommand": {
                      "type": "string"
                    },
                    "ts": {
                      "type": "string",
                      "format": "datetime"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.legalEntity.commitEntities": {
      "post": {
        "summary": "Thin edge write boundary for Zeebe-collected legal entity records.",
        "operationId": "com.etzhayyim.legalEntity.commitEntities",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "source": {
                    "type": "string"
                  },
                  "page": {
                    "type": "integer"
                  },
                  "records": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  }
                },
                "required": [
                  "records"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "source": {
                      "type": "string"
                    },
                    "page": {
                      "type": "integer"
                    },
                    "inserted": {
                      "type": "integer"
                    },
                    "skipped": {
                      "type": "integer"
                    },
                    "error": {
                      "type": "string"
                    },
                    "ts": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "ok"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.legalEntity.commitEntityDids": {
      "post": {
        "summary": "Thin edge boundary for Zeebe-resolved legal-entity path DID creation.",
        "operationId": "com.etzhayyim.legalEntity.commitEntityDids",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "source": {
                    "type": "string"
                  },
                  "page": {
                    "type": "integer"
                  },
                  "dids": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "path": {
                          "type": "string"
                        },
                        "doc": {
                          "type": "object"
                        }
                      },
                      "required": [
                        "path",
                        "doc"
                      ]
                    }
                  }
                },
                "required": [
                  "dids"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "source": {
                      "type": "string"
                    },
                    "page": {
                      "type": "integer"
                    },
                    "totalRegistered": {
                      "type": "integer"
                    },
                    "totalSkipped": {
                      "type": "integer"
                    },
                    "totalErrors": {
                      "type": "integer"
                    },
                    "firstError": {
                      "type": "string"
                    },
                    "ts": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "ok"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.legalEntity.commitSecDisclosure": {
      "post": {
        "summary": "Thin edge write boundary for Zeebe-collected SEC company filing and company fact records.",
        "operationId": "com.etzhayyim.legalEntity.commitSecDisclosure",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "source": {
                    "type": "string"
                  },
                  "cik": {
                    "type": "string"
                  },
                  "ticker": {
                    "type": "string"
                  },
                  "companyDid": {
                    "type": "string"
                  },
                  "filings": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  },
                  "facts": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  }
                },
                "required": [
                  "filings",
                  "facts"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "source": {
                      "type": "string"
                    },
                    "cik": {
                      "type": "string"
                    },
                    "ticker": {
                      "type": "string"
                    },
                    "companyDid": {
                      "type": "string"
                    },
                    "filingsInserted": {
                      "type": "integer"
                    },
                    "factsInserted": {
                      "type": "integer"
                    },
                    "filingsSkipped": {
                      "type": "integer"
                    },
                    "factsSkipped": {
                      "type": "integer"
                    },
                    "firstError": {
                      "type": "string"
                    },
                    "ts": {
                      "type": "string",
                      "format": "datetime"
                    }
                  },
                  "required": [
                    "ok"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.legalEntity.ingestSecDisclosure": {
      "post": {
        "summary": "Dispatch SEC EDGAR submissions and companyfacts ingest for one issuer to the Zeebe Python collector.",
        "operationId": "com.etzhayyim.legalEntity.ingestSecDisclosure",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ticker": {
                    "type": "string",
                    "description": "Listed ticker symbol. Used to resolve the SEC CIK when cik is omitted."
                  },
                  "cik": {
                    "type": "string",
                    "description": "SEC Central Index Key. Digits only or zero-padded 10-digit form."
                  },
                  "filingLimit": {
                    "type": "integer",
                    "description": "Max filing records to emit (default 20, max 100)."
                  },
                  "factsLimit": {
                    "type": "integer",
                    "description": "Max company fact records to emit (default 50, max 200)."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "movedToZeebe": {
                      "type": "boolean"
                    },
                    "processId": {
                      "type": "string"
                    },
                    "taskTypes": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "variables": {
                      "type": "object"
                    },
                    "commitCommand": {
                      "type": "string"
                    },
                    "error": {
                      "type": "string"
                    },
                    "ts": {
                      "type": "string",
                      "format": "datetime"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.legalEntity.linkOwnership": {
      "post": {
        "summary": "Create ownership/subsidiary relationship records between legal entities. Each item may resolve endpoints by vertexId, LEI, source/sourceRecordId, or name/country.",
        "operationId": "com.etzhayyim.legalEntity.linkOwnership",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "items": {
                    "type": "array"
                  },
                  "edgeId": {
                    "type": "string"
                  },
                  "srcVertexId": {
                    "type": "string"
                  },
                  "srcLei": {
                    "type": "string"
                  },
                  "srcSource": {
                    "type": "string"
                  },
                  "srcSourceRecordId": {
                    "type": "string"
                  },
                  "srcName": {
                    "type": "string"
                  },
                  "srcCountry": {
                    "type": "string"
                  },
                  "dstVertexId": {
                    "type": "string"
                  },
                  "dstLei": {
                    "type": "string"
                  },
                  "dstSource": {
                    "type": "string"
                  },
                  "dstSourceRecordId": {
                    "type": "string"
                  },
                  "dstName": {
                    "type": "string"
                  },
                  "dstCountry": {
                    "type": "string"
                  },
                  "relationship": {
                    "type": "string"
                  },
                  "stakePct": {
                    "type": "number"
                  },
                  "votingPct": {
                    "type": "number"
                  },
                  "controlType": {
                    "type": "string"
                  },
                  "effectiveFrom": {
                    "type": "string",
                    "format": "date"
                  },
                  "effectiveTo": {
                    "type": "string",
                    "format": "date"
                  },
                  "sourceUrl": {
                    "type": "string",
                    "format": "uri"
                  },
                  "sourceLicense": {
                    "type": "string"
                  },
                  "confidence": {
                    "type": "number"
                  },
                  "linkedAt": {
                    "type": "string",
                    "format": "datetime"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "inserted": {
                      "type": "integer"
                    },
                    "skipped": {
                      "type": "integer"
                    },
                    "firstError": {
                      "type": "string"
                    },
                    "ts": {
                      "type": "string",
                      "format": "datetime"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.legalEntity.linkTrade": {
      "post": {
        "summary": "Create customer/supplier/partner relationship records between legal entities. Each item may resolve endpoints by vertexId, LEI, source/sourceRecordId, or name/country.",
        "operationId": "com.etzhayyim.legalEntity.linkTrade",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "items": {
                    "type": "array"
                  },
                  "edgeId": {
                    "type": "string"
                  },
                  "srcVertexId": {
                    "type": "string"
                  },
                  "srcLei": {
                    "type": "string"
                  },
                  "srcSource": {
                    "type": "string"
                  },
                  "srcSourceRecordId": {
                    "type": "string"
                  },
                  "srcName": {
                    "type": "string"
                  },
                  "srcCountry": {
                    "type": "string"
                  },
                  "dstVertexId": {
                    "type": "string"
                  },
                  "dstLei": {
                    "type": "string"
                  },
                  "dstSource": {
                    "type": "string"
                  },
                  "dstSourceRecordId": {
                    "type": "string"
                  },
                  "dstName": {
                    "type": "string"
                  },
                  "dstCountry": {
                    "type": "string"
                  },
                  "relationship": {
                    "type": "string"
                  },
                  "amount": {
                    "type": "number"
                  },
                  "amountCurrency": {
                    "type": "string"
                  },
                  "periodStart": {
                    "type": "string",
                    "format": "date"
                  },
                  "periodEnd": {
                    "type": "string",
                    "format": "date"
                  },
                  "sourceUrl": {
                    "type": "string",
                    "format": "uri"
                  },
                  "sourceLicense": {
                    "type": "string"
                  },
                  "confidence": {
                    "type": "number"
                  },
                  "linkedAt": {
                    "type": "string",
                    "format": "datetime"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "inserted": {
                      "type": "integer"
                    },
                    "skipped": {
                      "type": "integer"
                    },
                    "firstError": {
                      "type": "string"
                    },
                    "ts": {
                      "type": "string",
                      "format": "datetime"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.legalEntity.registerDids": {
      "post": {
        "summary": "Start the Zeebe Python path-DID registration pipeline for GLEIF LEI entities. The edge worker only returns workflow metadata and exposes commitEntityDids for the actor.",
        "operationId": "com.etzhayyim.legalEntity.registerDids",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "pages": {
                    "type": "integer",
                    "description": "Number of pages to fetch (default 1)"
                  },
                  "pageSize": {
                    "type": "integer",
                    "description": "Records per page (max 200)"
                  },
                  "startPage": {
                    "type": "integer",
                    "description": "Starting page number (default 1)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "movedToZeebe": {
                      "type": "boolean"
                    },
                    "processId": {
                      "type": "string"
                    },
                    "taskTypes": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "variables": {
                      "type": "object"
                    },
                    "commitCommand": {
                      "type": "string"
                    },
                    "totalRegistered": {
                      "type": "integer",
                      "description": "Legacy compatibility; populated by commitEntityDids, not this dispatcher."
                    },
                    "totalSkipped": {
                      "type": "integer",
                      "description": "Legacy compatibility; populated by commitEntityDids, not this dispatcher."
                    },
                    "totalErrors": {
                      "type": "integer",
                      "description": "Legacy compatibility; populated by commitEntityDids, not this dispatcher."
                    },
                    "firstError": {
                      "type": "string",
                      "description": "Legacy compatibility; populated by commitEntityDids, not this dispatcher."
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.legalEntity.registerGleifDids": {
      "post": {
        "summary": "Start the Zeebe Python GLEIF path-DID registration pipeline.",
        "operationId": "com.etzhayyim.legalEntity.registerGleifDids",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "pages": {
                    "type": "integer"
                  },
                  "pageSize": {
                    "type": "integer"
                  },
                  "startPage": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "result": {
                      "type": "object"
                    },
                    "auditRkey": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.legalEntity.search": {
      "get": {
        "summary": "Search legal entities by exact name match.",
        "operationId": "com.etzhayyim.legalEntity.search",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array"
                    },
                    "count": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.legalEntity.stats": {
      "get": {
        "summary": "Legal entity collection stats (total count, top countries).",
        "operationId": "com.etzhayyim.legalEntity.stats",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total": {
                      "type": "integer"
                    },
                    "byCountry": {
                      "type": "array"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ai_etzhayyim_legalEntity_companyFact": {
        "type": "object",
        "properties": {
          "companyDid": {
            "type": "string"
          },
          "filingDid": {
            "type": "string"
          },
          "factNamespace": {
            "type": "string"
          },
          "factName": {
            "type": "string"
          },
          "factValueNum": {
            "type": "number"
          },
          "factValueText": {
            "type": "string"
          },
          "unit": {
            "type": "string"
          },
          "currency": {
            "type": "string"
          },
          "periodStart": {
            "type": "string",
            "format": "date"
          },
          "periodEnd": {
            "type": "string",
            "format": "date"
          },
          "asOfDate": {
            "type": "string",
            "format": "date"
          },
          "fiscalYear": {
            "type": "integer"
          },
          "fiscalQuarter": {
            "type": "integer"
          },
          "sourceUrl": {
            "type": "string",
            "format": "uri"
          },
          "sourceMethod": {
            "type": "string"
          },
          "confidence": {
            "type": "number"
          },
          "createdAt": {
            "type": "string",
            "format": "datetime"
          }
        },
        "required": [
          "companyDid",
          "factNamespace",
          "factName",
          "sourceMethod",
          "createdAt"
        ]
      },
      "ai_etzhayyim_legalEntity_companyFiling": {
        "type": "object",
        "properties": {
          "companyDid": {
            "type": "string"
          },
          "filingSource": {
            "type": "string"
          },
          "filingType": {
            "type": "string"
          },
          "filingDate": {
            "type": "string",
            "format": "date"
          },
          "periodStart": {
            "type": "string",
            "format": "date"
          },
          "periodEnd": {
            "type": "string",
            "format": "date"
          },
          "fiscalYear": {
            "type": "integer"
          },
          "fiscalQuarter": {
            "type": "integer"
          },
          "accessionNo": {
            "type": "string"
          },
          "filingUrl": {
            "type": "string",
            "format": "uri"
          },
          "issuerName": {
            "type": "string"
          },
          "issuerTicker": {
            "type": "string"
          },
          "issuerExchange": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "language": {
            "type": "string"
          },
          "sourceLicense": {
            "type": "string"
          },
          "props": {
            "type": "string",
            "description": "Opaque JSON string for source-specific metadata."
          },
          "createdAt": {
            "type": "string",
            "format": "datetime"
          }
        },
        "required": [
          "companyDid",
          "filingSource",
          "filingType",
          "filingDate",
          "accessionNo",
          "filingUrl",
          "issuerName",
          "sourceLicense",
          "createdAt"
        ]
      },
      "ai_etzhayyim_legalEntity_entityMention": {
        "type": "object",
        "properties": {
          "edgeId": {
            "type": "string"
          },
          "statementId": {
            "type": "string"
          },
          "entityVertexId": {
            "type": "string"
          },
          "entityLei": {
            "type": "string"
          },
          "entitySource": {
            "type": "string"
          },
          "entitySourceRecordId": {
            "type": "string"
          },
          "entityName": {
            "type": "string"
          },
          "entityCountry": {
            "type": "string"
          },
          "role": {
            "type": "string"
          },
          "mentionText": {
            "type": "string"
          },
          "sourceUrl": {
            "type": "string",
            "format": "uri"
          },
          "sourceLicense": {
            "type": "string"
          },
          "confidence": {
            "type": "number"
          },
          "linkedAt": {
            "type": "string",
            "format": "datetime"
          },
          "createdAt": {
            "type": "string",
            "format": "datetime"
          }
        },
        "required": [
          "edgeId",
          "statementId",
          "role",
          "sourceLicense",
          "confidence",
          "linkedAt",
          "createdAt"
        ]
      },
      "ai_etzhayyim_legalEntity_entityOwnership": {
        "type": "object",
        "properties": {
          "edgeId": {
            "type": "string"
          },
          "srcVertexId": {
            "type": "string"
          },
          "srcLei": {
            "type": "string"
          },
          "srcSource": {
            "type": "string"
          },
          "srcSourceRecordId": {
            "type": "string"
          },
          "srcName": {
            "type": "string"
          },
          "srcCountry": {
            "type": "string"
          },
          "dstVertexId": {
            "type": "string"
          },
          "dstLei": {
            "type": "string"
          },
          "dstSource": {
            "type": "string"
          },
          "dstSourceRecordId": {
            "type": "string"
          },
          "dstName": {
            "type": "string"
          },
          "dstCountry": {
            "type": "string"
          },
          "relationship": {
            "type": "string"
          },
          "stakePct": {
            "type": "number"
          },
          "votingPct": {
            "type": "number"
          },
          "controlType": {
            "type": "string"
          },
          "effectiveFrom": {
            "type": "string",
            "format": "date"
          },
          "effectiveTo": {
            "type": "string",
            "format": "date"
          },
          "sourceUrl": {
            "type": "string",
            "format": "uri"
          },
          "sourceLicense": {
            "type": "string"
          },
          "confidence": {
            "type": "number"
          },
          "linkedAt": {
            "type": "string",
            "format": "datetime"
          },
          "createdAt": {
            "type": "string",
            "format": "datetime"
          }
        },
        "required": [
          "edgeId",
          "relationship",
          "sourceLicense",
          "confidence",
          "linkedAt",
          "createdAt"
        ]
      },
      "ai_etzhayyim_legalEntity_entityRelation": {
        "type": "object",
        "properties": {
          "edgeId": {
            "type": "string"
          },
          "statementId": {
            "type": "string"
          },
          "srcVertexId": {
            "type": "string"
          },
          "srcLei": {
            "type": "string"
          },
          "srcSource": {
            "type": "string"
          },
          "srcSourceRecordId": {
            "type": "string"
          },
          "srcName": {
            "type": "string"
          },
          "srcCountry": {
            "type": "string"
          },
          "dstVertexId": {
            "type": "string"
          },
          "dstLei": {
            "type": "string"
          },
          "dstSource": {
            "type": "string"
          },
          "dstSourceRecordId": {
            "type": "string"
          },
          "dstName": {
            "type": "string"
          },
          "dstCountry": {
            "type": "string"
          },
          "relationshipType": {
            "type": "string"
          },
          "relationScope": {
            "type": "string"
          },
          "amount": {
            "type": "number"
          },
          "amountCurrency": {
            "type": "string"
          },
          "periodStart": {
            "type": "string",
            "format": "date"
          },
          "periodEnd": {
            "type": "string",
            "format": "date"
          },
          "sourceUrl": {
            "type": "string",
            "format": "uri"
          },
          "sourceLicense": {
            "type": "string"
          },
          "confidence": {
            "type": "number"
          },
          "linkedAt": {
            "type": "string",
            "format": "datetime"
          },
          "createdAt": {
            "type": "string",
            "format": "datetime"
          }
        },
        "required": [
          "edgeId",
          "relationshipType",
          "sourceLicense",
          "confidence",
          "linkedAt",
          "createdAt"
        ]
      },
      "ai_etzhayyim_legalEntity_entityTradeRelationship": {
        "type": "object",
        "properties": {
          "edgeId": {
            "type": "string"
          },
          "srcVertexId": {
            "type": "string"
          },
          "srcLei": {
            "type": "string"
          },
          "srcSource": {
            "type": "string"
          },
          "srcSourceRecordId": {
            "type": "string"
          },
          "srcName": {
            "type": "string"
          },
          "srcCountry": {
            "type": "string"
          },
          "dstVertexId": {
            "type": "string"
          },
          "dstLei": {
            "type": "string"
          },
          "dstSource": {
            "type": "string"
          },
          "dstSourceRecordId": {
            "type": "string"
          },
          "dstName": {
            "type": "string"
          },
          "dstCountry": {
            "type": "string"
          },
          "relationship": {
            "type": "string"
          },
          "amount": {
            "type": "number"
          },
          "amountCurrency": {
            "type": "string"
          },
          "periodStart": {
            "type": "string",
            "format": "date"
          },
          "periodEnd": {
            "type": "string",
            "format": "date"
          },
          "sourceUrl": {
            "type": "string",
            "format": "uri"
          },
          "sourceLicense": {
            "type": "string"
          },
          "confidence": {
            "type": "number"
          },
          "linkedAt": {
            "type": "string",
            "format": "datetime"
          },
          "createdAt": {
            "type": "string",
            "format": "datetime"
          }
        },
        "required": [
          "edgeId",
          "relationship",
          "sourceLicense",
          "confidence",
          "linkedAt",
          "createdAt"
        ]
      },
      "ai_etzhayyim_legalEntity_publicStatement": {
        "type": "object",
        "properties": {
          "statementId": {
            "type": "string"
          },
          "statementType": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "publisher": {
            "type": "string"
          },
          "publishedAt": {
            "type": "string",
            "format": "date"
          },
          "language": {
            "type": "string"
          },
          "sourceUrl": {
            "type": "string",
            "format": "uri"
          },
          "sourceDomain": {
            "type": "string"
          },
          "sourceLicense": {
            "type": "string"
          },
          "summary": {
            "type": "string"
          },
          "props": {
            "type": "string",
            "description": "Opaque JSON string for provenance metadata."
          },
          "createdAt": {
            "type": "string",
            "format": "datetime"
          }
        },
        "required": [
          "statementId",
          "statementType",
          "title",
          "publisher",
          "publishedAt",
          "sourceUrl",
          "sourceLicense",
          "createdAt"
        ]
      }
    }
  }
}
