{
  "openapi": "3.0.3",
  "info": {
    "title": "manga XRPC API",
    "version": "0.1.0"
  },
  "servers": [
    {
      "url": "https://manga.etzhayyim.com"
    }
  ],
  "paths": {
    "/xrpc/com.etzhayyim.manga.addTag": {
      "post": {
        "summary": "Add a tag to a manga title",
        "operationId": "com.etzhayyim.manga.addTag",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title_id": {
                    "type": "string"
                  },
                  "tag": {
                    "type": "string"
                  },
                  "user_id": {
                    "type": "string"
                  }
                },
                "required": [
                  "title_id",
                  "tag"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "title_id": {
                      "type": "string"
                    },
                    "tag": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "title_id",
                    "tag"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.manga.createChapter": {
      "post": {
        "summary": "Create a chapter under a manga title",
        "operationId": "com.etzhayyim.manga.createChapter",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title_id": {
                    "type": "string"
                  },
                  "chapter_num": {
                    "type": "integer"
                  },
                  "episode_title": {
                    "type": "string"
                  },
                  "asset_manifest_uri": {
                    "type": "string"
                  },
                  "page_count": {
                    "type": "integer"
                  },
                  "user_id": {
                    "type": "string"
                  },
                  "org_id": {
                    "type": "string"
                  }
                },
                "required": [
                  "title_id",
                  "chapter_num",
                  "episode_title"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "id"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.manga.createTitle": {
      "post": {
        "summary": "Create a manga series/title",
        "operationId": "com.etzhayyim.manga.createTitle",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "genre": {
                    "type": "string"
                  },
                  "thumbnail_key": {
                    "type": "string"
                  },
                  "coin_price": {
                    "type": "integer"
                  },
                  "wait_free_hours": {
                    "type": "integer"
                  },
                  "user_id": {
                    "type": "string"
                  },
                  "org_id": {
                    "type": "string"
                  }
                },
                "required": [
                  "title"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "series_id": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "id"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.manga.getChapter": {
      "get": {
        "summary": "Get a chapter by ID",
        "operationId": "com.etzhayyim.manga.getChapter",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "title_id": {
                      "type": "string"
                    },
                    "chapter_num": {
                      "type": "integer"
                    },
                    "episode_title": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    },
                    "asset_manifest_uri": {
                      "type": "string"
                    },
                    "page_count": {
                      "type": "integer"
                    },
                    "published_at": {
                      "type": "string"
                    },
                    "created_at": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.manga.getTitle": {
      "get": {
        "summary": "Get a manga title by ID",
        "operationId": "com.etzhayyim.manga.getTitle",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "series_id": {
                      "type": "string"
                    },
                    "title": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "genre": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    },
                    "thumbnail_key": {
                      "type": "string"
                    },
                    "coin_price": {
                      "type": "integer"
                    },
                    "wait_free_hours": {
                      "type": "integer"
                    },
                    "chapter_count": {
                      "type": "integer"
                    },
                    "created_at": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.manga.listChapters": {
      "get": {
        "summary": "List chapters for a manga title",
        "operationId": "com.etzhayyim.manga.listChapters",
        "parameters": [
          {
            "name": "title_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "chapters": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "total": {
                      "type": "integer"
                    },
                    "offset": {
                      "type": "integer"
                    },
                    "limit": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "chapters",
                    "total",
                    "offset",
                    "limit"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.manga.listTitles": {
      "get": {
        "summary": "List manga titles",
        "operationId": "com.etzhayyim.manga.listTitles",
        "parameters": [
          {
            "name": "genre",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "titles": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "total": {
                      "type": "integer"
                    },
                    "offset": {
                      "type": "integer"
                    },
                    "limit": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "titles",
                    "total",
                    "offset",
                    "limit"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.manga.publishChapter": {
      "post": {
        "summary": "Publish a chapter (set status to published)",
        "operationId": "com.etzhayyim.manga.publishChapter",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "chapter_id": {
                    "type": "string"
                  },
                  "user_id": {
                    "type": "string"
                  }
                },
                "required": [
                  "chapter_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "chapter_id": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "chapter_id",
                    "status"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.manga.recordReadingProgress": {
      "post": {
        "summary": "Record or update user reading progress",
        "operationId": "com.etzhayyim.manga.recordReadingProgress",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "user_id": {
                    "type": "string"
                  },
                  "title_id": {
                    "type": "string"
                  },
                  "chapter_id": {
                    "type": "string"
                  },
                  "page_num": {
                    "type": "integer"
                  },
                  "org_id": {
                    "type": "string"
                  }
                },
                "required": [
                  "user_id",
                  "title_id",
                  "chapter_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "id"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.manga.searchTitles": {
      "get": {
        "summary": "Search manga titles by keyword or tag",
        "operationId": "com.etzhayyim.manga.searchTitles",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "genre",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tag",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "titles": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "total": {
                      "type": "integer"
                    },
                    "offset": {
                      "type": "integer"
                    },
                    "limit": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "titles",
                    "total",
                    "offset",
                    "limit"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.manga.submitFromNarou": {
      "post": {
        "summary": "Import title and chapter from narou.etzhayyim.com",
        "operationId": "com.etzhayyim.manga.submitFromNarou",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "narou_title_id": {
                    "type": "string"
                  },
                  "narou_chapter_id": {
                    "type": "string"
                  },
                  "title": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "genre": {
                    "type": "string"
                  },
                  "episode_title": {
                    "type": "string"
                  },
                  "asset_manifest_uri": {
                    "type": "string"
                  },
                  "page_count": {
                    "type": "integer"
                  },
                  "thumbnail_key": {
                    "type": "string"
                  },
                  "user_id": {
                    "type": "string"
                  },
                  "org_id": {
                    "type": "string"
                  }
                },
                "required": [
                  "narou_title_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "title_id": {
                      "type": "string"
                    },
                    "chapter_id": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "title_id"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.manga.updateChapterStatus": {
      "post": {
        "summary": "Update chapter workflow status",
        "operationId": "com.etzhayyim.manga.updateChapterStatus",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "chapter_id": {
                    "type": "string"
                  },
                  "status": {
                    "type": "string"
                  },
                  "asset_manifest_uri": {
                    "type": "string"
                  },
                  "page_count": {
                    "type": "integer"
                  },
                  "user_id": {
                    "type": "string"
                  }
                },
                "required": [
                  "chapter_id",
                  "status"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "chapter_id": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "chapter_id",
                    "status"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {}
  }
}
