{
  "openapi": "3.0.3",
  "info": {
    "title": "market XRPC API",
    "version": "0.1.0"
  },
  "servers": [
    {
      "url": "https://market.etzhayyim.com"
    }
  ],
  "paths": {
    "/xrpc/com.etzhayyim.market.chainDemandPoll": {
      "post": {
        "summary": "Internal BPMN-driven capital-rail demand poll (ADR 2605011300 §7). Polls public BTC (mempool.space), ETH (eth.llamarpc.com JSON-RPC), and payment-rail status pages (Square, Coinbase, Plaid, Circle), maps signals to lanes by mempool/fee/gas/incident rules, and inserts vertex_market_demand_signal rows. Not externally callable.",
        "operationId": "com.etzhayyim.market.chainDemandPoll",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "signalsInserted": {
                      "type": "integer"
                    },
                    "btcCount": {
                      "type": "integer"
                    },
                    "ethCount": {
                      "type": "integer"
                    },
                    "ccCount": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "ok"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.market.internetDemandPoll": {
      "post": {
        "summary": "Internal BPMN-driven demand poll (ADR 2605011300 ∇φ axis). Fetches public internet sources (Bluesky AppView searchPosts + HN Algolia) for the union of 5 lane keywords and inserts vertex_market_demand_signal rows. Not externally callable — invoked only by the timer-start BPMN.",
        "operationId": "com.etzhayyim.market.internetDemandPoll",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "signalsInserted": {
                      "type": "integer"
                    },
                    "lanesUpdated": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "ok"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.market.listOffer": {
      "get": {
        "summary": "List published market offers (ADR 2605011300). Returns 5-lane public market listings with priceUnit / settlementCurrency / issuer did:erc725 fields. Phase 1 lanes: vault / sashiosae / lawfirm / bpmn / murakumo.",
        "operationId": "com.etzhayyim.market.listOffer",
        "parameters": [
          {
            "name": "lane",
            "in": "query",
            "required": false,
            "description": "Filter by market lane. Omit for all lanes.",
            "schema": {
              "type": "string",
              "description": "Filter by market lane. Omit for all lanes.",
              "enum": [
                "vault",
                "sashiosae",
                "lawfirm",
                "bpmn",
                "murakumo"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 50
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "offers": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "listingId": {
                            "type": "string"
                          },
                          "lane": {
                            "type": "string"
                          },
                          "issuerDid": {
                            "type": "string",
                            "description": "did:erc725 of the lane operator"
                          },
                          "title": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "priceUnit": {
                            "type": "number",
                            "description": "Spot price per quantity unit"
                          },
                          "settlementCurrency": {
                            "type": "string",
                            "description": "ISO 4217 or ERC-20 symbol"
                          },
                          "minQuantity": {
                            "type": "number"
                          },
                          "maxQuantity": {
                            "type": "number"
                          },
                          "vacuumScore": {
                            "type": "number",
                            "description": "Inverse of supply saturation; higher = more demand gradient"
                          },
                          "publishedAt": {
                            "type": "string",
                            "format": "datetime"
                          }
                        },
                        "required": [
                          "listingId",
                          "lane",
                          "issuerDid",
                          "priceUnit",
                          "settlementCurrency",
                          "publishedAt"
                        ]
                      }
                    },
                    "cursor": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "offers"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.market.observeDemand": {
      "post": {
        "summary": "Record a demand-side observation (ADR 2605011300, ∇φ axis). Trace sources: (1) inbound XRPC 4xx for unknown NSID, (2) Gmail/Teams classifier T3 gray drop (ADR-0032), (3) FraudSignal duplicate detection (yabai). Feeds mv_market_vacuum_score daily aggregation.",
        "operationId": "com.etzhayyim.market.observeDemand",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "signalKind": {
                    "type": "string",
                    "description": "Source of the demand signal",
                    "enum": [
                      "unknown_nsid_4xx",
                      "classifier_gray",
                      "fraud_duplicate",
                      "explicit_request"
                    ]
                  },
                  "lane": {
                    "type": "string",
                    "description": "Inferred or explicit market lane the demand maps to",
                    "enum": [
                      "vault",
                      "sashiosae",
                      "lawfirm",
                      "bpmn",
                      "murakumo",
                      "unknown"
                    ]
                  },
                  "demandHash": {
                    "type": "string",
                    "description": "SHA-256 of (requester, requested-capability) — never raw PII (ADR-0018 Tier 1 only)"
                  },
                  "magnitude": {
                    "type": "number",
                    "description": "Weight of this observation (defaults to 1.0; FraudSignal duplicates may carry higher magnitude)",
                    "minimum": 0,
                    "default": 1
                  },
                  "observedAt": {
                    "type": "string",
                    "format": "datetime"
                  }
                },
                "required": [
                  "signalKind",
                  "observedAt"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "vertexId": {
                      "type": "string"
                    },
                    "vacuumScoreDelta": {
                      "type": "number",
                      "description": "Per-lane daily ∇φ change after this observation"
                    },
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "ok"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.market.publishOffer": {
      "post": {
        "summary": "Publish a new market offer in one of 5 Phase-1 lanes (ADR 2605011300). Increases information surface area S. Mokuteki upper gate (child/future floor + Spirit separation healing, ADR-2604291800) is evaluated server-side; floor violations reject the offer.",
        "operationId": "com.etzhayyim.market.publishOffer",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "lane": {
                    "type": "string",
                    "enum": [
                      "vault",
                      "sashiosae",
                      "lawfirm",
                      "bpmn",
                      "murakumo"
                    ]
                  },
                  "issuerDid": {
                    "type": "string",
                    "description": "did:erc725:etzhayyim:260425:{lane} — must match lane's registered issuer"
                  },
                  "title": {
                    "type": "string",
                    "maxLength": 240
                  },
                  "description": {
                    "type": "string",
                    "maxLength": 4000
                  },
                  "priceUnit": {
                    "type": "number",
                    "minimum": 0
                  },
                  "settlementCurrency": {
                    "type": "string",
                    "description": "ISO 4217 (JPY/USD/EUR) or ERC-20 symbol (USDC/...)"
                  },
                  "minQuantity": {
                    "type": "number",
                    "minimum": 0
                  },
                  "maxQuantity": {
                    "type": "number"
                  },
                  "termsUri": {
                    "type": "string",
                    "description": "Optional contract terms (typed Lexicon or web URL)",
                    "format": "uri"
                  }
                },
                "required": [
                  "lane",
                  "issuerDid",
                  "title",
                  "priceUnit",
                  "settlementCurrency"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "listingId": {
                      "type": "string"
                    },
                    "vertexId": {
                      "type": "string"
                    },
                    "mokutekiFloorPass": {
                      "type": "boolean",
                      "description": "Mokuteki upper gate result. false → offer rejected, listing not published"
                    },
                    "spiritSeparationDelta": {
                      "type": "number",
                      "description": "Estimated separation healing impact (negative = healing, positive = increasing isolation)"
                    },
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "ok"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.market.quotePrice": {
      "get": {
        "summary": "Quote spot price for a given listing + quantity (ADR 2605011300). Read-only; does not allocate inventory.",
        "operationId": "com.etzhayyim.market.quotePrice",
        "parameters": [
          {
            "name": "listingId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "quantity",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number",
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "totalPrice": {
                      "type": "number"
                    },
                    "settlementCurrency": {
                      "type": "string"
                    },
                    "expiresAt": {
                      "type": "string",
                      "description": "Quote validity window (typically ≤ 60s)",
                      "format": "datetime"
                    },
                    "vacuumScore": {
                      "type": "number"
                    },
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "ok"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.market.settleInvoice": {
      "post": {
        "summary": "Enqueue an invoice for ERC-4337 UserOp bundling (ADR 2605011300). N invoices → 1 UserOp via generic.settlement.bundle BPMN. Returns settlementTxHash once the bundled UserOp is mined; before that, returns bundleQueueId. Mokuteki child/future floor is re-checked at bundle time.",
        "operationId": "com.etzhayyim.market.settleInvoice",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "listingId": {
                    "type": "string"
                  },
                  "quantity": {
                    "type": "number",
                    "minimum": 0
                  },
                  "payerDid": {
                    "type": "string",
                    "description": "did:erc725 of the payer (smart wallet account, ADR-0074)"
                  },
                  "quoteSignature": {
                    "type": "string",
                    "description": "Optional signed quote from quotePrice (binds the price within the expiresAt window)"
                  },
                  "memo": {
                    "type": "string",
                    "maxLength": 240
                  }
                },
                "required": [
                  "listingId",
                  "quantity",
                  "payerDid"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "invoiceId": {
                      "type": "string"
                    },
                    "bundleQueueId": {
                      "type": "string",
                      "description": "Identifier for the pending bundle slot. Poll observeDemand or settlement webhook for tx hash."
                    },
                    "settlementTxHash": {
                      "type": "string",
                      "description": "Set once the bundled UserOp is mined"
                    },
                    "mokutekiFloorPass": {
                      "type": "boolean"
                    },
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "ok"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {}
  }
}