{
  "openapi": "3.0.3",
  "info": {
    "title": "ocel XRPC API",
    "version": "0.1.0"
  },
  "servers": [
    {
      "url": "https://ocel.etzhayyim.com"
    }
  ],
  "paths": {},
  "components": {
    "schemas": {
      "ai_etzhayyim_ocel_event": {
        "type": "object",
        "properties": {
          "specVersion": {
            "type": "string"
          },
          "eventId": {
            "type": "string"
          },
          "eventType": {
            "type": "string"
          },
          "activity": {
            "type": "string"
          },
          "phase": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "ts": {
            "type": "string"
          },
          "timestamp": {
            "type": "string"
          },
          "actorDid": {
            "type": "string"
          },
          "objectType": {
            "type": "string"
          },
          "objectId": {
            "type": "string"
          },
          "objects": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "relatedObjects": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "attributes": {
            "type": "object"
          },
          "error": {
            "type": "object"
          }
        },
        "required": [
          "specVersion"
        ]
      }
    }
  }
}