{
  "openapi": "3.0.3",
  "info": {
    "title": "otakiage XRPC API",
    "version": "0.1.0"
  },
  "servers": [
    {
      "url": "https://otakiage.etzhayyim.com"
    }
  ],
  "paths": {
    "/xrpc/com.etzhayyim.otakiage.agentChat": {
      "post": {
        "summary": "Conversational agent for otakiage. Multi-turn conversation backed by LangGraph (intent classification → action branch → response composition、3 LLM call で ADR-2605072000 の intra-job ≥3 LLM branches 条件を満たす)。supported intents: submit (物品登録の対話)、search (近接 reuse 候補の検索)、ritual (供養依頼)、inquire (matsuri / certificate 質問)、chat (一般会話)。会話 state は vertex_otakiage_conversation + vertex_otakiage_conversation_turn に永続化、threadId で会話を継続。",
        "operationId": "com.etzhayyim.otakiage.agentChat",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "message": {
                    "type": "string",
                    "description": "ユーザのメッセージ (日本語可)",
                    "maxLength": 4000
                  },
                  "callerDid": {
                    "type": "string",
                    "description": "発話者 DID。会話の owner、submit や request の actor になる"
                  },
                  "threadId": {
                    "type": "string",
                    "description": "既存会話の継続。omit 時は新規 thread を発行"
                  },
                  "intentHint": {
                    "type": "string",
                    "description": "明示の intent (任意、UI ボタン等から)。omit 時は LLM が分類",
                    "enum": [
                      "submit",
                      "search",
                      "ritual",
                      "inquire",
                      "chat"
                    ]
                  },
                  "h3Cell": {
                    "type": "string",
                    "description": "発話者の H3 res-5 cell (search intent で近接マッチに使用)"
                  },
                  "maxTurns": {
                    "type": "integer",
                    "description": "保持する直近の会話 turn 数 (LLM context 投入)",
                    "default": 10
                  }
                },
                "required": [
                  "message",
                  "callerDid"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "threadId": {
                      "type": "string",
                      "description": "新規 / 継続 thread URI"
                    },
                    "reply": {
                      "type": "string",
                      "description": "agent からの自然言語応答"
                    },
                    "intent": {
                      "type": "string",
                      "enum": [
                        "submit",
                        "search",
                        "ritual",
                        "inquire",
                        "chat",
                        "unknown"
                      ]
                    },
                    "actions": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "kind": {
                            "type": "string",
                            "enum": [
                              "item_drafted",
                              "item_submitted",
                              "reuse_candidates_listed",
                              "ritual_requested",
                              "matsuri_listed",
                              "certificate_explained",
                              "no_action"
                            ]
                          },
                          "uri": {
                            "type": "string",
                            "description": "drafted/submitted item URI、または提示した URI"
                          },
                          "details": {
                            "type": "string",
                            "description": "JSON 文字列 (kind 別の詳細データ)"
                          }
                        }
                      }
                    },
                    "draftItem": {
                      "type": "object",
                      "description": "submit intent 中で抽出された下書き (確認後に submitItem で確定)",
                      "properties": {
                        "category": {
                          "type": "string"
                        },
                        "title": {
                          "type": "string"
                        },
                        "storyText": {
                          "type": "string"
                        },
                        "weightKgClass": {
                          "type": "string"
                        },
                        "modeHint": {
                          "type": "string"
                        },
                        "needsConfirmation": {
                          "type": "boolean"
                        }
                      }
                    },
                    "candidates": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "uri": {
                            "type": "string"
                          },
                          "category": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "h3Cell": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "llmCalls": {
                      "type": "integer",
                      "description": "この turn で実行された LLM call 数 (≥3 が graph contract)"
                    },
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "ok",
                    "threadId",
                    "reply",
                    "intent"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.otakiage.anchorCertificate": {
      "post": {
        "summary": "供養証跡 (certificate) を ERC725 anchor token として on-chain に固定する (Phase 2b1)。authority gated (issuer = did:web:otakiage.etzhayyim.com:ritual のみ)。Phase 2b1 = state tracking のみ (`anchor_status: pending → queued`)、Phase 2b2 で実 on-chain 取引を ethers/viem 経由で実装。anchored 状態に到達した certificate は etzhayyim の blockchain 登記の延長として永続証跡を持つ。redo 不可 (1 certificate = 1 anchor token、token_id = sha256(certificate_json))。",
        "operationId": "com.etzhayyim.otakiage.anchorCertificate",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "certificateUri": {
                    "type": "string",
                    "description": "at://did:web:otakiage.etzhayyim.com:ritual/.../certificate/{rkey}"
                  },
                  "chain": {
                    "type": "string",
                    "description": "anchor 先 chain。Phase 2b1 = base (Coinbase L2、低 gas)。Phase 2b2 で multi-chain 対応",
                    "enum": [
                      "base",
                      "base-sepolia",
                      "polygon",
                      "polygon-amoy"
                    ],
                    "default": "base"
                  },
                  "force": {
                    "type": "boolean",
                    "description": "既に anchor 済の certificate に対して再試行 (failed → queued)",
                    "default": false
                  }
                },
                "required": [
                  "certificateUri"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "certificateUri": {
                      "type": "string"
                    },
                    "anchorStatus": {
                      "type": "string",
                      "enum": [
                        "pending",
                        "queued",
                        "submitted",
                        "anchored",
                        "failed"
                      ]
                    },
                    "chain": {
                      "type": "string"
                    },
                    "contentHash": {
                      "type": "string",
                      "description": "sha256 of certificate_json (= future on-chain token URI base)"
                    },
                    "anchorTokenId": {
                      "type": "string",
                      "description": "anchored 後にセットされる ERC725 token ID"
                    },
                    "txHash": {
                      "type": "string",
                      "description": "anchored 後の transaction hash"
                    },
                    "blockNumber": {
                      "type": "integer"
                    },
                    "anchoredAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "failureReason": {
                      "type": "string"
                    },
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "ok",
                    "certificateUri",
                    "anchorStatus"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.otakiage.confirmHandover": {
      "post": {
        "summary": "譲渡完了を確定。寄贈者 (item.ownerDid) のみ呼べる。reuse_request を一つ選んで handed_over に遷移、他の pending request は cancelled。完了後に handover record を INSERT、socialAnnounce BPMN を内部発火 (T1 social derive、PII 除去 + H3 res-3 まで丸める)。state machine の terminal の 1 つ。",
        "operationId": "com.etzhayyim.otakiage.confirmHandover",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "itemUri": {
                    "type": "string"
                  },
                  "reuseRequestUri": {
                    "type": "string",
                    "description": "選ばれた reuse_request の URI"
                  },
                  "donorDid": {
                    "type": "string",
                    "description": "= item.ownerDid (再確認)"
                  },
                  "recipientDid": {
                    "type": "string",
                    "description": "= reuse_request.requesterDid (再確認)"
                  },
                  "handoverPhotoBlobKey": {
                    "type": "string",
                    "description": "受け渡し写真 (任意)"
                  },
                  "gratitudeText": {
                    "type": "string",
                    "description": "謝辞テキスト (任意、social derive で集計のみ参照)",
                    "maxLength": 1000
                  },
                  "skipSocialAnnounce": {
                    "type": "boolean",
                    "description": "true なら T1 social post を抑止 (privacy 配慮)",
                    "default": false
                  }
                },
                "required": [
                  "itemUri",
                  "reuseRequestUri",
                  "donorDid",
                  "recipientDid"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "handoverUri": {
                      "type": "string"
                    },
                    "itemState": {
                      "type": "string",
                      "enum": [
                        "handed_over"
                      ]
                    },
                    "cancelledReuseRequests": {
                      "type": "integer",
                      "description": "他の pending reuse_request 自動 cancel 件数"
                    },
                    "socialAnnounceQueued": {
                      "type": "boolean"
                    },
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "ok",
                    "handoverUri",
                    "itemState"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.otakiage.coverage": {
      "get": {
        "summary": "platform-wide coverage 状況。mv_otakiage_items_by_state を返す。reuse / ritual の流量モニタ用。",
        "operationId": "com.etzhayyim.otakiage.coverage",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "totalItems": {
                      "type": "integer"
                    },
                    "byState": {
                      "type": "string",
                      "description": "JSON {state: count}"
                    },
                    "byCategory": {
                      "type": "string",
                      "description": "JSON {category: count}"
                    },
                    "upcomingMatsuri": {
                      "type": "integer",
                      "description": "scheduled_date > now() AND < now() + 90 days の件数"
                    },
                    "lifetimeRitualizedCount": {
                      "type": "integer"
                    },
                    "lifetimeHandedOverCount": {
                      "type": "integer"
                    },
                    "asOf": {
                      "type": "string",
                      "format": "date-time"
                    }
                  },
                  "required": [
                    "totalItems",
                    "byState",
                    "byCategory",
                    "upcomingMatsuri",
                    "lifetimeRitualizedCount",
                    "lifetimeHandedOverCount"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.otakiage.getItem": {
      "get": {
        "summary": "単一 item の詳細取得。state machine 全 history と関連 reuse_request / handover / ritual / certificate URI を返す。",
        "operationId": "com.etzhayyim.otakiage.getItem",
        "parameters": [
          {
            "name": "uri",
            "in": "query",
            "required": true,
            "description": "at:// 形式 item URI",
            "schema": {
              "type": "string",
              "description": "at:// 形式 item URI"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "item": {
                      "type": "object",
                      "properties": {
                        "uri": {
                          "type": "string"
                        },
                        "category": {
                          "type": "string"
                        },
                        "title": {
                          "type": "string"
                        },
                        "storyText": {
                          "type": "string"
                        },
                        "photoBlobKeys": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "h3Cell": {
                          "type": "string"
                        },
                        "weightKgClass": {
                          "type": "string"
                        },
                        "mode": {
                          "type": "string"
                        },
                        "state": {
                          "type": "string"
                        },
                        "ownerDid": {
                          "type": "string"
                        },
                        "createdAt": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    },
                    "reuseRequests": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "handoverUri": {
                      "type": "string"
                    },
                    "ritualUri": {
                      "type": "string"
                    },
                    "certificateUri": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "item"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.otakiage.issueCertificate": {
      "post": {
        "summary": "供養完了の永続証跡を発行。authority gated (issuer = did:web:otakiage.etzhayyim.com:ritual のみ)。matsuri 開催完了時に当該 matsuri に紐づく ritual_pending item を一括処理し、各 ritual record + certificate AT Record を発行 (URI が永続 ID)。Phase 1 = JSON、Phase 2 で anchorTokenId に ERC725 anchor 追加可能。",
        "operationId": "com.etzhayyim.otakiage.issueCertificate",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "matsuriUri": {
                    "type": "string"
                  },
                  "ceremonyDate": {
                    "type": "string",
                    "description": "実施日時",
                    "format": "date-time"
                  },
                  "ceremonyPhotoBlobKey": {
                    "type": "string",
                    "description": "供養祭の様子の写真"
                  },
                  "displayText": {
                    "type": "string",
                    "description": "証跡本文 (省略時は item 集計から auto-generate)",
                    "maxLength": 4000
                  }
                },
                "required": [
                  "matsuriUri"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "certificateUri": {
                      "type": "string",
                      "description": "at://did:web:otakiage.etzhayyim.com:ritual/com.etzhayyim.apps.otakiage.certificate/{rkey}"
                    },
                    "ritualUri": {
                      "type": "string"
                    },
                    "itemCount": {
                      "type": "integer"
                    },
                    "categoryBreakdown": {
                      "type": "string",
                      "description": "JSON {category: count}"
                    },
                    "anchorTokenId": {
                      "type": "string",
                      "description": "Phase 2 ERC725 anchor (Phase 1 では空)"
                    },
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "ok",
                    "certificateUri",
                    "ritualUri",
                    "itemCount"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.otakiage.listItems": {
      "get": {
        "summary": "物品一覧。state / category / h3Cell でフィルタ。reuse 候補探索の主たる経路。Phase 1 = schema-only (generic.db.select BPMN で実装)。",
        "operationId": "com.etzhayyim.otakiage.listItems",
        "parameters": [
          {
            "name": "state",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "submitted",
                "reuse_open",
                "reuse_matched",
                "reuse_expired",
                "ritual_pending",
                "ritualized",
                "handed_over"
              ]
            }
          },
          {
            "name": "category",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "ehon",
                "jidousho",
                "nuigurumi",
                "ningyo",
                "omocha",
                "kagu",
                "kaden"
              ]
            }
          },
          {
            "name": "h3Cell",
            "in": "query",
            "required": false,
            "description": "中心 H3 res-5 cell。指定時は当該 cell + 隣接 6 cells に絞り込み",
            "schema": {
              "type": "string",
              "description": "中心 H3 res-5 cell。指定時は当該 cell + 隣接 6 cells に絞り込み"
            }
          },
          {
            "name": "ownerDid",
            "in": "query",
            "required": false,
            "description": "寄贈者で絞る (自分の出品一覧)",
            "schema": {
              "type": "string",
              "description": "寄贈者で絞る (自分の出品一覧)"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total": {
                      "type": "integer"
                    },
                    "offset": {
                      "type": "integer"
                    },
                    "limit": {
                      "type": "integer"
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "uri": {
                            "type": "string"
                          },
                          "category": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "state": {
                            "type": "string"
                          },
                          "mode": {
                            "type": "string"
                          },
                          "h3Cell": {
                            "type": "string"
                          },
                          "weightKgClass": {
                            "type": "string"
                          },
                          "photoBlobKey": {
                            "type": "string",
                            "description": "代表写真 1 枚 (photoBlobKeys[0])"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "items",
                    "total",
                    "offset",
                    "limit"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.otakiage.requestReuse": {
      "post": {
        "summary": "物品の引取希望を登録。reuser が H3 cell + メッセージを送り、寄贈者が confirmHandover で確定するまで pending。1 item に対して N reuse_request 並列許容、最初に confirm された 1 件のみ handed_over。",
        "operationId": "com.etzhayyim.otakiage.requestReuse",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "itemUri": {
                    "type": "string",
                    "description": "at:// 形式 item URI"
                  },
                  "requesterDid": {
                    "type": "string"
                  },
                  "message": {
                    "type": "string",
                    "description": "引取希望メッセージ (子の年齢、用途、引取手段 等)",
                    "maxLength": 1000
                  },
                  "h3Cell": {
                    "type": "string",
                    "description": "requester の H3 res-5 cell。距離計算に使用"
                  },
                  "lat": {
                    "type": "number"
                  },
                  "lng": {
                    "type": "number"
                  },
                  "preferredHandoverDate": {
                    "type": "string",
                    "format": "date"
                  }
                },
                "required": [
                  "itemUri",
                  "requesterDid"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "reuseRequestUri": {
                      "type": "string"
                    },
                    "distanceKm": {
                      "type": "number",
                      "description": "item と requester の H3 中心点間距離 (km)"
                    },
                    "withinAdjacentCells": {
                      "type": "boolean",
                      "description": "true なら res-5 同一 + 隣接 6 cell 圏内"
                    },
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "ok",
                    "reuseRequestUri",
                    "distanceKm"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.otakiage.requestRitual": {
      "post": {
        "summary": "お焚き上げ依頼。寄贈者または reuse 経由の TTL expire からの遷移。state を ritual_pending に変更、対応する matsuri (季節祭) に紐付ける。家具/家電 (mode=reuse_only) では reject される。実 ritual 開催 + 証跡発行は matsuri 開催時に issueCertificate 経由。",
        "operationId": "com.etzhayyim.otakiage.requestRitual",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "itemUri": {
                    "type": "string"
                  },
                  "matsuriUri": {
                    "type": "string",
                    "description": "希望する matsuri URI (omit 時は category にマッチする直近 matsuri に自動 assign)"
                  },
                  "donorMessage": {
                    "type": "string",
                    "description": "供養に込める思い / 物への感謝 (証跡 displayText 生成に使用)",
                    "maxLength": 2000
                  },
                  "skipReuse": {
                    "type": "boolean",
                    "description": "true なら reuse 段階を skip して直接 ritual_pending へ",
                    "default": false
                  }
                },
                "required": [
                  "itemUri"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "itemState": {
                      "type": "string",
                      "enum": [
                        "ritual_pending"
                      ]
                    },
                    "matsuriUri": {
                      "type": "string"
                    },
                    "scheduledDate": {
                      "type": "string",
                      "description": "matsuri.scheduled_date",
                      "format": "date"
                    },
                    "rejectedReason": {
                      "type": "string",
                      "description": "家具/家電 で ritual 不可の場合の理由"
                    },
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "ok",
                    "itemState"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.otakiage.scheduleMatsuri": {
      "post": {
        "summary": "季節祭 (供養祭) を新規スケジュール。authority gated (issuer = did:web:otakiage.etzhayyim.com or :matsuri sub-DID のみ)。BPMN matsuriSchedule (cron 月初) からも内部呼出される。",
        "operationId": "com.etzhayyim.otakiage.scheduleMatsuri",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "例: 「春の人形供養祭」「絵本供養祭 2026 / こどもの読書週間」",
                    "maxLength": 200
                  },
                  "scheduledDate": {
                    "type": "string",
                    "format": "date"
                  },
                  "categoryScope": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "ehon",
                        "jidousho",
                        "nuigurumi",
                        "ningyo",
                        "omocha",
                        "kagu",
                        "kaden"
                      ]
                    }
                  },
                  "capacity": {
                    "type": "integer",
                    "description": "受付上限件数 (0 = 制限なし)",
                    "minimum": 0
                  },
                  "locationH3": {
                    "type": "string",
                    "description": "開催地 H3 cell (Phase 1 = digital ritual のため optional)"
                  },
                  "description": {
                    "type": "string",
                    "description": "祭の趣旨 / 司式者 / 開催場所 etc",
                    "maxLength": 4000
                  }
                },
                "required": [
                  "name",
                  "scheduledDate",
                  "categoryScope"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "matsuriUri": {
                      "type": "string"
                    },
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "ok",
                    "matsuriUri"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.otakiage.submitItem": {
      "post": {
        "summary": "物品を otakiage 登録。state=submitted で INSERT され、家具以外は自動で reuse_open に遷移。photoBlobKeys は B2 content-addressed (SHA-256 hex)、登録前に uploadBlob で保存しておく。h3Cell が空の場合は h3FromLatLng で res-5 cell に解決。",
        "operationId": "com.etzhayyim.otakiage.submitItem",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ownerDid": {
                    "type": "string",
                    "description": "寄贈者 DID (did:web or did:plc)。Tier 3 PII (氏名/住所/連絡先) は Preferences で保持し、本 lexicon には含めない。"
                  },
                  "category": {
                    "type": "string",
                    "description": "ehon=絵本 / jidousho=児童書 / nuigurumi=ぬいぐるみ / ningyo=人形 / omocha=おもちゃ / kagu=家具 / kaden=家電",
                    "enum": [
                      "ehon",
                      "jidousho",
                      "nuigurumi",
                      "ningyo",
                      "omocha",
                      "kagu",
                      "kaden"
                    ]
                  },
                  "title": {
                    "type": "string",
                    "description": "物品名 (例: 「はらぺこあおむし」「アンパンマンのぬいぐるみ」「無印の本棚 大」)",
                    "maxLength": 200
                  },
                  "storyText": {
                    "type": "string",
                    "description": "物の思い出 / 状態 / 譲渡条件。受領者が判断材料にする",
                    "maxLength": 4000
                  },
                  "photoBlobKeys": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "maxItems": 5
                  },
                  "h3Cell": {
                    "type": "string",
                    "description": "H3 res-5 cell ID (15 chars)。omit 時は latLng から導出"
                  },
                  "lat": {
                    "type": "number"
                  },
                  "lng": {
                    "type": "number"
                  },
                  "weightKgClass": {
                    "type": "string",
                    "description": "light < 5kg / medium 5-20kg / heavy 20-50kg / bulky >50kg",
                    "enum": [
                      "light",
                      "medium",
                      "heavy",
                      "bulky"
                    ],
                    "default": "light"
                  },
                  "modeHint": {
                    "type": "string",
                    "description": "明示。omit 時は category から auto-derive (家具/家電 → reuse_only、他 → reuse_then_ritual)",
                    "enum": [
                      "reuse_then_ritual",
                      "reuse_only"
                    ]
                  }
                },
                "required": [
                  "category",
                  "title",
                  "ownerDid"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "itemUri": {
                      "type": "string",
                      "description": "at://did:web:otakiage.etzhayyim.com/com.etzhayyim.apps.otakiage.item/{rkey}"
                    },
                    "state": {
                      "type": "string",
                      "enum": [
                        "submitted",
                        "reuse_open"
                      ]
                    },
                    "mode": {
                      "type": "string",
                      "enum": [
                        "reuse_then_ritual",
                        "reuse_only"
                      ]
                    },
                    "h3Cell": {
                      "type": "string"
                    },
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "ok",
                    "itemUri",
                    "state"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {}
  }
}
