{
  "openapi": "3.0.3",
  "info": {
    "title": "pds XRPC API",
    "version": "0.1.0"
  },
  "servers": [
    {
      "url": "https://pds.etzhayyim.com"
    }
  ],
  "paths": {
    "/xrpc/ai.gftd.pds.exportRepo": {
      "get": {
        "summary": "ai.gftd.pds.exportRepo",
        "operationId": "ai.gftd.pds.exportRepo",
        "parameters": [
          {
            "name": "did",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/ai.gftd.pds.getActorProfile": {
      "get": {
        "summary": "ai.gftd.pds.getActorProfile",
        "operationId": "ai.gftd.pds.getActorProfile",
        "parameters": [
          {
            "name": "did",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "did"
            }
          },
          {
            "name": "handle",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "handle"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "did": {
                      "type": "string",
                      "format": "did"
                    },
                    "handle": {
                      "type": "string",
                      "format": "handle"
                    },
                    "displayName": {
                      "type": "string",
                      "maxLength": 640
                    },
                    "description": {
                      "type": "string",
                      "maxLength": 2560
                    },
                    "avatar": {
                      "type": "string",
                      "format": "uri"
                    },
                    "banner": {
                      "type": "string",
                      "format": "uri"
                    },
                    "labels": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/com_atproto_label_defs_label"
                      }
                    },
                    "viewer": {
                      "$ref": "#/components/schemas/app_bsky_actor_defs_viewerState"
                    },
                    "indexedAt": {
                      "type": "string",
                      "format": "datetime"
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "datetime"
                    },
                    "runtime": {
                      "type": "string",
                      "description": "GFTD extension: actor business runtime placement",
                      "x-knownValues": [
                        "k8s-langserver"
                      ]
                    },
                    "edge": {
                      "type": "string",
                      "description": "GFTD extension: public edge placement",
                      "x-knownValues": [
                        "sveltekit-proxy"
                      ]
                    },
                    "legacyExecutionTier": {
                      "type": "string",
                      "description": "GFTD extension: historical migration inventory only",
                      "x-knownValues": [
                        "T1",
                        "T2",
                        "T3"
                      ]
                    },
                    "actorStatus": {
                      "type": "string",
                      "description": "GFTD extension",
                      "x-knownValues": [
                        "active",
                        "suspended",
                        "archived"
                      ]
                    }
                  },
                  "required": [
                    "did",
                    "handle"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/ai.gftd.pds.getAppPreview": {
      "get": {
        "summary": "ai.gftd.pds.getAppPreview",
        "operationId": "ai.gftd.pds.getAppPreview",
        "parameters": [
          {
            "name": "nanoid",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "app": {
                      "type": "object"
                    }
                  },
                  "required": [
                    "app"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/ai.gftd.pds.getEntityGraph": {
      "get": {
        "summary": "ai.gftd.pds.getEntityGraph",
        "operationId": "ai.gftd.pds.getEntityGraph",
        "parameters": [
          {
            "name": "did",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "depth",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "nodes": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "edges": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  },
                  "required": [
                    "nodes",
                    "edges"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/ai.gftd.pds.getProfile": {
      "get": {
        "summary": "ai.gftd.pds.getProfile",
        "operationId": "ai.gftd.pds.getProfile",
        "parameters": [
          {
            "name": "did",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "did"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "did": {
                      "type": "string",
                      "format": "did"
                    },
                    "handle": {
                      "type": "string",
                      "format": "handle"
                    },
                    "displayName": {
                      "type": "string",
                      "maxLength": 640
                    },
                    "description": {
                      "type": "string",
                      "maxLength": 2560
                    },
                    "avatar": {
                      "type": "string",
                      "format": "uri"
                    },
                    "banner": {
                      "type": "string",
                      "format": "uri"
                    },
                    "followersCount": {
                      "type": "integer"
                    },
                    "followsCount": {
                      "type": "integer"
                    },
                    "postsCount": {
                      "type": "integer"
                    },
                    "labels": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/com_atproto_label_defs_label"
                      }
                    },
                    "viewer": {
                      "$ref": "#/components/schemas/app_bsky_actor_defs_viewerState"
                    },
                    "verification": {
                      "$ref": "#/components/schemas/app_bsky_actor_defs_verificationState"
                    },
                    "indexedAt": {
                      "type": "string",
                      "format": "datetime"
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "datetime"
                    },
                    "runtime": {
                      "type": "string",
                      "description": "GFTD extension: actor business runtime placement",
                      "x-knownValues": [
                        "k8s-langserver"
                      ]
                    },
                    "edge": {
                      "type": "string",
                      "description": "GFTD extension: public edge placement",
                      "x-knownValues": [
                        "sveltekit-proxy"
                      ]
                    },
                    "legacyExecutionTier": {
                      "type": "string",
                      "description": "GFTD extension: historical migration inventory only",
                      "x-knownValues": [
                        "T1",
                        "T2",
                        "T3"
                      ]
                    },
                    "actorStatus": {
                      "type": "string",
                      "description": "GFTD extension: actor platform status",
                      "x-knownValues": [
                        "active",
                        "suspended",
                        "archived"
                      ]
                    },
                    "entityGraph": {}
                  },
                  "required": [
                    "did",
                    "handle"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/ai.gftd.pds.importRepo": {
      "post": {
        "summary": "ai.gftd.pds.importRepo",
        "operationId": "ai.gftd.pds.importRepo",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "string",
                    "description": "Base64-encoded CAR file data. Compatible with com.atproto.repo.importRepo input."
                  },
                  "did": {
                    "type": "string",
                    "description": "GFTD extension: target DID for import",
                    "format": "did"
                  }
                },
                "required": [
                  "data"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "imported": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "imported"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/ai.gftd.pds.invoke": {
      "post": {
        "summary": "ai.gftd.pds.invoke",
        "operationId": "ai.gftd.pds.invoke",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "did": {
                    "type": "string"
                  },
                  "method": {
                    "type": "string"
                  },
                  "params": {
                    "type": "object"
                  }
                },
                "required": [
                  "did",
                  "method"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object"
                    }
                  },
                  "required": [
                    "result"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/ai.gftd.pds.listHeartbeatApps": {
      "get": {
        "summary": "ai.gftd.pds.listHeartbeatApps",
        "operationId": "ai.gftd.pds.listHeartbeatApps",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "apps": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  },
                  "required": [
                    "apps"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/ai.gftd.pds.putProfile": {
      "post": {
        "summary": "ai.gftd.pds.putProfile",
        "operationId": "ai.gftd.pds.putProfile",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "displayName": {
                    "type": "string",
                    "maxLength": 640
                  },
                  "description": {
                    "type": "string",
                    "maxLength": 2560
                  },
                  "avatar": {
                    "type": "string",
                    "format": "uri"
                  },
                  "labels": {
                    "$ref": "#/components/schemas/com_atproto_label_defs_selfLabels"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "rkey": {
                      "type": "string"
                    },
                    "uri": {
                      "type": "string",
                      "format": "at-uri"
                    },
                    "cid": {
                      "type": "string",
                      "format": "cid"
                    }
                  },
                  "required": [
                    "rkey",
                    "uri",
                    "cid"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/ai.gftd.pds.query": {
      "get": {
        "summary": "ai.gftd.pds.query",
        "operationId": "ai.gftd.pds.query",
        "parameters": [
          {
            "name": "statement",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "parameters",
            "in": "query",
            "required": false,
            "schema": {
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "rows": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  },
                  "required": [
                    "rows"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/ai.gftd.pds.registerSyncApp": {
      "post": {
        "summary": "ai.gftd.pds.registerSyncApp",
        "operationId": "ai.gftd.pds.registerSyncApp",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "nanoid": {
                    "type": "string"
                  }
                },
                "required": [
                  "nanoid"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "registered": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "registered"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ai_gftd_pds_profileIncomplete": {
        "type": "object",
        "properties": {
          "did": {
            "type": "string"
          },
          "reason": {
            "type": "string"
          }
        },
        "required": [
          "did",
          "reason"
        ]
      }
    }
  }
}