{
  "openapi": "3.0.3",
  "info": {
    "title": "plc XRPC API",
    "version": "0.1.0"
  },
  "servers": [
    {
      "url": "https://plc.etzhayyim.com"
    }
  ],
  "paths": {
    "/xrpc/ai.gftd.plc.getLog": {
      "get": {
        "summary": "Proxy for plc.gftd.ai GET /{did}/log — returns the full operation log for a DID. Each op is signature-verifiable offline. Used for audit, forensics, and federation sync.",
        "operationId": "ai.gftd.plc.getLog",
        "parameters": [
          {
            "name": "did",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "did"
            }
          },
          {
            "name": "includeNullified",
            "in": "query",
            "required": false,
            "description": "include ops marked as nullified due to chain fork resolution",
            "schema": {
              "type": "boolean",
              "description": "include ops marked as nullified due to chain fork resolution",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "did": {
                      "type": "string",
                      "format": "did"
                    },
                    "count": {
                      "type": "integer"
                    },
                    "ops": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "seq": {
                            "type": "integer"
                          },
                          "cid": {
                            "type": "string",
                            "format": "cid"
                          },
                          "prevCid": {
                            "type": "string",
                            "format": "cid"
                          },
                          "signedByKey": {
                            "type": "string",
                            "format": "did"
                          },
                          "signature": {
                            "type": "string"
                          },
                          "opType": {
                            "type": "string",
                            "enum": [
                              "plc_operation",
                              "plc_tombstone"
                            ]
                          },
                          "nullified": {
                            "type": "boolean",
                            "default": false
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "datetime"
                          }
                        },
                        "required": [
                          "seq",
                          "cid",
                          "signedByKey",
                          "createdAt"
                        ]
                      }
                    },
                    "integrityVerified": {
                      "type": "boolean",
                      "description": "true if signature chain was verified end-to-end server-side"
                    }
                  },
                  "required": [
                    "did",
                    "ops",
                    "count"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/ai.gftd.plc.migrateActor": {
      "post": {
        "summary": "ADR-0014 Phase 5: migrate a did:web actor to did:plc. PDS builds genesis op with rotation key from D1 (ADR-0010 custody), signs with ES256K, computes DID, and registers with plc.gftd.ai. Client never touches key material.",
        "operationId": "ai.gftd.plc.migrateActor",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "actor": {
                    "type": "string",
                    "description": "actor name from deps.toml [[mitama_actors]] (e.g. adr, legal-aid)"
                  },
                  "handle": {
                    "type": "string",
                    "description": "atproto handle to embed in DID document alsoKnownAs (e.g. adr.gftd.ai)",
                    "format": "handle"
                  },
                  "dryRun": {
                    "type": "boolean",
                    "description": "if true: build + sign genesis op, compute DID, but do NOT register with plc.gftd.ai and do NOT persist rotation mapping",
                    "default": false
                  },
                  "existingRotationKeys": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "did"
                    }
                  }
                },
                "required": [
                  "actor",
                  "handle"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "did": {
                      "type": "string",
                      "description": "new did:plc identifier (did:plc:{24-char base32})",
                      "format": "did"
                    },
                    "genesisCid": {
                      "type": "string",
                      "description": "dag-cbor CID of the genesis operation",
                      "format": "cid"
                    },
                    "plcUrl": {
                      "type": "string",
                      "description": "plc.gftd.ai resolve URL for the new DID",
                      "format": "uri"
                    },
                    "handle": {
                      "type": "string",
                      "format": "handle"
                    },
                    "legacyDid": {
                      "type": "string",
                      "description": "previous did:web that the actor used (grandfathered 6 months)",
                      "format": "did"
                    },
                    "registered": {
                      "type": "boolean",
                      "description": "true if DID was successfully POSTed to plc.gftd.ai (false in dryRun or if already exists)"
                    }
                  },
                  "required": [
                    "did",
                    "handle",
                    "legacyDid"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/ai.gftd.plc.resolveDid": {
      "get": {
        "summary": "Proxy for plc.gftd.ai GET /{did} — returns the current W3C DID document by replaying the signed op log. Caller-side alternative: fetch plc.gftd.ai directly (no PDS auth required for public DIDs).",
        "operationId": "ai.gftd.plc.resolveDid",
        "parameters": [
          {
            "name": "did",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "did"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "did": {
                      "type": "string",
                      "format": "did"
                    },
                    "document": {},
                    "source": {
                      "type": "string",
                      "description": "which resolver satisfied the query",
                      "enum": [
                        "plc.gftd.ai",
                        "did:web",
                        "cache"
                      ]
                    },
                    "resolvedAt": {
                      "type": "string",
                      "format": "datetime"
                    }
                  },
                  "required": [
                    "did",
                    "document"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ai_gftd_plc_operation": {
        "type": "object",
        "properties": {
          "did": {
            "type": "string",
            "description": "did:plc being updated",
            "format": "did"
          },
          "seq": {
            "type": "integer",
            "description": "monotonic per-DID sequence number (1 = genesis)",
            "minimum": 1
          },
          "opCid": {
            "type": "string",
            "description": "dag-cbor CID of the operation",
            "format": "cid"
          },
          "prevCid": {
            "type": "string",
            "description": "null for genesis, otherwise CID of previous op",
            "format": "cid"
          },
          "opType": {
            "type": "string",
            "description": "op type (tombstone finalizes the DID)",
            "enum": [
              "plc_operation",
              "plc_tombstone"
            ]
          },
          "signedByKey": {
            "type": "string",
            "description": "did:key of rotation key that signed this op",
            "format": "did"
          },
          "directory": {
            "type": "string",
            "description": "origin directory (e.g. https://plc.gftd.ai)",
            "format": "uri"
          },
          "createdAt": {
            "type": "string",
            "format": "datetime"
          }
        },
        "required": [
          "did",
          "seq",
          "opCid",
          "createdAt"
        ]
      }
    }
  }
}