{
  "openapi": "3.0.3",
  "info": {
    "title": "projector XRPC API",
    "version": "0.1.0"
  },
  "servers": [
    {
      "url": "https://projector.etzhayyim.com"
    }
  ],
  "paths": {
    "/xrpc/app.etzhayyim.projector.addBlocker": {
      "post": {
        "summary": "app.etzhayyim.projector.addBlocker",
        "operationId": "app.etzhayyim.projector.addBlocker",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "projectId": {
                    "type": "string"
                  },
                  "title": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "blockerType": {
                    "type": "string"
                  },
                  "severity": {
                    "type": "string"
                  }
                },
                "required": [
                  "projectId",
                  "title",
                  "blockerType"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "blockerId": {
                      "type": "string"
                    },
                    "projectId": {
                      "type": "string"
                    },
                    "propagatedCount": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "blockerId",
                    "projectId"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/app.etzhayyim.projector.addConvoMember": {
      "post": {
        "summary": "app.etzhayyim.projector.addConvoMember",
        "operationId": "app.etzhayyim.projector.addConvoMember",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "convoId": {
                    "type": "string"
                  },
                  "memberDid": {
                    "type": "string"
                  },
                  "role": {
                    "type": "string"
                  }
                },
                "required": [
                  "convoId",
                  "memberDid"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "memberId": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "memberId",
                    "status"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/app.etzhayyim.projector.addConvoTask": {
      "post": {
        "summary": "app.etzhayyim.projector.addConvoTask",
        "operationId": "app.etzhayyim.projector.addConvoTask",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "convoId": {
                    "type": "string"
                  },
                  "title": {
                    "type": "string"
                  },
                  "priority": {
                    "type": "string"
                  },
                  "assigneeDid": {
                    "type": "string"
                  },
                  "dueDate": {
                    "type": "string"
                  }
                },
                "required": [
                  "convoId",
                  "title"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "taskId": {
                      "type": "string"
                    },
                    "title": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "taskId",
                    "title",
                    "status"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/app.etzhayyim.projector.addReflection": {
      "post": {
        "summary": "app.etzhayyim.projector.addReflection",
        "operationId": "app.etzhayyim.projector.addReflection",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "convoId": {
                    "type": "string"
                  }
                },
                "required": [
                  "convoId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "rkey": {
                      "type": "string"
                    },
                    "uri": {
                      "type": "string"
                    },
                    "cid": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "rkey",
                    "uri",
                    "cid"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/app.etzhayyim.projector.archiveProjectConvo": {
      "post": {
        "summary": "app.etzhayyim.projector.archiveProjectConvo",
        "operationId": "app.etzhayyim.projector.archiveProjectConvo",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "convoId": {
                    "type": "string"
                  }
                },
                "required": [
                  "convoId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "convoId": {
                      "type": "string"
                    },
                    "projectId": {
                      "type": "string"
                    },
                    "archivedChildren": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "status",
                    "convoId",
                    "projectId",
                    "archivedChildren"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/app.etzhayyim.projector.branchConvo": {
      "post": {
        "summary": "app.etzhayyim.projector.branchConvo",
        "operationId": "app.etzhayyim.projector.branchConvo",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "convoId": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  }
                },
                "required": [
                  "convoId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "branchConvoId": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "branchConvoId"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/app.etzhayyim.projector.completeConvoTask": {
      "post": {
        "summary": "app.etzhayyim.projector.completeConvoTask",
        "operationId": "app.etzhayyim.projector.completeConvoTask",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "convoId": {
                    "type": "string"
                  },
                  "taskId": {
                    "type": "string"
                  }
                },
                "required": [
                  "convoId",
                  "taskId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "taskId": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "taskId",
                    "status"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/app.etzhayyim.projector.consistentAnswer": {
      "post": {
        "summary": "app.etzhayyim.projector.consistentAnswer",
        "operationId": "app.etzhayyim.projector.consistentAnswer",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "convoId": {
                    "type": "string"
                  },
                  "question": {
                    "type": "string"
                  }
                },
                "required": [
                  "convoId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "answer": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "answer"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/app.etzhayyim.projector.exploreThoughts": {
      "post": {
        "summary": "app.etzhayyim.projector.exploreThoughts",
        "operationId": "app.etzhayyim.projector.exploreThoughts",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "convoId": {
                    "type": "string"
                  },
                  "question": {
                    "type": "string"
                  }
                },
                "required": [
                  "convoId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "reply": {
                      "type": "string"
                    },
                    "messages": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  },
                  "required": [
                    "reply",
                    "messages"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/app.etzhayyim.projector.getConvoProjectStatus": {
      "get": {
        "summary": "app.etzhayyim.projector.getConvoProjectStatus",
        "operationId": "app.etzhayyim.projector.getConvoProjectStatus",
        "parameters": [
          {
            "name": "convoId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "project": {
                      "type": "object"
                    },
                    "taskSummary": {
                      "type": "object"
                    },
                    "totalTasks": {
                      "type": "integer"
                    },
                    "childCount": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "project",
                    "taskSummary",
                    "totalTasks",
                    "childCount"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/app.etzhayyim.projector.getProjectConvo": {
      "get": {
        "summary": "app.etzhayyim.projector.getProjectConvo",
        "operationId": "app.etzhayyim.projector.getProjectConvo",
        "parameters": [
          {
            "name": "convoId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "convo": {
                      "type": "object"
                    },
                    "project": {
                      "type": "object"
                    },
                    "taskSummary": {
                      "type": "object"
                    },
                    "totalTasks": {
                      "type": "integer"
                    },
                    "members": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "children": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "depth": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "convo",
                    "project",
                    "taskSummary",
                    "totalTasks",
                    "members",
                    "children",
                    "depth"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/app.etzhayyim.projector.getProjectStatus": {
      "get": {
        "summary": "app.etzhayyim.projector.getProjectStatus",
        "operationId": "app.etzhayyim.projector.getProjectStatus",
        "parameters": [
          {
            "name": "projectId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "summarize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "projectId": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "lifecycleState": {
                      "type": "string"
                    },
                    "progressPermille": {
                      "type": "integer"
                    },
                    "openBlockerCount": {
                      "type": "integer"
                    },
                    "totalBlockerCount": {
                      "type": "integer"
                    },
                    "targetDate": {
                      "type": "string"
                    },
                    "summary": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "projectId",
                    "name",
                    "lifecycleState"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/app.etzhayyim.projector.getProjectUnreadCounts": {
      "get": {
        "summary": "app.etzhayyim.projector.getProjectUnreadCounts",
        "operationId": "app.etzhayyim.projector.getProjectUnreadCounts",
        "parameters": [
          {
            "name": "convoId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "counts": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  },
                  "required": [
                    "counts"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/app.etzhayyim.projector.listBranches": {
      "get": {
        "summary": "app.etzhayyim.projector.listBranches",
        "operationId": "app.etzhayyim.projector.listBranches",
        "parameters": [
          {
            "name": "convoId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "branches": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  },
                  "required": [
                    "branches"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/app.etzhayyim.projector.listConvoTasks": {
      "get": {
        "summary": "app.etzhayyim.projector.listConvoTasks",
        "operationId": "app.etzhayyim.projector.listConvoTasks",
        "parameters": [
          {
            "name": "convoId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tasks": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "total": {
                      "type": "integer"
                    },
                    "offset": {
                      "type": "integer"
                    },
                    "limit": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "tasks",
                    "total",
                    "offset",
                    "limit"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/app.etzhayyim.projector.listProjectConvos": {
      "get": {
        "summary": "app.etzhayyim.projector.listProjectConvos",
        "operationId": "app.etzhayyim.projector.listProjectConvos",
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "parentUri",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "convos": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "total": {
                      "type": "integer"
                    },
                    "offset": {
                      "type": "integer"
                    },
                    "limit": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "convos",
                    "total",
                    "offset",
                    "limit"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/app.etzhayyim.projector.listProjectNotifications": {
      "get": {
        "summary": "app.etzhayyim.projector.listProjectNotifications",
        "operationId": "app.etzhayyim.projector.listProjectNotifications",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "notifications": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "cursor": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "notifications"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/app.etzhayyim.projector.listProjectTree": {
      "get": {
        "summary": "app.etzhayyim.projector.listProjectTree",
        "operationId": "app.etzhayyim.projector.listProjectTree",
        "parameters": [
          {
            "name": "convoId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "maxDepth",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tree": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  },
                  "required": [
                    "tree"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/app.etzhayyim.projector.listProjects": {
      "get": {
        "summary": "app.etzhayyim.projector.listProjects",
        "operationId": "app.etzhayyim.projector.listProjects",
        "parameters": [
          {
            "name": "orgId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lifecycleState",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "projects": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/_projectSummary"
                      }
                    },
                    "cursor": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "projects"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/app.etzhayyim.projector.listReflections": {
      "get": {
        "summary": "app.etzhayyim.projector.listReflections",
        "operationId": "app.etzhayyim.projector.listReflections",
        "parameters": [
          {
            "name": "convoId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "reflections": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  },
                  "required": [
                    "reflections"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/app.etzhayyim.projector.loadProjectChat": {
      "get": {
        "summary": "app.etzhayyim.projector.loadProjectChat",
        "operationId": "app.etzhayyim.projector.loadProjectChat",
        "parameters": [
          {
            "name": "convoId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "convoId": {
                      "type": "string"
                    },
                    "messages": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "members": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  },
                  "required": [
                    "convoId",
                    "messages",
                    "members"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/app.etzhayyim.projector.moveProject": {
      "post": {
        "summary": "app.etzhayyim.projector.moveProject",
        "operationId": "app.etzhayyim.projector.moveProject",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "convoId": {
                    "type": "string"
                  },
                  "targetParentUri": {
                    "type": "string"
                  }
                },
                "required": [
                  "convoId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/app.etzhayyim.projector.newProjectConvo": {
      "post": {
        "summary": "app.etzhayyim.projector.newProjectConvo",
        "operationId": "app.etzhayyim.projector.newProjectConvo",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "kind": {
                    "type": "string"
                  },
                  "members": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "parentProjectUri": {
                    "type": "string"
                  }
                },
                "required": [
                  "name"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "convoId": {
                      "type": "string"
                    },
                    "projectId": {
                      "type": "string"
                    },
                    "did": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "email": {
                      "type": "string"
                    },
                    "kind": {
                      "type": "string"
                    },
                    "depth": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "convoId",
                    "projectId",
                    "did",
                    "name",
                    "email",
                    "kind",
                    "depth"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/app.etzhayyim.projector.resolveBlocker": {
      "post": {
        "summary": "app.etzhayyim.projector.resolveBlocker",
        "operationId": "app.etzhayyim.projector.resolveBlocker",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "blockerId": {
                    "type": "string"
                  },
                  "resolution": {
                    "type": "string"
                  }
                },
                "required": [
                  "blockerId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "blockerId": {
                      "type": "string"
                    },
                    "projectId": {
                      "type": "string"
                    },
                    "propagatedCount": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "blockerId",
                    "projectId"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/app.etzhayyim.projector.resolveProjectEmail": {
      "post": {
        "summary": "app.etzhayyim.projector.resolveProjectEmail",
        "operationId": "app.etzhayyim.projector.resolveProjectEmail",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string"
                  }
                },
                "required": [
                  "email"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "convoId": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "convoId"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/app.etzhayyim.projector.sendProjectMessage": {
      "post": {
        "summary": "app.etzhayyim.projector.sendProjectMessage",
        "operationId": "app.etzhayyim.projector.sendProjectMessage",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "convoId": {
                    "type": "string"
                  },
                  "text": {
                    "type": "string"
                  }
                },
                "required": [
                  "convoId",
                  "text"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "reply": {
                      "type": "string"
                    },
                    "messages": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  },
                  "required": [
                    "reply",
                    "messages"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/app.etzhayyim.projector.updateProgress": {
      "post": {
        "summary": "app.etzhayyim.projector.updateProgress",
        "operationId": "app.etzhayyim.projector.updateProgress",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "projectId": {
                    "type": "string"
                  },
                  "progressPermille": {
                    "type": "integer"
                  },
                  "lifecycleState": {
                    "type": "string"
                  },
                  "targetDate": {
                    "type": "string"
                  }
                },
                "required": [
                  "projectId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "projectId": {
                      "type": "string"
                    },
                    "lifecycleState": {
                      "type": "string"
                    },
                    "progressPermille": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "projectId",
                    "lifecycleState"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/app.etzhayyim.projector.updateProjectConvo": {
      "post": {
        "summary": "app.etzhayyim.projector.updateProjectConvo",
        "operationId": "app.etzhayyim.projector.updateProjectConvo",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "convoId": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "status": {
                    "type": "string"
                  }
                },
                "required": [
                  "convoId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "convoId": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "convoId"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ai_gftd_projector_branch": {
        "type": "object",
        "properties": {
          "sourceConvoId": {
            "type": "string"
          },
          "branchConvoId": {
            "type": "string"
          },
          "branchPointRkey": {
            "type": "string"
          }
        },
        "required": [
          "sourceConvoId",
          "branchConvoId"
        ]
      },
      "ai_gftd_projector_reflection": {
        "type": "object",
        "properties": {
          "convoId": {
            "type": "string"
          },
          "content": {
            "type": "string"
          }
        },
        "required": [
          "convoId"
        ]
      }
    }
  }
}