{
  "openapi": "3.0.3",
  "info": {
    "title": "rareEarthCoverage XRPC API",
    "version": "0.1.0"
  },
  "servers": [
    {
      "url": "https://rareEarthCoverage.etzhayyim.com"
    }
  ],
  "paths": {
    "/xrpc/com.etzhayyim.rareEarthCoverage.getSegment": {
      "get": {
        "summary": "Get a rare earth supply chain segment by DID.",
        "operationId": "com.etzhayyim.rareEarthCoverage.getSegment",
        "parameters": [
          {
            "name": "did",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "did"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "did": {
                      "type": "string",
                      "format": "did"
                    },
                    "segment": {
                      "type": "string"
                    },
                    "country": {
                      "type": "string"
                    },
                    "operatorDid": {
                      "type": "string",
                      "format": "did"
                    },
                    "elements": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "annualCapacityTonnes": {
                      "type": "number"
                    },
                    "annualOutputTonnes": {
                      "type": "number"
                    },
                    "policyConstraints": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.rareEarthCoverage.listSegments": {
      "get": {
        "summary": "List rare earth supply chain segments with offset/limit pagination, optional filters.",
        "operationId": "com.etzhayyim.rareEarthCoverage.listSegments",
        "parameters": [
          {
            "name": "segment",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "element",
            "in": "query",
            "required": false,
            "description": "filter by RE element (nd/pr/dy/tb/sm/eu/gd/y/ce/la/sc)",
            "schema": {
              "type": "string",
              "description": "filter by RE element (nd/pr/dy/tb/sm/eu/gd/y/ce/la/sc)"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "segments": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "did": {
                            "type": "string",
                            "format": "did"
                          },
                          "segment": {
                            "type": "string"
                          },
                          "country": {
                            "type": "string"
                          },
                          "elements": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "annualOutputTonnes": {
                            "type": "number"
                          }
                        }
                      }
                    },
                    "total": {
                      "type": "integer"
                    },
                    "offset": {
                      "type": "integer"
                    },
                    "limit": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "segments",
                    "total",
                    "offset",
                    "limit"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.rareEarthCoverage.registerSegment": {
      "post": {
        "summary": "Register a rare earth supply chain segment node (mining/separation/magnet/policy/finance/recycling). Sources: USGS + IEA + Adamas Intelligence + national mineral surveys.",
        "operationId": "com.etzhayyim.rareEarthCoverage.registerSegment",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "segment": {
                    "type": "string",
                    "enum": [
                      "mining",
                      "separation",
                      "metal-alloy",
                      "magnet",
                      "policy",
                      "finance",
                      "recycling",
                      "downstream-oem"
                    ]
                  },
                  "country": {
                    "type": "string",
                    "description": "ISO 3166-1 alpha-3"
                  },
                  "operatorDid": {
                    "type": "string",
                    "description": "legal-entity DID",
                    "format": "did"
                  },
                  "elements": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "nd",
                        "pr",
                        "dy",
                        "tb",
                        "sm",
                        "eu",
                        "gd",
                        "y",
                        "ce",
                        "la",
                        "sc"
                      ]
                    }
                  },
                  "annualCapacityTonnes": {
                    "type": "number"
                  },
                  "annualOutputTonnes": {
                    "type": "number"
                  },
                  "policyConstraints": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "china-export-control",
                        "us-defense-production-act",
                        "eu-crma",
                        "jp-stockpile-strategy"
                      ]
                    }
                  }
                },
                "required": [
                  "segment",
                  "country"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "did": {
                      "type": "string",
                      "format": "did"
                    },
                    "uri": {
                      "type": "string",
                      "format": "at-uri"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {}
  }
}
