{
  "openapi": "3.0.3",
  "info": {
    "title": "research XRPC API",
    "version": "0.1.0"
  },
  "servers": [
    {
      "url": "https://research.etzhayyim.com"
    }
  ],
  "paths": {
    "/xrpc/com.etzhayyim.research.gpuPriceCompare": {
      "get": {
        "summary": "Cross-provider GPU $/hr comparison. Returns price per GPU and per-provider cheapest from the research dataset (Vultr Cloud/BM, RunPod Secure, DigitalOcean). SSoT = public.mv_research_gpu_price_compare (ADR-2605110227).",
        "operationId": "com.etzhayyim.research.gpuPriceCompare",
        "parameters": [
          {
            "name": "model",
            "in": "query",
            "required": false,
            "description": "Filter by GPU model name (case-insensitive substring), e.g. 'L40S', 'MI300X', 'H100'.",
            "schema": {
              "type": "string",
              "description": "Filter by GPU model name (case-insensitive substring), e.g. 'L40S', 'MI300X', 'H100'."
            }
          },
          {
            "name": "vendor",
            "in": "query",
            "required": false,
            "description": "Filter by vendor, 'nvidia' or 'amd'.",
            "schema": {
              "type": "string",
              "description": "Filter by vendor, 'nvidia' or 'amd'."
            }
          },
          {
            "name": "vramMinGb",
            "in": "query",
            "required": false,
            "description": "Filter to GPUs with at least this much VRAM (full card).",
            "schema": {
              "type": "integer",
              "description": "Filter to GPUs with at least this much VRAM (full card).",
              "minimum": 1
            }
          },
          {
            "name": "fp8Native",
            "in": "query",
            "required": false,
            "description": "If true, return only FP8-native GPUs.",
            "schema": {
              "type": "boolean",
              "description": "If true, return only FP8-native GPUs."
            }
          },
          {
            "name": "generation",
            "in": "query",
            "required": false,
            "description": "Filter by GPU generation, e.g. 'ada', 'hopper', 'blackwell', 'cdna3', 'cdna4'.",
            "schema": {
              "type": "string",
              "description": "Filter by GPU generation, e.g. 'ada', 'hopper', 'blackwell', 'cdna3', 'cdna4'."
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "rows": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "gpuDid": {
                            "type": "string"
                          },
                          "vendor": {
                            "type": "string"
                          },
                          "model": {
                            "type": "string"
                          },
                          "vramGbFull": {
                            "type": "integer"
                          },
                          "generation": {
                            "type": "string"
                          },
                          "fp8Native": {
                            "type": "boolean"
                          },
                          "vultrCloudHr": {
                            "type": "number"
                          },
                          "vultrBmHr": {
                            "type": "number"
                          },
                          "runpodSecureHr": {
                            "type": "number"
                          },
                          "digitaloceanHr": {
                            "type": "number"
                          }
                        },
                        "required": [
                          "gpuDid",
                          "model",
                          "vramGbFull"
                        ]
                      }
                    },
                    "total": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "rows",
                    "total"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.research.listAdrs": {
      "get": {
        "summary": "List repository ADRs from the parsed-frontmatter graph (public.vertex_research_adr). Returned rows include id, title, status, topic, last_verified, related_count, supersedes_count. SSoT = public.mv_research_adr_graph (ADR-2605110227 §3.1; ingested via 70-tools/scripts/research/extract-adr-frontmatter.py).",
        "operationId": "com.etzhayyim.research.listAdrs",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "Filter by status, e.g. 'active', 'deprecated', 'blocked-by-vultr-vke-gpu-unlock'.",
            "schema": {
              "type": "string",
              "description": "Filter by status, e.g. 'active', 'deprecated', 'blocked-by-vultr-vke-gpu-unlock'."
            }
          },
          {
            "name": "topic",
            "in": "query",
            "required": false,
            "description": "Filter by topic (substring match).",
            "schema": {
              "type": "string",
              "description": "Filter by topic (substring match)."
            }
          },
          {
            "name": "q",
            "in": "query",
            "required": false,
            "description": "Free-text substring match against title.",
            "schema": {
              "type": "string",
              "description": "Free-text substring match against title."
            }
          },
          {
            "name": "authoritativeOnly",
            "in": "query",
            "required": false,
            "description": "If true, only return ADRs flagged authoritative:true.",
            "schema": {
              "type": "boolean",
              "description": "If true, only return ADRs flagged authoritative:true."
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "adrs": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "didPath": {
                            "type": "string"
                          },
                          "adrId": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "topic": {
                            "type": "string"
                          },
                          "authoritative": {
                            "type": "boolean"
                          },
                          "lastVerified": {
                            "type": "string"
                          },
                          "relatedCount": {
                            "type": "integer"
                          },
                          "supersedesCount": {
                            "type": "integer"
                          },
                          "supersededByCount": {
                            "type": "integer"
                          }
                        },
                        "required": [
                          "didPath",
                          "adrId",
                          "title",
                          "status"
                        ]
                      }
                    },
                    "total": {
                      "type": "integer"
                    },
                    "offset": {
                      "type": "integer"
                    },
                    "limit": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "adrs",
                    "total",
                    "offset",
                    "limit"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {}
  }
}
