{
  "openapi": "3.0.3",
  "info": {
    "title": "rtc XRPC API",
    "version": "0.1.0"
  },
  "servers": [
    {
      "url": "https://rtc.etzhayyim.com"
    }
  ],
  "paths": {
    "/xrpc/ai.gftd.rtc.admitParticipant": {
      "post": {
        "summary": "ai.gftd.rtc.admitParticipant",
        "operationId": "ai.gftd.rtc.admitParticipant",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "meetingId": {
                    "type": "string"
                  },
                  "participantDid": {
                    "type": "string"
                  }
                },
                "required": [
                  "meetingId",
                  "participantDid"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "rkey": {
                      "type": "string"
                    },
                    "uri": {
                      "type": "string"
                    },
                    "cid": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "rkey",
                    "uri",
                    "cid"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/ai.gftd.rtc.createBreakout": {
      "post": {
        "summary": "ai.gftd.rtc.createBreakout",
        "operationId": "ai.gftd.rtc.createBreakout",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "meetingId": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  }
                },
                "required": [
                  "meetingId",
                  "name"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "rkey": {
                      "type": "string"
                    },
                    "uri": {
                      "type": "string"
                    },
                    "cid": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "rkey",
                    "uri",
                    "cid"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/ai.gftd.rtc.getVAPIDPublicKey": {
      "get": {
        "summary": "ai.gftd.rtc.getVAPIDPublicKey",
        "operationId": "ai.gftd.rtc.getVAPIDPublicKey",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "publicKey": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "publicKey"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/ai.gftd.rtc.hangupCall": {
      "post": {
        "summary": "ai.gftd.rtc.hangupCall",
        "operationId": "ai.gftd.rtc.hangupCall",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "convoId": {
                    "type": "string"
                  },
                  "callId": {
                    "type": "string"
                  },
                  "reason": {
                    "type": "string"
                  }
                },
                "required": [
                  "convoId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "signalType": {
                      "type": "string"
                    },
                    "convoId": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "ok",
                    "signalType",
                    "convoId"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/ai.gftd.rtc.joinMeeting": {
      "post": {
        "summary": "ai.gftd.rtc.joinMeeting",
        "operationId": "ai.gftd.rtc.joinMeeting",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "meetingId": {
                    "type": "string"
                  }
                },
                "required": [
                  "meetingId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "rkey": {
                      "type": "string"
                    },
                    "uri": {
                      "type": "string"
                    },
                    "cid": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "rkey",
                    "uri",
                    "cid"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/ai.gftd.rtc.openHuddle": {
      "post": {
        "summary": "ai.gftd.rtc.openHuddle",
        "operationId": "ai.gftd.rtc.openHuddle",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "convoId": {
                    "type": "string"
                  }
                },
                "required": [
                  "convoId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "rkey": {
                      "type": "string"
                    },
                    "uri": {
                      "type": "string"
                    },
                    "cid": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "rkey",
                    "uri",
                    "cid"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/ai.gftd.rtc.raiseHand": {
      "post": {
        "summary": "ai.gftd.rtc.raiseHand",
        "operationId": "ai.gftd.rtc.raiseHand",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "meetingId": {
                    "type": "string"
                  },
                  "raised": {
                    "type": "boolean"
                  }
                },
                "required": [
                  "meetingId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "rkey": {
                      "type": "string"
                    },
                    "uri": {
                      "type": "string"
                    },
                    "cid": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "rkey",
                    "uri",
                    "cid"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/ai.gftd.rtc.scheduleMeeting": {
      "post": {
        "summary": "ai.gftd.rtc.scheduleMeeting",
        "operationId": "ai.gftd.rtc.scheduleMeeting",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string"
                  },
                  "scheduledAt": {
                    "type": "string"
                  },
                  "participants": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                },
                "required": [
                  "title"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "rkey": {
                      "type": "string"
                    },
                    "uri": {
                      "type": "string"
                    },
                    "cid": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "rkey",
                    "uri",
                    "cid"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/ai.gftd.rtc.sendCallAnswer": {
      "post": {
        "summary": "ai.gftd.rtc.sendCallAnswer",
        "operationId": "ai.gftd.rtc.sendCallAnswer",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "convoId": {
                    "type": "string"
                  },
                  "callId": {
                    "type": "string"
                  },
                  "sdp": {
                    "type": "string"
                  }
                },
                "required": [
                  "convoId",
                  "sdp"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "signalType": {
                      "type": "string"
                    },
                    "convoId": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "ok",
                    "signalType",
                    "convoId"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/ai.gftd.rtc.sendCallICE": {
      "post": {
        "summary": "ai.gftd.rtc.sendCallICE",
        "operationId": "ai.gftd.rtc.sendCallICE",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "convoId": {
                    "type": "string"
                  },
                  "callId": {
                    "type": "string"
                  },
                  "candidate": {
                    "type": "string"
                  },
                  "sdpMid": {
                    "type": "string"
                  },
                  "sdpMLineIndex": {
                    "type": "integer"
                  }
                },
                "required": [
                  "convoId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "signalType": {
                      "type": "string"
                    },
                    "convoId": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "ok",
                    "signalType",
                    "convoId"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/ai.gftd.rtc.sendCallOffer": {
      "post": {
        "summary": "ai.gftd.rtc.sendCallOffer",
        "operationId": "ai.gftd.rtc.sendCallOffer",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "convoId": {
                    "type": "string"
                  },
                  "targetDid": {
                    "type": "string"
                  },
                  "sdp": {
                    "type": "string"
                  },
                  "callId": {
                    "type": "string"
                  },
                  "mediaType": {
                    "type": "string"
                  }
                },
                "required": [
                  "convoId",
                  "targetDid",
                  "sdp"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "signalType": {
                      "type": "string"
                    },
                    "convoId": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "ok",
                    "signalType",
                    "convoId"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/ai.gftd.rtc.shareScreen": {
      "post": {
        "summary": "ai.gftd.rtc.shareScreen",
        "operationId": "ai.gftd.rtc.shareScreen",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "meetingId": {
                    "type": "string"
                  },
                  "sharing": {
                    "type": "boolean"
                  }
                },
                "required": [
                  "meetingId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "rkey": {
                      "type": "string"
                    },
                    "uri": {
                      "type": "string"
                    },
                    "cid": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "rkey",
                    "uri",
                    "cid"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/ai.gftd.rtc.startRecording": {
      "post": {
        "summary": "ai.gftd.rtc.startRecording",
        "operationId": "ai.gftd.rtc.startRecording",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "meetingId": {
                    "type": "string"
                  },
                  "action": {
                    "type": "string"
                  }
                },
                "required": [
                  "meetingId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "rkey": {
                      "type": "string"
                    },
                    "uri": {
                      "type": "string"
                    },
                    "cid": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "rkey",
                    "uri",
                    "cid"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/ai.gftd.rtc.subscribePush": {
      "post": {
        "summary": "ai.gftd.rtc.subscribePush",
        "operationId": "ai.gftd.rtc.subscribePush",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "subscription": {
                    "type": "object"
                  }
                },
                "required": [
                  "subscription"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "rkey": {
                      "type": "string"
                    },
                    "uri": {
                      "type": "string"
                    },
                    "cid": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "rkey",
                    "uri",
                    "cid"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/ai.gftd.rtc.unsubscribePush": {
      "post": {
        "summary": "ai.gftd.rtc.unsubscribePush",
        "operationId": "ai.gftd.rtc.unsubscribePush",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "endpoint": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "unsubscribed": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "unsubscribed"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ai_gftd_rtc_breakout": {
        "type": "object",
        "properties": {
          "meetingId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        },
        "required": [
          "meetingId",
          "name"
        ]
      },
      "ai_gftd_rtc_hand": {
        "type": "object",
        "properties": {
          "meetingId": {
            "type": "string"
          },
          "raised": {
            "type": "boolean"
          }
        },
        "required": [
          "meetingId",
          "raised"
        ]
      },
      "ai_gftd_rtc_huddle": {
        "type": "object",
        "properties": {
          "convoId": {
            "type": "string"
          }
        },
        "required": [
          "convoId"
        ]
      },
      "ai_gftd_rtc_meeting": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          },
          "scheduledAt": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        },
        "required": [
          "title",
          "status"
        ]
      },
      "ai_gftd_rtc_meetingAdmit": {
        "type": "object",
        "properties": {
          "meetingId": {
            "type": "string"
          },
          "participantDid": {
            "type": "string"
          }
        },
        "required": [
          "meetingId",
          "participantDid"
        ]
      },
      "ai_gftd_rtc_meetingJoin": {
        "type": "object",
        "properties": {
          "meetingId": {
            "type": "string"
          },
          "participantDid": {
            "type": "string"
          }
        },
        "required": [
          "meetingId",
          "participantDid"
        ]
      },
      "ai_gftd_rtc_pushSubscription": {
        "type": "object",
        "properties": {
          "endpoint": {
            "type": "string"
          },
          "keys": {}
        },
        "required": [
          "endpoint",
          "keys"
        ]
      },
      "ai_gftd_rtc_recording": {
        "type": "object",
        "properties": {
          "meetingId": {
            "type": "string"
          },
          "action": {
            "type": "string"
          }
        },
        "required": [
          "meetingId",
          "action"
        ]
      },
      "ai_gftd_rtc_screenShare": {
        "type": "object",
        "properties": {
          "meetingId": {
            "type": "string"
          },
          "sharing": {
            "type": "boolean"
          }
        },
        "required": [
          "meetingId",
          "sharing"
        ]
      }
    }
  }
}