{
  "openapi": "3.0.3",
  "info": {
    "title": "stream XRPC API",
    "version": "0.1.0"
  },
  "servers": [
    {
      "url": "https://stream.etzhayyim.com"
    }
  ],
  "paths": {
    "/xrpc/com.etzhayyim.stream.closeStream": {
      "post": {
        "summary": "com.etzhayyim.stream.closeStream",
        "operationId": "com.etzhayyim.stream.closeStream",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "streamId": {
                    "type": "string"
                  }
                },
                "required": [
                  "streamId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "closed": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "closed"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.stream.openStream": {
      "post": {
        "summary": "com.etzhayyim.stream.openStream",
        "operationId": "com.etzhayyim.stream.openStream",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "topics": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "streamId": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "streamId"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.stream.readFrames": {
      "get": {
        "summary": "com.etzhayyim.stream.readFrames",
        "operationId": "com.etzhayyim.stream.readFrames",
        "parameters": [
          {
            "name": "streamId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "frames": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  },
                  "required": [
                    "frames"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.stream.subscribe": {
      "post": {
        "summary": "com.etzhayyim.stream.subscribe",
        "operationId": "com.etzhayyim.stream.subscribe",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "topics": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                },
                "required": [
                  "topics"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "subscriptionId": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "subscriptionId"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {}
  }
}
