{
  "openapi": "3.0.3",
  "info": {
    "title": "tools XRPC API",
    "version": "0.1.0"
  },
  "servers": [
    {
      "url": "https://tools.etzhayyim.com"
    }
  ],
  "paths": {
    "/xrpc/com.etzhayyim.tools.transform.map": {
      "post": {
        "summary": "Generic per-row transform — applies a declarative mapping to each input row. Bridges fetched arrays (e.g. http.fetch + json.extract output) and downstream sql.exec INSERT rows that need restructured fields. Mapping grammar (Python-free, defensive subset):\n\n  - `\"$.path[0].key\"` → copy from input row at the given dotted path (same grammar as json.extract)\n  - `{\"const\": <any>}` → literal constant value\n  - `{\"fmt\": \"prefix-{a.b}-suffix\"}` → format string with {paths} substituted from input row\n  - `{\"path\": \"$.x\", \"default\": <any>}` → path with fallback when missing\n\n`defaults` is a dict of constant fields applied to every output row (overridden by `mapping`).",
        "operationId": "com.etzhayyim.tools.transform.map",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "input": {
                    "type": "array"
                  },
                  "mapping": {
                    "type": "object",
                    "description": "Dict of {outputKey: spec} where spec is either a string (= path) or one of the structured forms above."
                  },
                  "defaults": {
                    "type": "object",
                    "description": "Constant fields applied to every output row (overridden by mapping)."
                  }
                },
                "required": [
                  "input",
                  "mapping"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "rows": {
                      "type": "array"
                    },
                    "rowCount": {
                      "type": "integer"
                    },
                    "skipped": {
                      "type": "integer"
                    },
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.tools.sql.exec": {
      "post": {
        "summary": "Generic write SQL primitive (INSERT / UPDATE / UPSERT only). Strict guards: rejects SELECT (use sql.query) / DELETE / DROP / TRUNCATE / GRANT / DDL. Requires `confirmWrite=true` defense-in-depth flag. If `rows` is supplied, runs executemany() batch INSERT; otherwise single execute. Replaces per-actor sa_executemany / sa_rowcount py_primitive nodes (copyright_ingest insert_crossref, etc.).",
        "operationId": "com.etzhayyim.tools.sql.exec",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "sql": {
                    "type": "string",
                    "description": "INSERT / UPDATE / UPSERT statement. Single statement; trailing semicolon optional."
                  },
                  "params": {
                    "type": "object",
                    "description": "Named bind params for single-row execute()."
                  },
                  "rows": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  },
                  "confirmWrite": {
                    "type": "boolean",
                    "description": "Required to be `true` (defense-in-depth). Reject otherwise."
                  }
                },
                "required": [
                  "sql",
                  "confirmWrite"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "rowCount": {
                      "type": "integer"
                    },
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.tools.sql.query": {
      "post": {
        "summary": "Generic read-only SQL SELECT primitive (ADR-2605082000 §2 follow-up). Wraps `kotodama.db_alchemy.sa_query` so LangGraph topology nodes can run a parameterised SELECT without per-actor py_primitive code. Strict guards: only statements starting with SELECT / WITH are accepted; INSERT / UPDATE / DELETE / DDL are rejected. For domain writes use the actor-specific MCP tool (or `tools.audit.emit` for OCEL rows).",
        "operationId": "com.etzhayyim.tools.sql.query",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "sql": {
                    "type": "string",
                    "description": "SELECT or WITH … SELECT statement. Single statement; trailing semicolon optional. Parameter binds via `params` (psycopg2 named-style %(key)s)."
                  },
                  "params": {
                    "type": "object",
                    "description": "Named bind params for the SQL statement."
                  },
                  "limit": {
                    "type": "integer",
                    "description": "Optional safety cap — if set, only the first `limit` rows are returned (server-side, after fetch). Default: 1000."
                  }
                },
                "required": [
                  "sql"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "rows": {
                      "type": "array"
                    },
                    "rowCount": {
                      "type": "integer"
                    },
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.tools.llm.chat": {
      "post": {
        "summary": "Generic free-form LLM chat primitive (ADR-2605082000 §2 follow-up). Wraps task_generic_llm_chat — replaces per-actor LLM-only py_primitive nodes (animeka_*.generate_storyboard / generate_background / generate_scene_text, etc.) with a single data-resolved tool. Config-only prompt + tier; node binders pass `system` / `user` / `maxTokens` / `temperature` / `tier` via config.args.",
        "operationId": "com.etzhayyim.tools.llm.chat",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "tier": {
                    "type": "string",
                    "description": "Model tier (e.g. fast / deep / structured). Default: fast."
                  },
                  "system": {
                    "type": "string"
                  },
                  "user": {
                    "type": "string"
                  },
                  "maxTokens": {
                    "type": "integer"
                  },
                  "temperature": {
                    "type": "number"
                  }
                },
                "required": [
                  "user"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response from underlying task_generic_llm_chat (content + usage + raw envelope as available).",
                  "properties": {
                    "content": {
                      "type": "string"
                    },
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.tools.json.extract": {
      "post": {
        "summary": "Generic JSON extract primitive — navigate a parsed-JSON object via a safe dotted path. Bridges `http.fetch` (which returns body string) and downstream nodes that need a sub-tree (e.g. `message.items` from a Crossref response). Path syntax: `a.b.c` walks objects; `a.b[2].c` walks list indices; `a.*` flattens an object's values into a list. No eval, no JSONPath/JMESPath language — defensive subset only.",
        "operationId": "com.etzhayyim.tools.json.extract",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "json": {
                    "type": "string",
                    "description": "Parsed-JSON source. Either a string (will be JSON.parse-d) or an already-decoded object/array."
                  },
                  "path": {
                    "type": "string",
                    "description": "Dotted path (e.g. `message.items[0].DOI` or `data.*.attributes`)."
                  },
                  "default": {}
                },
                "required": [
                  "json",
                  "path"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "value": {},
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.tools.http.fetch": {
      "post": {
        "summary": "Generic HTTP fetch primitive (ADR-2605082000 §2 follow-up). Wraps httpx for outbound requests. Read-only by default (GET / HEAD); POST/PUT/DELETE require explicit `method` arg + `allowWrite=true` flag (no implicit writes). Replaces per-actor httpx py_primitive nodes (copyright_*, isbn_*, …). Body-bytes are returned as a base64 string when not text.",
        "operationId": "com.etzhayyim.tools.http.fetch",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "method": {
                    "type": "string",
                    "description": "HTTP method (GET / HEAD / POST / PUT / DELETE). Default: GET."
                  },
                  "headers": {
                    "type": "object"
                  },
                  "body": {
                    "type": "string",
                    "description": "Request body for POST/PUT (string, JSON, or base64-encoded bytes)."
                  },
                  "timeout": {
                    "type": "number",
                    "description": "Timeout in seconds. Default: 30."
                  },
                  "allowWrite": {
                    "type": "boolean",
                    "description": "Required to be `true` for POST/PUT/DELETE (defense-in-depth)."
                  }
                },
                "required": [
                  "url"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer"
                    },
                    "headers": {
                      "type": "object"
                    },
                    "body": {
                      "type": "string"
                    },
                    "isText": {
                      "type": "boolean"
                    },
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.tools.const.echo": {
      "post": {
        "summary": "Generic constant-return / identity primitive for LangGraph topology nodes (ADR-2605082000 §2.6 PoC follow-up). Returns whatever is in `constant` verbatim. Lets identity / no-op nodes (e.g. ki.cycle.skip_bloom) live as data without requiring per-actor code. Inputs other than `constant` are ignored.",
        "operationId": "com.etzhayyim.tools.const.echo",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "constant": {
                    "type": "object",
                    "description": "Object returned verbatim under the result envelope. Required."
                  }
                },
                "required": [
                  "constant"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Echoes the input `constant` field as the response object.",
                  "properties": {
                    "constant": {
                      "type": "object",
                      "description": "The same object that was supplied in the input."
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.tools.audit.emit": {
      "post": {
        "summary": "Generic OCEL audit-row emitter. Writes one row to vertex_repo_commit. Replaces per-actor `emit_audit` py_primitive nodes (e.g. shosha_*, isbn_*, animeka_*) with a single data-resolved primitive — ADR-2605082000 §2.5 compliance for audit logging without per-actor code.",
        "operationId": "com.etzhayyim.tools.audit.emit",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "repo": {
                    "type": "string",
                    "description": "Repo DID (e.g. did:web:shosha.etzhayyim.com)"
                  },
                  "collection": {
                    "type": "string",
                    "description": "AT collection NSID (e.g. com.etzhayyim.apps.shosha.audit)"
                  },
                  "rkey": {
                    "type": "string",
                    "description": "Record key. Empty string → auto-generated UUID."
                  },
                  "action": {
                    "type": "string",
                    "description": "Action verb (create / update / delete / ingest / synth / ...)"
                  },
                  "recordJson": {
                    "type": "object",
                    "description": "Audit payload, serialized to vertex_repo_commit.record_json."
                  }
                },
                "required": [
                  "repo",
                  "collection",
                  "action"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "vertexId": {
                      "type": "string"
                    },
                    "rkey": {
                      "type": "string"
                    },
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {}
  }
}
