{
  "openapi": "3.0.3",
  "info": {
    "title": "wrpc XRPC API",
    "version": "0.1.0"
  },
  "servers": [
    {
      "url": "https://wrpc.etzhayyim.com"
    }
  ],
  "paths": {
    "/xrpc/com.etzhayyim.wrpc.call": {
      "post": {
        "summary": "com.etzhayyim.wrpc.call",
        "operationId": "com.etzhayyim.wrpc.call",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "package": {
                    "type": "string"
                  },
                  "interface": {
                    "type": "string"
                  },
                  "function": {
                    "type": "string"
                  },
                  "params": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    }
                  }
                },
                "required": [
                  "package",
                  "interface",
                  "function",
                  "params"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "array",
                      "items": {
                        "type": "integer"
                      }
                    }
                  },
                  "required": [
                    "result"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {}
  }
}
