{
  "openapi": "3.0.3",
  "info": {
    "title": "yorishiro XRPC API",
    "version": "0.1.0"
  },
  "servers": [
    {
      "url": "https://yorishiro.etzhayyim.com"
    }
  ],
  "paths": {
    "/xrpc/com.etzhayyim.yorishiro.createYorishiro": {
      "post": {
        "summary": "Create a yorishiro (依代) — anchor entity for AI agent personification. Path-based DID: did:web:yorishiro.etzhayyim.com:{type}:{slug}.",
        "operationId": "com.etzhayyim.yorishiro.createYorishiro",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "displayName": {
                    "type": "string"
                  },
                  "displayNameLocal": {
                    "type": "string"
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "fictional",
                      "historical",
                      "licensed"
                    ]
                  },
                  "personaDescription": {
                    "type": "string",
                    "description": "character traits + lore + speech patterns"
                  },
                  "voiceProfileUri": {
                    "type": "string",
                    "description": "TTS voice model reference",
                    "format": "uri"
                  },
                  "avatarUri": {
                    "type": "string",
                    "description": "portrait or 3D avatar",
                    "format": "uri"
                  },
                  "licenseAgreementCid": {
                    "type": "string",
                    "description": "required if type=licensed",
                    "format": "cid"
                  },
                  "boundAgentDid": {
                    "type": "string",
                    "description": "AI agent DID this yorishiro anchors",
                    "format": "did"
                  },
                  "boundEnaiyoDid": {
                    "type": "string",
                    "description": "yorishiroEnaiyo DID holding content body",
                    "format": "did"
                  }
                },
                "required": [
                  "displayName",
                  "type"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "did": {
                      "type": "string",
                      "format": "did"
                    },
                    "uri": {
                      "type": "string",
                      "format": "at-uri"
                    }
                  },
                  "required": [
                    "did",
                    "uri"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.yorishiro.listYorishiros": {
      "get": {
        "summary": "List yorishiro anchor entities with optional type/agent filter.",
        "operationId": "com.etzhayyim.yorishiro.listYorishiros",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "fictional",
                "historical",
                "licensed"
              ]
            }
          },
          {
            "name": "boundAgentDid",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "did"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "yorishiros": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "did": {
                            "type": "string",
                            "format": "did"
                          },
                          "displayName": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "boundAgentDid": {
                            "type": "string",
                            "format": "did"
                          },
                          "voiceProfileUri": {
                            "type": "string",
                            "format": "uri"
                          },
                          "avatarUri": {
                            "type": "string",
                            "format": "uri"
                          }
                        }
                      }
                    },
                    "total": {
                      "type": "integer"
                    },
                    "offset": {
                      "type": "integer"
                    },
                    "limit": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "yorishiros",
                    "total",
                    "offset",
                    "limit"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.yorishiro.flyio.closeAccount": {
      "post": {
        "summary": "Auto-generated stub lexicon (F-Plan F2 bootstrap 2026-04-13). Tighten schema when migrating the app.",
        "operationId": "com.etzhayyim.yorishiro.flyio.closeAccount",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "confirm": {
                    "type": "boolean"
                  },
                  "deleteAllAppsFirst": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string"
                  },
                  "vaultRef": {
                    "type": "string"
                  }
                },
                "required": [
                  "confirm",
                  "email"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "orgs": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object"
                    },
                    "email": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    },
                    "jobId": {
                      "type": "integer"
                    },
                    "phase": {
                      "type": "string"
                    },
                    "warning": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.yorishiro.flyio.deleteApp": {
      "post": {
        "summary": "Auto-generated stub lexicon (F-Plan F2 bootstrap 2026-04-13). Tighten schema when migrating the app.",
        "operationId": "com.etzhayyim.yorishiro.flyio.deleteApp",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "appName": {
                    "type": "string"
                  },
                  "confirm": {
                    "type": "boolean"
                  },
                  "orgSlug": {
                    "type": "string"
                  },
                  "vaultRef": {
                    "type": "string"
                  }
                },
                "required": [
                  "appName",
                  "confirm"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "appName": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    },
                    "jobId": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.yorishiro.flyio.deleteOrg": {
      "post": {
        "summary": "Auto-generated stub lexicon (F-Plan F2 bootstrap 2026-04-13). Tighten schema when migrating the app.",
        "operationId": "com.etzhayyim.yorishiro.flyio.deleteOrg",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "confirm": {
                    "type": "boolean"
                  },
                  "orgName": {
                    "type": "string"
                  },
                  "orgSlug": {
                    "type": "string"
                  },
                  "vaultRef": {
                    "type": "string"
                  }
                },
                "required": [
                  "confirm",
                  "orgName",
                  "orgSlug"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "orgSlug": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    },
                    "jobId": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.yorishiro.flyio.getAccountInfo": {
      "get": {
        "summary": "Auto-generated stub lexicon (F-Plan F2 bootstrap 2026-04-13). Tighten schema when migrating the app.",
        "operationId": "com.etzhayyim.yorishiro.flyio.getAccountInfo",
        "parameters": [
          {
            "name": "vaultRef",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "jobId": {
                      "type": "integer"
                    },
                    "phase": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.yorishiro.flyio.getJobStatus": {
      "get": {
        "summary": "Auto-generated stub lexicon (F-Plan F2 bootstrap 2026-04-13). Tighten schema when migrating the app.",
        "operationId": "com.etzhayyim.yorishiro.flyio.getJobStatus",
        "parameters": [
          {
            "name": "jobId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.yorishiro.flyio.listApps": {
      "get": {
        "summary": "Auto-generated stub lexicon (F-Plan F2 bootstrap 2026-04-13). Tighten schema when migrating the app.",
        "operationId": "com.etzhayyim.yorishiro.flyio.listApps",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "orgSlug",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "apps": {
                      "type": "string"
                    },
                    "offset": {
                      "type": "integer"
                    },
                    "limit": {
                      "type": "integer"
                    },
                    "total": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {}
  }
}
