{
  "openapi": "3.0.3",
  "info": {
    "title": "yoro XRPC API",
    "version": "0.1.0"
  },
  "servers": [
    {
      "url": "https://yoro.etzhayyim.com"
    }
  ],
  "paths": {
    "/xrpc/com.etzhayyim.yoro.health": {
      "post": {
        "summary": "Yoro health (F-Plan F2 legacy migration 2026-04-13).",
        "operationId": "com.etzhayyim.yoro.health",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "app": {
                      "type": "string"
                    },
                    "ts": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.yoro.ingestProductCategory": {
      "post": {
        "summary": "Generic product/price ingest from public retailers (Amazon JP, Rakuten, IKEA, FlexiSpot, Yodobashi, Kagu365). Triggers LangGraph yoro_product_ingest.",
        "operationId": "com.etzhayyim.yoro.ingestProductCategory",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "query": {
                    "type": "string",
                    "description": "Search keyword, e.g. 'スタンディングデスク'"
                  },
                  "category": {
                    "type": "string",
                    "description": "Optional category tag, e.g. 'office.desk.standing'"
                  },
                  "retailers": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "maxItemsPerRetailer": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 100
                  },
                  "actorPath": {
                    "type": "string",
                    "description": "yoro path-DID suffix, default 'research:product'"
                  }
                },
                "required": [
                  "query"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jobId": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    },
                    "researchVertexId": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "jobId",
                    "status"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.yoro.listApps": {
      "post": {
        "summary": "List platform apps from vertex_app registry (replaces hand-curated apps.ts).",
        "operationId": "com.etzhayyim.yoro.listApps",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "limit": {
                    "type": "integer"
                  },
                  "cursor": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "shortName": {
                            "type": "string"
                          },
                          "href": {
                            "type": "string"
                          },
                          "icon": {
                            "type": "string"
                          },
                          "category": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "id",
                          "name",
                          "href",
                          "icon",
                          "category"
                        ]
                      }
                    },
                    "total": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.yoro.listPosts": {
      "post": {
        "summary": "Yoro listPosts (F-Plan F2 legacy migration 2026-04-13).",
        "operationId": "com.etzhayyim.yoro.listPosts",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "limit": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "count": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.yoro.listProductResearch": {
      "get": {
        "summary": "com.etzhayyim.yoro.listProductResearch",
        "operationId": "com.etzhayyim.yoro.listProductResearch",
        "parameters": [
          {
            "name": "actorDid",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {}
                    },
                    "total": {
                      "type": "integer"
                    },
                    "offset": {
                      "type": "integer"
                    },
                    "limit": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "items",
                    "total",
                    "offset",
                    "limit"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.yoro.stats": {
      "post": {
        "summary": "Yoro stats (F-Plan F2 legacy migration 2026-04-13).",
        "operationId": "com.etzhayyim.yoro.stats",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "posts": {
                      "type": "integer"
                    },
                    "profiles": {
                      "type": "integer"
                    },
                    "ts": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.yoro.graph.getFollowers": {
      "get": {
        "summary": "Get followers of an actor. Yoro AppView endpoint.",
        "operationId": "com.etzhayyim.yoro.graph.getFollowers",
        "parameters": [
          {
            "name": "actor",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "at-identifier"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "subject": {
                      "$ref": "#/components/schemas/ai_etzhayyim_yoro_actor_getProfile_defs_profileViewDetailed"
                    },
                    "followers": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ai_etzhayyim_yoro_actor_getProfile_defs_profileViewDetailed"
                      }
                    },
                    "cursor": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "followers"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.yoro.graph.getFollows": {
      "get": {
        "summary": "Get accounts that an actor follows. Yoro AppView endpoint.",
        "operationId": "com.etzhayyim.yoro.graph.getFollows",
        "parameters": [
          {
            "name": "actor",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "at-identifier"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "subject": {
                      "$ref": "#/components/schemas/ai_etzhayyim_yoro_actor_getProfile_defs_profileViewDetailed"
                    },
                    "follows": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ai_etzhayyim_yoro_actor_getProfile_defs_profileViewDetailed"
                      }
                    },
                    "cursor": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "follows"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.yoro.feed.getAuthorFeed": {
      "get": {
        "summary": "Get posts by a specific author. Yoro AppView endpoint. Supports multi-DID (path-based DID matching).",
        "operationId": "com.etzhayyim.yoro.feed.getAuthorFeed",
        "parameters": [
          {
            "name": "actor",
            "in": "query",
            "required": true,
            "description": "Handle or DID of the author.",
            "schema": {
              "type": "string",
              "description": "Handle or DID of the author.",
              "format": "at-identifier"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "ISO timestamp cursor for pagination.",
            "schema": {
              "type": "string",
              "description": "ISO timestamp cursor for pagination."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "feed": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ai_etzhayyim_yoro_getTimeline_defs_feedViewPost"
                      }
                    },
                    "cursor": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "feed"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.yoro.feed.getDiscoverFeed": {
      "get": {
        "summary": "Get discover feed — diverse posts from all actors with per-repo dedup. Yoro AppView endpoint.",
        "operationId": "com.etzhayyim.yoro.feed.getDiscoverFeed",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "ISO timestamp cursor for pagination.",
            "schema": {
              "type": "string",
              "description": "ISO timestamp cursor for pagination."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "feed": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ai_etzhayyim_yoro_getTimeline_defs_feedViewPost"
                      }
                    },
                    "cursor": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "feed"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.yoro.feed.getPostThread": {
      "get": {
        "summary": "Get a post with thread context (replies and parent chain). Yoro AppView endpoint.",
        "operationId": "com.etzhayyim.yoro.feed.getPostThread",
        "parameters": [
          {
            "name": "uri",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "at-uri"
            }
          },
          {
            "name": "depth",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 1000,
              "default": 6
            }
          },
          {
            "name": "parentHeight",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 1000,
              "default": 80
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "thread": {}
                  },
                  "required": [
                    "thread"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.yoro.feed.getRankedFeed": {
      "get": {
        "summary": "5-theory ranked feed (Shannon + Bayes + Graph PPR + TDA + Joucho emotion). Well-becoming guardrails (PII Tier 3, cohort k>=50, stress/doom-scroll) are enforced on the hot path. Falls back to com.etzhayyim.yoro.feed.getDiscoverFeed on MV unavailability. See /root/.claude/plans/yoro-etzhayyim-ai-facebook-zazzy-teapot.md.",
        "operationId": "com.etzhayyim.yoro.feed.getRankedFeed",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 30
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "ISO timestamp cursor for pagination.",
            "schema": {
              "type": "string",
              "description": "ISO timestamp cursor for pagination."
            }
          },
          {
            "name": "debug",
            "in": "query",
            "required": false,
            "description": "Include per-post score breakdown in response (viewer-only).",
            "schema": {
              "type": "boolean",
              "description": "Include per-post score breakdown in response (viewer-only).",
              "default": false
            }
          },
          {
            "name": "echoPersistence",
            "in": "query",
            "required": false,
            "description": "Client-computed H1 echo-chamber persistence in [0,1]. Aggregate scalar only — raw topic history never leaves the browser.",
            "schema": {
              "type": "number",
              "description": "Client-computed H1 echo-chamber persistence in [0,1]. Aggregate scalar only — raw topic history never leaves the browser.",
              "minimum": 0,
              "maximum": 1
            }
          },
          {
            "name": "sessionDwellMs",
            "in": "query",
            "required": false,
            "description": "Session dwell in ms. Used for doom-scroll guardrail.",
            "schema": {
              "type": "integer",
              "description": "Session dwell in ms. Used for doom-scroll guardrail.",
              "minimum": 0,
              "maximum": 86400000
            }
          },
          {
            "name": "sessionDistinctTopics",
            "in": "query",
            "required": false,
            "description": "Distinct topic buckets observed in session (b0 analogue).",
            "schema": {
              "type": "integer",
              "description": "Distinct topic buckets observed in session (b0 analogue).",
              "minimum": 0,
              "maximum": 10000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "feed": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ai_etzhayyim_yoro_getTimeline_defs_feedViewPost"
                      }
                    },
                    "cursor": {
                      "type": "string"
                    },
                    "debug": {
                      "type": "object",
                      "description": "Present only when `debug=true`.",
                      "properties": {
                        "eta": {
                          "type": "number",
                          "description": "Shannon efficiency H_shown/H_max, in [0,1]."
                        },
                        "candidateCount": {
                          "type": "integer"
                        },
                        "hardGateDropped": {
                          "type": "integer"
                        },
                        "personalizeOff": {
                          "type": "boolean"
                        },
                        "nightMode": {
                          "type": "boolean"
                        },
                        "botSuspect": {
                          "type": "boolean"
                        }
                      }
                    }
                  },
                  "required": [
                    "feed"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.yoro.feed.getTimeline": {
      "get": {
        "summary": "Get personalized timeline — posts from followed users. Yoro AppView endpoint. Falls back to discover feed if user has no follows.",
        "operationId": "com.etzhayyim.yoro.feed.getTimeline",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "ISO timestamp cursor for pagination.",
            "schema": {
              "type": "string",
              "description": "ISO timestamp cursor for pagination."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "feed": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/_defs_feedViewPost"
                      }
                    },
                    "cursor": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "feed"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.yoro.actor.getProfile": {
      "get": {
        "summary": "Get detailed profile view for an actor. Yoro AppView endpoint — queries RisingWave directly, returns W Protocol extensions (performerType, uiType, embedUrl, capabilities).",
        "operationId": "com.etzhayyim.yoro.actor.getProfile",
        "parameters": [
          {
            "name": "actor",
            "in": "query",
            "required": true,
            "description": "Handle or DID of the actor to fetch.",
            "schema": {
              "type": "string",
              "description": "Handle or DID of the actor to fetch.",
              "format": "at-identifier"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.yoro.actor.searchActors": {
      "get": {
        "summary": "Search for actors with agent-first ranking. Yoro AppView endpoint — queries RisingWave directly with W Protocol extensions (performerType, sensitivity).",
        "operationId": "com.etzhayyim.yoro.actor.searchActors",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "description": "Search query.",
            "schema": {
              "type": "string",
              "description": "Search query."
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "actors": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ai_etzhayyim_yoro_getProfile_defs_profileViewDetailed"
                      }
                    },
                    "cursor": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "actors"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.yoro.activity.getActivityTrace": {
      "get": {
        "summary": "com.etzhayyim.yoro.activity.getActivityTrace",
        "operationId": "com.etzhayyim.yoro.activity.getActivityTrace",
        "parameters": [
          {
            "name": "objectType",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "objectId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "trace": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  },
                  "required": [
                    "trace"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.yoro.activity.listActivities": {
      "get": {
        "summary": "com.etzhayyim.yoro.activity.listActivities",
        "operationId": "com.etzhayyim.yoro.activity.listActivities",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "objectTypes",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "actorDid",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "events": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "cursor": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "events"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/xrpc/com.etzhayyim.yoro.activity.markSeen": {
      "post": {
        "summary": "com.etzhayyim.yoro.activity.markSeen",
        "operationId": "com.etzhayyim.yoro.activity.markSeen",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "rkey": {
                      "type": "string"
                    },
                    "uri": {
                      "type": "string"
                    },
                    "cid": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "rkey",
                    "uri",
                    "cid"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ai_etzhayyim_yoro_activitySeen": {
        "type": "object",
        "properties": {
          "seenAt": {
            "type": "string"
          }
        },
        "required": [
          "seenAt"
        ]
      },
      "ai_etzhayyim_yoro_productResearch": {
        "type": "object",
        "properties": {
          "query": {
            "type": "string"
          },
          "category": {
            "type": "string"
          },
          "retailers": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "totalOffers": {
            "type": "integer"
          },
          "offersByRetailer": {},
          "topOfferDids": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "minPriceJpy": {
            "type": "integer"
          },
          "maxPriceJpy": {
            "type": "integer"
          },
          "medianPriceJpy": {
            "type": "integer"
          },
          "capturedAt": {
            "type": "string",
            "format": "datetime"
          },
          "jobId": {
            "type": "string"
          }
        },
        "required": [
          "query",
          "totalOffers",
          "capturedAt",
          "jobId"
        ]
      },
      "ai_etzhayyim_yoro_projectEntity": {
        "type": "object",
        "properties": {
          "projectId": {
            "type": "string"
          },
          "entityType": {
            "type": "string"
          },
          "entityId": {
            "type": "string"
          }
        },
        "required": [
          "projectId",
          "entityType",
          "entityId"
        ]
      },
      "ai_etzhayyim_yoro_shinkaEvolution": {
        "type": "object",
        "properties": {
          "nanoid": {
            "type": "string"
          },
          "evolutionData": {}
        },
        "required": [
          "nanoid",
          "evolutionData"
        ]
      },
      "ai_etzhayyim_yoro_shinkaKnowledge": {
        "type": "object",
        "properties": {
          "nanoid": {
            "type": "string"
          },
          "knowledgeData": {}
        },
        "required": [
          "nanoid",
          "knowledgeData"
        ]
      }
    }
  }
}