{:migration/status :moved
 :migration/date "2026-07-18"
 :migration/repository "https://github.com/etzhayyim/com-etzhayyim-unspsc"
 :migration/revision "23b33394da5576f89c4690bfab0b9b425dedd596"
 :migration/west-path "orgs/etzhayyim/com-etzhayyim-unspsc"
 :migration/canonical-metadata "manifest.edn"
 :migration/canonical-data ["resources/unspsc-taxonomy.edn"]
 :migration/canonical-lexicons "lex"
 :migration/external-wire-lexicons "wire"
 :migration/canonical-format :edn}
