[{:db/id -1
  :migration/kind :moved-tombstone
  :migration/source "20-actors/sumitsubo"
  :migration/canonical-repo "https://github.com/etzhayyim/com-etzhayyim-sumitsubo"
  :migration/west-path "orgs/etzhayyim/com-etzhayyim-sumitsubo"
  :migration/revision "cc9426527a2270f5b86965821dc66522010fc8a8"
  :migration/extracted-library "https://github.com/etzhayyim/com-etzhayyim-sumitsubo-cad"
  :migration/extracted-library-revision "225cbf26faa1964e39366ecd69de5ba0ca7a6c7e"
  :migration/date "2026-07-17"
  :migration/authoritative true}]
