{:schema "etzhayyim.migration/moved-v1" :source {:repo "etzhayyim/root" :path "10-protocol/etzhayyim-libp2p" :revision "f968fd9bf076ccc20a80830d38c87476c6bc176a"} :destination {:repo "etzhayyim/com-etzhayyim-libp2p" :revision "23ea7cf2635b359c221bb5bd10eeb2ede18b3ccd"} :status :moved}
