[{:db/id -1
  :migration/kind :moved-tombstone
  :migration/source "20-actors/narashi"
  :migration/canonical-repo "https://github.com/etzhayyim/com-etzhayyim-narashi"
  :migration/west-path "orgs/etzhayyim/com-etzhayyim-narashi"
  :migration/revision "368ba8c8531419c080af5691a7caf414406e49fb"
  :migration/date "2026-07-17"
  :migration/actor-owned-contracts-moved-from
  "00-contracts/lexicons/com/etzhayyim/narashi"
  :migration/authoritative true}]
