{
  "openapi": "3.0.3",
  "info": {
    "title": "arXiv public API (yorishiro kami spec)",
    "version": "0.1.0",
    "description": "Hand-authored OpenAPI 3 spec for arXiv's public query API. arXiv does not publish an OpenAPI document — this file is the etzhayyim-side canonical representation of the kami's surface and is used as input to `yorishiro create arxiv --from openapi-v3`.\n\nReference: https://info.arxiv.org/help/api/user-manual.html"
  },
  "servers": [
    { "url": "http://export.arxiv.org/api", "description": "arXiv export API" }
  ],
  "paths": {
    "/query": {
      "get": {
        "operationId": "searchPapers",
        "summary": "Search arXiv papers",
        "description": "Search arXiv for papers matching a structured query. Returns an Atom 1.0 feed. Either `searchQuery` or `idList` (or both) must be supplied. The Atom XML is returned verbatim — parsing belongs to the caller cell.",
        "parameters": [
          {
            "name": "search_query",
            "in": "query",
            "required": false,
            "description": "arXiv structured query (e.g. `cat:cs.AI AND ti:transformer`). At least one of `search_query` or `id_list` must be present.",
            "schema": { "type": "string", "minLength": 1, "maxLength": 2048 }
          },
          {
            "name": "id_list",
            "in": "query",
            "required": false,
            "description": "Comma-separated list of arXiv ids (e.g. `2310.06825,2401.04088`).",
            "schema": { "type": "string", "maxLength": 4096 }
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "description": "Result offset for paging (0-based).",
            "schema": { "type": "integer", "minimum": 0, "default": 0 }
          },
          {
            "name": "max_results",
            "in": "query",
            "required": false,
            "description": "Page size. arXiv caps this near 2000; the public API recommends ≤100 per call.",
            "schema": { "type": "integer", "minimum": 1, "maximum": 2000, "default": 10 }
          },
          {
            "name": "sortBy",
            "in": "query",
            "required": false,
            "description": "Sort key.",
            "schema": {
              "type": "string",
              "enum": ["relevance", "lastUpdatedDate", "submittedDate"],
              "default": "relevance"
            }
          },
          {
            "name": "sortOrder",
            "in": "query",
            "required": false,
            "description": "Sort direction.",
            "schema": {
              "type": "string",
              "enum": ["ascending", "descending"],
              "default": "descending"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Atom 1.0 feed of matching arXiv entries.",
            "content": {
              "application/atom+xml": {
                "schema": {
                  "type": "string",
                  "description": "Atom XML body. Pass to a feed parser (e.g. feedparser) downstream."
                }
              }
            }
          }
        }
      }
    }
  }
}
