{
  "openapi": "3.0.3",
  "info": {
    "title": "U.S. Bureau of Labor Statistics public API (yorishiro kami spec)",
    "version": "0.1.0",
    "description": "Hand-authored OpenAPI 3 spec for the BLS publicAPI v2 timeseries endpoint. BLS does not publish OpenAPI; this is the etzhayyim-side canonical surface. Reference: https://www.bls.gov/developers/api_signature_v2.htm\n\nA registration key extends the daily query quota but is optional. To pass it, include `registrationkey` in the request body."
  },
  "servers": [
    { "url": "https://api.bls.gov", "description": "BLS public API v2" }
  ],
  "paths": {
    "/publicAPI/v2/timeseries/data/": {
      "post": {
        "operationId": "fetchTimeseries",
        "summary": "Fetch BLS timeseries data",
        "description": "POST a list of BLS series ids and an inclusive year range. Returns the requested observations keyed by series id under `Results.series[]`. Unauthenticated calls are rate-limited to 25/day per IP and to a 10-year max range; authenticated calls (with `registrationkey`) extend to 500/day and 20 years.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["seriesid"],
                "properties": {
                  "seriesid": {
                    "type": "array",
                    "items": { "type": "string", "minLength": 1, "maxLength": 64 },
                    "description": "BLS series ids (e.g. `CES0000000001`, `LNS14000000`)."
                  },
                  "startyear": {
                    "type": "string",
                    "description": "Inclusive lower bound (4-digit year, string form per BLS contract)."
                  },
                  "endyear": {
                    "type": "string",
                    "description": "Inclusive upper bound."
                  },
                  "registrationkey": {
                    "type": "string",
                    "description": "Optional BLS API registration key (extends quota)."
                  },
                  "catalog": {
                    "type": "boolean",
                    "description": "If true, includes series metadata catalog in the response."
                  },
                  "calculations": {
                    "type": "boolean",
                    "description": "If true, includes 1/3/6/12-month percent change calculations."
                  },
                  "annualaverage": {
                    "type": "boolean",
                    "description": "If true, includes annual averages."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Timeseries result.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "{ status, responseTime, message, Results: { series: [{ seriesID, data: [{year, period, periodName, value, footnotes }, …] }] } }."
                }
              }
            }
          }
        }
      }
    }
  }
}
