{
  "openapi": "3.0.3",
  "info": {
    "title": "Crossref REST API (yorishiro kami spec)",
    "version": "0.1.0",
    "description": "Hand-authored OpenAPI 3 spec for the Crossref REST API. Used as input to `yorishiro create crossref --from openapi-v3`. Reference: https://api.crossref.org/swagger-ui/index.html"
  },
  "servers": [
    { "url": "https://api.crossref.org", "description": "Crossref REST API" }
  ],
  "paths": {
    "/works": {
      "get": {
        "operationId": "searchWorks",
        "summary": "Search Crossref works",
        "description": "Free-text + structured query over the Crossref works index.",
        "parameters": [
          { "name": "query", "in": "query", "schema": { "type": "string", "maxLength": 1024, "description": "Free-text query." } },
          { "name": "rows", "in": "query", "schema": { "type": "integer", "default": 20, "minimum": 1, "maximum": 1000, "description": "Page size." } },
          { "name": "offset", "in": "query", "schema": { "type": "integer", "default": 0, "minimum": 0, "description": "Result offset for paging." } }
        ],
        "responses": {
          "200": {
            "description": "Works result page.",
            "content": {
              "application/json": {
                "schema": { "type": "object", "description": "{ status, message-type, message: { items, total-results, ... } }." }
              }
            }
          }
        }
      }
    },
    "/works/{doi}": {
      "get": {
        "operationId": "getWorkByDoi",
        "summary": "Get a Crossref work by DOI",
        "description": "Fetch a single work record by its DOI.",
        "parameters": [
          { "name": "doi", "in": "path", "required": true, "schema": { "type": "string", "minLength": 4, "maxLength": 256, "description": "DOI string, e.g. `10.1038/nature12373`." } }
        ],
        "responses": {
          "200": {
            "description": "Single work record.",
            "content": {
              "application/json": {
                "schema": { "type": "object", "description": "{ status, message-type, message: { ... } }." }
              }
            }
          }
        }
      }
    }
  }
}
