{
  "openapi": "3.0.3",
  "info": {
    "title": "OpenAlex (yorishiro kami spec)",
    "version": "0.1.0",
    "description": "Hand-authored OpenAPI 3 spec for the OpenAlex REST API. Used as input to `yorishiro create openalex --from openapi-v3`. Reference: https://docs.openalex.org/how-to-use-the-api/api-overview"
  },
  "servers": [
    { "url": "https://api.openalex.org", "description": "OpenAlex" }
  ],
  "paths": {
    "/works": {
      "get": {
        "operationId": "searchWorks",
        "summary": "Search OpenAlex works (papers, preprints)",
        "description": "Full-text + structured search over the OpenAlex works index.",
        "parameters": [
          { "name": "search", "in": "query", "schema": { "type": "string", "maxLength": 1024, "description": "Free-text query." } },
          { "name": "filter", "in": "query", "schema": { "type": "string", "maxLength": 2048, "description": "OpenAlex filter expression (e.g. `concepts.id:C41008148,publication_year:>2020`)." } },
          { "name": "sort", "in": "query", "schema": { "type": "string", "maxLength": 128, "description": "Sort field (e.g. `cited_by_count:desc`)." } },
          { "name": "per_page", "in": "query", "schema": { "type": "integer", "default": 25, "minimum": 1, "maximum": 200, "description": "Results per page (rename of `per-page` for valid JSON key)." } },
          { "name": "page", "in": "query", "schema": { "type": "integer", "default": 1, "minimum": 1, "description": "1-based page index." } }
        ],
        "responses": {
          "200": {
            "description": "Works result page.",
            "content": {
              "application/json": {
                "schema": { "type": "object", "description": "{ meta, results, group_by }." }
              }
            }
          }
        }
      }
    },
    "/authors": {
      "get": {
        "operationId": "searchAuthors",
        "summary": "Search OpenAlex authors",
        "description": "Free-text search over the OpenAlex authors index.",
        "parameters": [
          { "name": "search", "in": "query", "schema": { "type": "string", "maxLength": 1024 } },
          { "name": "filter", "in": "query", "schema": { "type": "string", "maxLength": 2048 } },
          { "name": "per_page", "in": "query", "schema": { "type": "integer", "default": 25, "minimum": 1, "maximum": 200 } },
          { "name": "page", "in": "query", "schema": { "type": "integer", "default": 1, "minimum": 1 } }
        ],
        "responses": {
          "200": {
            "description": "Authors result page.",
            "content": {
              "application/json": {
                "schema": { "type": "object" }
              }
            }
          }
        }
      }
    }
  }
}
