{:schema "etzhayyim.migration/moved-v1"
 :source {:repo "etzhayyim/root" :path "10-protocol/lexicons-bundle" :revision "ae0cff0811c43f9139dffb1c378a7bf235e1dafa"}
 :destination {:repo "etzhayyim/com-etzhayyim-lexicons-bundle" :revision "7f335cf0c4fe2c0d8efbd23bb65215348a178581"}
 :status :moved}
