{:moved/to "orgs/etzhayyim/com-etzhayyim-jinushi"
 :moved/repository "https://github.com/etzhayyim/com-etzhayyim-jinushi"
 :moved/revision "88fdf592446fa9399ed691c584cb6ba242b37dd0"
 :moved/external-dataset "80-data/jinushi-land"}
