["bafkreibjkyq2rkke6j5fn5mss46ebeguelvooypg4zztqgakcojyq3xlam" :rad/type :identity 1 :add]
["bafkreibjkyq2rkke6j5fn5mss46ebeguelvooypg4zztqgakcojyq3xlam" :rad/name "credits" 1 :add]
["bafkreibjkyq2rkke6j5fn5mss46ebeguelvooypg4zztqgakcojyq3xlam" :rad/did-web "did:web:etzhayyim.github.io:com-etzhayyim-credits" 1 :add]
["bafkreibjkyq2rkke6j5fn5mss46ebeguelvooypg4zztqgakcojyq3xlam" :rad/threshold 1 1 :add]
["bafkreibjkyq2rkke6j5fn5mss46ebeguelvooypg4zztqgakcojyq3xlam" :rad/repo "github.com/etzhayyim/com-etzhayyim-credits" 1 :add]
["bafkreibjkyq2rkke6j5fn5mss46ebeguelvooypg4zztqgakcojyq3xlam" :rad/aozora-pds "https://pds.etzhayyim.com" 1 :add]
["bafkreibjkyq2rkke6j5fn5mss46ebeguelvooypg4zztqgakcojyq3xlam" :rad/aozora-collection "com.etzhayyim.apps.credits" 1 :add]
["sigref:bafkreibjkyq2rkke6j5fn5mss46ebeguelvooypg4zztqgakcojyq3xlam" :rad/type :sigref 1 :add]
["sigref:bafkreibjkyq2rkke6j5fn5mss46ebeguelvooypg4zztqgakcojyq3xlam" :rad/rid "bafkreibjkyq2rkke6j5fn5mss46ebeguelvooypg4zztqgakcojyq3xlam" 1 :add]
["sigref:bafkreibjkyq2rkke6j5fn5mss46ebeguelvooypg4zztqgakcojyq3xlam" :rad/head "bafkreifyqnr6bjovk2qwyqgdv4evdqfwseguc3tn6kakgefe2vwx2xl3dq" 1 :add]
["sigref:bafkreibjkyq2rkke6j5fn5mss46ebeguelvooypg4zztqgakcojyq3xlam" :rad/by "did:web:etzhayyim.github.io:com-etzhayyim-credits" 1 :add]
["bafyreimigrated00000000000000000000000000000000000000000000" :rad/did-web "did:web:etzhayyim.com:actor:credits" 2 :add]
