["bafkreib4n7o3imfdv5vsblis55rm75mkedoircznoyaddvavrzsgjslj4q" :rad/type :identity 1 :add]
["bafkreib4n7o3imfdv5vsblis55rm75mkedoircznoyaddvavrzsgjslj4q" :rad/name "futawa" 1 :add]
["bafkreib4n7o3imfdv5vsblis55rm75mkedoircznoyaddvavrzsgjslj4q" :rad/did-web "did:web:etzhayyim.github.io:com-etzhayyim-futawa" 1 :add]
["bafkreib4n7o3imfdv5vsblis55rm75mkedoircznoyaddvavrzsgjslj4q" :rad/threshold 1 1 :add]
["bafkreib4n7o3imfdv5vsblis55rm75mkedoircznoyaddvavrzsgjslj4q" :rad/repo "github.com/etzhayyim/com-etzhayyim-futawa" 1 :add]
["bafkreib4n7o3imfdv5vsblis55rm75mkedoircznoyaddvavrzsgjslj4q" :rad/aozora-pds "https://pds.etzhayyim.com" 1 :add]
["bafkreib4n7o3imfdv5vsblis55rm75mkedoircznoyaddvavrzsgjslj4q" :rad/aozora-collection "com.etzhayyim.apps.futawa" 1 :add]
["sigref:bafkreib4n7o3imfdv5vsblis55rm75mkedoircznoyaddvavrzsgjslj4q" :rad/type :sigref 1 :add]
["sigref:bafkreib4n7o3imfdv5vsblis55rm75mkedoircznoyaddvavrzsgjslj4q" :rad/rid "bafkreib4n7o3imfdv5vsblis55rm75mkedoircznoyaddvavrzsgjslj4q" 1 :add]
["sigref:bafkreib4n7o3imfdv5vsblis55rm75mkedoircznoyaddvavrzsgjslj4q" :rad/head "bafkreigepa4mjikzgk7nix6pzuc5tnn3fjn5vnnpmxfrceowtzvlvf2fse" 1 :add]
["sigref:bafkreib4n7o3imfdv5vsblis55rm75mkedoircznoyaddvavrzsgjslj4q" :rad/by "did:web:etzhayyim.github.io:com-etzhayyim-futawa" 1 :add]
["bafyreimigrated00000000000000000000000000000000000000000000" :rad/did-web "did:web:etzhayyim.com:actor:futawa" 2 :add]
