["bafkreifb35kp2ponbkabw3x47qa3bvbisnzcpery3we4uao2vda4lj3a3q" :rad/type :identity 1 :add]
["bafkreifb35kp2ponbkabw3x47qa3bvbisnzcpery3we4uao2vda4lj3a3q" :rad/name "hikari" 1 :add]
["bafkreifb35kp2ponbkabw3x47qa3bvbisnzcpery3we4uao2vda4lj3a3q" :rad/did-web "did:web:etzhayyim.github.io:com-etzhayyim-hikari" 1 :add]
["bafkreifb35kp2ponbkabw3x47qa3bvbisnzcpery3we4uao2vda4lj3a3q" :rad/threshold 1 1 :add]
["bafkreifb35kp2ponbkabw3x47qa3bvbisnzcpery3we4uao2vda4lj3a3q" :rad/repo "github.com/etzhayyim/com-etzhayyim-hikari" 1 :add]
["bafkreifb35kp2ponbkabw3x47qa3bvbisnzcpery3we4uao2vda4lj3a3q" :rad/aozora-pds "https://pds.etzhayyim.com" 1 :add]
["bafkreifb35kp2ponbkabw3x47qa3bvbisnzcpery3we4uao2vda4lj3a3q" :rad/aozora-collection "com.etzhayyim.apps.hikari" 1 :add]
["sigref:bafkreifb35kp2ponbkabw3x47qa3bvbisnzcpery3we4uao2vda4lj3a3q" :rad/type :sigref 1 :add]
["sigref:bafkreifb35kp2ponbkabw3x47qa3bvbisnzcpery3we4uao2vda4lj3a3q" :rad/rid "bafkreifb35kp2ponbkabw3x47qa3bvbisnzcpery3we4uao2vda4lj3a3q" 1 :add]
["sigref:bafkreifb35kp2ponbkabw3x47qa3bvbisnzcpery3we4uao2vda4lj3a3q" :rad/head "bafkreigadfxbohzanwmrz3zyddjbrksyrz6mmckod7vhwgy6ep4g6jc7ei" 1 :add]
["sigref:bafkreifb35kp2ponbkabw3x47qa3bvbisnzcpery3we4uao2vda4lj3a3q" :rad/by "did:web:etzhayyim.github.io:com-etzhayyim-hikari" 1 :add]
["bafyreimigrated00000000000000000000000000000000000000000000" :rad/did-web "did:web:etzhayyim.com:actor:hikari" 2 :add]
["bafkreifb35kp2ponbkabw3x47qa3bvbisnzcpery3we4uao2vda4lj3a3q" :rad/did-web "did:web:etzhayyim.com:actor:hikari" 3 :add]
["sigref:bafkreifb35kp2ponbkabw3x47qa3bvbisnzcpery3we4uao2vda4lj3a3q" :rad/type :sigref 3 :add]
["sigref:bafkreifb35kp2ponbkabw3x47qa3bvbisnzcpery3we4uao2vda4lj3a3q" :rad/rid "bafkreifb35kp2ponbkabw3x47qa3bvbisnzcpery3we4uao2vda4lj3a3q" 3 :add]
["sigref:bafkreifb35kp2ponbkabw3x47qa3bvbisnzcpery3we4uao2vda4lj3a3q" :rad/head "bafkreigrlhfzy5echu2nlfrge5tnf6qo57krspus7i6gzsbphpdn6zn4ji" 3 :add]
["sigref:bafkreifb35kp2ponbkabw3x47qa3bvbisnzcpery3we4uao2vda4lj3a3q" :rad/by "did:web:etzhayyim.com:actor:hikari" 3 :add]
["sigref:bafkreifb35kp2ponbkabw3x47qa3bvbisnzcpery3we4uao2vda4lj3a3q" :rad/type :sigref 4 :add]
["sigref:bafkreifb35kp2ponbkabw3x47qa3bvbisnzcpery3we4uao2vda4lj3a3q" :rad/rid "bafkreifb35kp2ponbkabw3x47qa3bvbisnzcpery3we4uao2vda4lj3a3q" 4 :add]
["sigref:bafkreifb35kp2ponbkabw3x47qa3bvbisnzcpery3we4uao2vda4lj3a3q" :rad/head "bafkreigofisoen5ncwf7r6sxgqcmsr3c3crwpefzpnselyfk7xt7gwmlc4" 4 :add]
["sigref:bafkreifb35kp2ponbkabw3x47qa3bvbisnzcpery3we4uao2vda4lj3a3q" :rad/by "did:web:etzhayyim.com:actor:hikari" 4 :add]
["sigref:bafkreifb35kp2ponbkabw3x47qa3bvbisnzcpery3we4uao2vda4lj3a3q" :rad/type :sigref 5 :add]
["sigref:bafkreifb35kp2ponbkabw3x47qa3bvbisnzcpery3we4uao2vda4lj3a3q" :rad/rid "bafkreifb35kp2ponbkabw3x47qa3bvbisnzcpery3we4uao2vda4lj3a3q" 5 :add]
["sigref:bafkreifb35kp2ponbkabw3x47qa3bvbisnzcpery3we4uao2vda4lj3a3q" :rad/head "bafkreice4yrdeb76hajeeill7f5r3e7vycbquin7vbqlwvubxfxpwke6vu" 5 :add]
["sigref:bafkreifb35kp2ponbkabw3x47qa3bvbisnzcpery3we4uao2vda4lj3a3q" :rad/by "did:web:etzhayyim.com:actor:hikari" 5 :add]
["bafkreifb35kp2ponbkabw3x47qa3bvbisnzcpery3we4uao2vda4lj3a3q" :rad/aozora-pds "https://pds.aozora.app" 6 :add]
["bafkreifb35kp2ponbkabw3x47qa3bvbisnzcpery3we4uao2vda4lj3a3q" :rad/did-key "did:key:z6MkeTz3xpkRqZPi5PRyQWmQ5Wi6pa1rv5DTXJtTnz8DhyrB" 6 :add]
