["bafkreigxd4kjzh7t6ldhmvxjecwzvebalm43ui3ubvbgfys722kobx2hj4" :rad/type :identity 1 :add]
["bafkreigxd4kjzh7t6ldhmvxjecwzvebalm43ui3ubvbgfys722kobx2hj4" :rad/name "hokorobi" 1 :add]
["bafkreigxd4kjzh7t6ldhmvxjecwzvebalm43ui3ubvbgfys722kobx2hj4" :rad/did-web "did:web:etzhayyim.github.io:com-etzhayyim-hokorobi" 1 :add]
["bafkreigxd4kjzh7t6ldhmvxjecwzvebalm43ui3ubvbgfys722kobx2hj4" :rad/threshold 1 1 :add]
["bafkreigxd4kjzh7t6ldhmvxjecwzvebalm43ui3ubvbgfys722kobx2hj4" :rad/repo "github.com/etzhayyim/com-etzhayyim-hokorobi" 1 :add]
["bafkreigxd4kjzh7t6ldhmvxjecwzvebalm43ui3ubvbgfys722kobx2hj4" :rad/aozora-pds "https://pds.etzhayyim.com" 1 :add]
["bafkreigxd4kjzh7t6ldhmvxjecwzvebalm43ui3ubvbgfys722kobx2hj4" :rad/aozora-collection "com.etzhayyim.apps.hokorobi" 1 :add]
["sigref:bafkreigxd4kjzh7t6ldhmvxjecwzvebalm43ui3ubvbgfys722kobx2hj4" :rad/type :sigref 1 :add]
["sigref:bafkreigxd4kjzh7t6ldhmvxjecwzvebalm43ui3ubvbgfys722kobx2hj4" :rad/rid "bafkreigxd4kjzh7t6ldhmvxjecwzvebalm43ui3ubvbgfys722kobx2hj4" 1 :add]
["sigref:bafkreigxd4kjzh7t6ldhmvxjecwzvebalm43ui3ubvbgfys722kobx2hj4" :rad/head "bafkreibijzf4u7nq5e5yljh6fdzje5zkuejzoflfvjdnqggchbkro63lou" 1 :add]
["sigref:bafkreigxd4kjzh7t6ldhmvxjecwzvebalm43ui3ubvbgfys722kobx2hj4" :rad/by "did:web:etzhayyim.github.io:com-etzhayyim-hokorobi" 1 :add]
["bafyreimigrated00000000000000000000000000000000000000000000" :rad/did-web "did:web:etzhayyim.com:actor:hokorobi" 2 :add]
