["bafkreiarhyrno3yefnzogvkwejqnwpecfg576jhui4ykuxprmbkfrzazde" :rad/type :identity 1 :add]
["bafkreiarhyrno3yefnzogvkwejqnwpecfg576jhui4ykuxprmbkfrzazde" :rad/name "hs" 1 :add]
["bafkreiarhyrno3yefnzogvkwejqnwpecfg576jhui4ykuxprmbkfrzazde" :rad/did-web "did:web:etzhayyim.github.io:com-etzhayyim-hs" 1 :add]
["bafkreiarhyrno3yefnzogvkwejqnwpecfg576jhui4ykuxprmbkfrzazde" :rad/threshold 1 1 :add]
["bafkreiarhyrno3yefnzogvkwejqnwpecfg576jhui4ykuxprmbkfrzazde" :rad/repo "github.com/etzhayyim/com-etzhayyim-hs" 1 :add]
["bafkreiarhyrno3yefnzogvkwejqnwpecfg576jhui4ykuxprmbkfrzazde" :rad/aozora-pds "https://pds.etzhayyim.com" 1 :add]
["bafkreiarhyrno3yefnzogvkwejqnwpecfg576jhui4ykuxprmbkfrzazde" :rad/aozora-collection "com.etzhayyim.apps.hs" 1 :add]
["sigref:bafkreiarhyrno3yefnzogvkwejqnwpecfg576jhui4ykuxprmbkfrzazde" :rad/type :sigref 1 :add]
["sigref:bafkreiarhyrno3yefnzogvkwejqnwpecfg576jhui4ykuxprmbkfrzazde" :rad/rid "bafkreiarhyrno3yefnzogvkwejqnwpecfg576jhui4ykuxprmbkfrzazde" 1 :add]
["sigref:bafkreiarhyrno3yefnzogvkwejqnwpecfg576jhui4ykuxprmbkfrzazde" :rad/head "bafkreigh3oyvdhaf4rkzrdinc3vszj4chmjwjpbbq4jkrrd6ikctsktrne" 1 :add]
["sigref:bafkreiarhyrno3yefnzogvkwejqnwpecfg576jhui4ykuxprmbkfrzazde" :rad/by "did:web:etzhayyim.github.io:com-etzhayyim-hs" 1 :add]
["bafyreimigrated00000000000000000000000000000000000000000000" :rad/did-web "did:web:etzhayyim.com:actor:hs" 2 :add]
