["bafkreic6dblgcjpvq2pltkhocdcqrzi7vkvvkeda7ls5brl57c6wn33fxm" :rad/type :identity 1 :add]
["bafkreic6dblgcjpvq2pltkhocdcqrzi7vkvvkeda7ls5brl57c6wn33fxm" :rad/name "infra_utility_connect" 1 :add]
["bafkreic6dblgcjpvq2pltkhocdcqrzi7vkvvkeda7ls5brl57c6wn33fxm" :rad/did-web "did:web:etzhayyim.github.io:com-etzhayyim-infra_utility_connect" 1 :add]
["bafkreic6dblgcjpvq2pltkhocdcqrzi7vkvvkeda7ls5brl57c6wn33fxm" :rad/threshold 1 1 :add]
["bafkreic6dblgcjpvq2pltkhocdcqrzi7vkvvkeda7ls5brl57c6wn33fxm" :rad/repo "github.com/etzhayyim/com-etzhayyim-infra_utility_connect" 1 :add]
["bafkreic6dblgcjpvq2pltkhocdcqrzi7vkvvkeda7ls5brl57c6wn33fxm" :rad/aozora-pds "https://pds.etzhayyim.com" 1 :add]
["bafkreic6dblgcjpvq2pltkhocdcqrzi7vkvvkeda7ls5brl57c6wn33fxm" :rad/aozora-collection "com.etzhayyim.infra" 1 :add]
["sigref:bafkreic6dblgcjpvq2pltkhocdcqrzi7vkvvkeda7ls5brl57c6wn33fxm" :rad/type :sigref 1 :add]
["sigref:bafkreic6dblgcjpvq2pltkhocdcqrzi7vkvvkeda7ls5brl57c6wn33fxm" :rad/rid "bafkreic6dblgcjpvq2pltkhocdcqrzi7vkvvkeda7ls5brl57c6wn33fxm" 1 :add]
["sigref:bafkreic6dblgcjpvq2pltkhocdcqrzi7vkvvkeda7ls5brl57c6wn33fxm" :rad/head "bafkreihtvfe435jqsnluy46obcsqy3ekaqziiszvc7a434qbrgadf2ftui" 1 :add]
["sigref:bafkreic6dblgcjpvq2pltkhocdcqrzi7vkvvkeda7ls5brl57c6wn33fxm" :rad/by "did:web:etzhayyim.github.io:com-etzhayyim-infra_utility_connect" 1 :add]
["bafyreimigrated00000000000000000000000000000000000000000000" :rad/did-web "did:web:etzhayyim.com:actor:infra_utility_connect" 2 :add]
["bafkreic6dblgcjpvq2pltkhocdcqrzi7vkvvkeda7ls5brl57c6wn33fxm" :rad/did-web "did:web:etzhayyim.com:actor:infra_utility_connect" 3 :add]
["sigref:bafkreic6dblgcjpvq2pltkhocdcqrzi7vkvvkeda7ls5brl57c6wn33fxm" :rad/type :sigref 3 :add]
["sigref:bafkreic6dblgcjpvq2pltkhocdcqrzi7vkvvkeda7ls5brl57c6wn33fxm" :rad/rid "bafkreic6dblgcjpvq2pltkhocdcqrzi7vkvvkeda7ls5brl57c6wn33fxm" 3 :add]
["sigref:bafkreic6dblgcjpvq2pltkhocdcqrzi7vkvvkeda7ls5brl57c6wn33fxm" :rad/head "bafkreiguwyorzsc4hkvnyrgdp7q7xsafitr7q2ebudmtr4uaxp5h5h772a" 3 :add]
["sigref:bafkreic6dblgcjpvq2pltkhocdcqrzi7vkvvkeda7ls5brl57c6wn33fxm" :rad/by "did:web:etzhayyim.com:actor:infra_utility_connect" 3 :add]
