["bafkreifkj3wo7uwtwmt33brmlukzyrn7lhnme7eo2ssxgzmaskq7dctqjq" :rad/type :identity 1 :add]
["bafkreifkj3wo7uwtwmt33brmlukzyrn7lhnme7eo2ssxgzmaskq7dctqjq" :rad/name "isekai" 1 :add]
["bafkreifkj3wo7uwtwmt33brmlukzyrn7lhnme7eo2ssxgzmaskq7dctqjq" :rad/did-web "did:web:etzhayyim.github.io:com-etzhayyim-isekai" 1 :add]
["bafkreifkj3wo7uwtwmt33brmlukzyrn7lhnme7eo2ssxgzmaskq7dctqjq" :rad/threshold 1 1 :add]
["bafkreifkj3wo7uwtwmt33brmlukzyrn7lhnme7eo2ssxgzmaskq7dctqjq" :rad/repo "github.com/etzhayyim/com-etzhayyim-isekai" 1 :add]
["bafkreifkj3wo7uwtwmt33brmlukzyrn7lhnme7eo2ssxgzmaskq7dctqjq" :rad/aozora-pds "https://pds.etzhayyim.com" 1 :add]
["bafkreifkj3wo7uwtwmt33brmlukzyrn7lhnme7eo2ssxgzmaskq7dctqjq" :rad/aozora-collection "com.etzhayyim.isekai" 1 :add]
["sigref:bafkreifkj3wo7uwtwmt33brmlukzyrn7lhnme7eo2ssxgzmaskq7dctqjq" :rad/type :sigref 1 :add]
["sigref:bafkreifkj3wo7uwtwmt33brmlukzyrn7lhnme7eo2ssxgzmaskq7dctqjq" :rad/rid "bafkreifkj3wo7uwtwmt33brmlukzyrn7lhnme7eo2ssxgzmaskq7dctqjq" 1 :add]
["sigref:bafkreifkj3wo7uwtwmt33brmlukzyrn7lhnme7eo2ssxgzmaskq7dctqjq" :rad/head "bafkreiaxht7j5ueco5vmsxokg3m2exoni7rzl3253ptm7vtt7pc5ltfmze" 1 :add]
["sigref:bafkreifkj3wo7uwtwmt33brmlukzyrn7lhnme7eo2ssxgzmaskq7dctqjq" :rad/by "did:web:etzhayyim.github.io:com-etzhayyim-isekai" 1 :add]
["bafyreimigrated00000000000000000000000000000000000000000000" :rad/did-web "did:web:etzhayyim.com:actor:isekai" 2 :add]
