["bafkreietcyrfdv6fkz7wac4vfiue2fks6bdu5kg25h7ilfbswigwqtah7e" :rad/type :identity 1 :add]
["bafkreietcyrfdv6fkz7wac4vfiue2fks6bdu5kg25h7ilfbswigwqtah7e" :rad/name "iyashi" 1 :add]
["bafkreietcyrfdv6fkz7wac4vfiue2fks6bdu5kg25h7ilfbswigwqtah7e" :rad/did-web "did:web:etzhayyim.github.io:com-etzhayyim-iyashi" 1 :add]
["bafkreietcyrfdv6fkz7wac4vfiue2fks6bdu5kg25h7ilfbswigwqtah7e" :rad/threshold 1 1 :add]
["bafkreietcyrfdv6fkz7wac4vfiue2fks6bdu5kg25h7ilfbswigwqtah7e" :rad/repo "github.com/etzhayyim/com-etzhayyim-iyashi" 1 :add]
["bafkreietcyrfdv6fkz7wac4vfiue2fks6bdu5kg25h7ilfbswigwqtah7e" :rad/aozora-pds "https://pds.etzhayyim.com" 1 :add]
["bafkreietcyrfdv6fkz7wac4vfiue2fks6bdu5kg25h7ilfbswigwqtah7e" :rad/aozora-collection "com.etzhayyim.apps.iyashi" 1 :add]
["sigref:bafkreietcyrfdv6fkz7wac4vfiue2fks6bdu5kg25h7ilfbswigwqtah7e" :rad/type :sigref 1 :add]
["sigref:bafkreietcyrfdv6fkz7wac4vfiue2fks6bdu5kg25h7ilfbswigwqtah7e" :rad/rid "bafkreietcyrfdv6fkz7wac4vfiue2fks6bdu5kg25h7ilfbswigwqtah7e" 1 :add]
["sigref:bafkreietcyrfdv6fkz7wac4vfiue2fks6bdu5kg25h7ilfbswigwqtah7e" :rad/head "bafkreifb3lzqsm4r4hbucxzzj7a52amvbln3rbpjua7bevjn2xunq6f6yi" 1 :add]
["sigref:bafkreietcyrfdv6fkz7wac4vfiue2fks6bdu5kg25h7ilfbswigwqtah7e" :rad/by "did:web:etzhayyim.github.io:com-etzhayyim-iyashi" 1 :add]
