["bafkreiczf2ea4yvs53uqyxl6lqt3iibo3g3ujslmkshwo6befrlp6oaoqa" :rad/type :identity 1 :add]
["bafkreiczf2ea4yvs53uqyxl6lqt3iibo3g3ujslmkshwo6befrlp6oaoqa" :rad/name "joucho" 1 :add]
["bafkreiczf2ea4yvs53uqyxl6lqt3iibo3g3ujslmkshwo6befrlp6oaoqa" :rad/did-web "did:web:etzhayyim.github.io:com-etzhayyim-joucho" 1 :add]
["bafkreiczf2ea4yvs53uqyxl6lqt3iibo3g3ujslmkshwo6befrlp6oaoqa" :rad/threshold 1 1 :add]
["bafkreiczf2ea4yvs53uqyxl6lqt3iibo3g3ujslmkshwo6befrlp6oaoqa" :rad/repo "github.com/etzhayyim/com-etzhayyim-joucho" 1 :add]
["bafkreiczf2ea4yvs53uqyxl6lqt3iibo3g3ujslmkshwo6befrlp6oaoqa" :rad/aozora-pds "https://pds.etzhayyim.com" 1 :add]
["bafkreiczf2ea4yvs53uqyxl6lqt3iibo3g3ujslmkshwo6befrlp6oaoqa" :rad/aozora-collection "com.etzhayyim.joucho" 1 :add]
["sigref:bafkreiczf2ea4yvs53uqyxl6lqt3iibo3g3ujslmkshwo6befrlp6oaoqa" :rad/type :sigref 1 :add]
["sigref:bafkreiczf2ea4yvs53uqyxl6lqt3iibo3g3ujslmkshwo6befrlp6oaoqa" :rad/rid "bafkreiczf2ea4yvs53uqyxl6lqt3iibo3g3ujslmkshwo6befrlp6oaoqa" 1 :add]
["sigref:bafkreiczf2ea4yvs53uqyxl6lqt3iibo3g3ujslmkshwo6befrlp6oaoqa" :rad/head "bafkreidvydolkokb4eheticj7fady2cxsbpy2xqsa2uyuon4ca5lda7im4" 1 :add]
["sigref:bafkreiczf2ea4yvs53uqyxl6lqt3iibo3g3ujslmkshwo6befrlp6oaoqa" :rad/by "did:web:etzhayyim.github.io:com-etzhayyim-joucho" 1 :add]
["bafyreimigrated00000000000000000000000000000000000000000000" :rad/did-web "did:web:etzhayyim.com:actor:joucho" 2 :add]
