["bafkreiafkofutbvdyhfy6x7eaxkp2c3d63v56jls36pwz24y5z63l52die" :rad/type :identity 1 :add]
["bafkreiafkofutbvdyhfy6x7eaxkp2c3d63v56jls36pwz24y5z63l52die" :rad/name "kabuto" 1 :add]
["bafkreiafkofutbvdyhfy6x7eaxkp2c3d63v56jls36pwz24y5z63l52die" :rad/did-web "did:web:etzhayyim.github.io:com-etzhayyim-kabuto" 1 :add]
["bafkreiafkofutbvdyhfy6x7eaxkp2c3d63v56jls36pwz24y5z63l52die" :rad/threshold 1 1 :add]
["bafkreiafkofutbvdyhfy6x7eaxkp2c3d63v56jls36pwz24y5z63l52die" :rad/repo "github.com/etzhayyim/com-etzhayyim-kabuto" 1 :add]
["bafkreiafkofutbvdyhfy6x7eaxkp2c3d63v56jls36pwz24y5z63l52die" :rad/aozora-pds "https://pds.etzhayyim.com" 1 :add]
["bafkreiafkofutbvdyhfy6x7eaxkp2c3d63v56jls36pwz24y5z63l52die" :rad/aozora-collection "com.etzhayyim.apps.kabuto" 1 :add]
["sigref:bafkreiafkofutbvdyhfy6x7eaxkp2c3d63v56jls36pwz24y5z63l52die" :rad/type :sigref 1 :add]
["sigref:bafkreiafkofutbvdyhfy6x7eaxkp2c3d63v56jls36pwz24y5z63l52die" :rad/rid "bafkreiafkofutbvdyhfy6x7eaxkp2c3d63v56jls36pwz24y5z63l52die" 1 :add]
["sigref:bafkreiafkofutbvdyhfy6x7eaxkp2c3d63v56jls36pwz24y5z63l52die" :rad/head "bafkreiepyw4rmp2l7v42lntxfu57v3tkqdjk6n57rkiyzttm22jv6d56m4" 1 :add]
["sigref:bafkreiafkofutbvdyhfy6x7eaxkp2c3d63v56jls36pwz24y5z63l52die" :rad/by "did:web:etzhayyim.github.io:com-etzhayyim-kabuto" 1 :add]
["bafyreimigrated00000000000000000000000000000000000000000000" :rad/did-web "did:web:etzhayyim.com:actor:kabuto" 2 :add]
["bafkreiafkofutbvdyhfy6x7eaxkp2c3d63v56jls36pwz24y5z63l52die" :rad/did-web "did:web:etzhayyim.com:actor:kabuto" 3 :add]
["sigref:bafkreiafkofutbvdyhfy6x7eaxkp2c3d63v56jls36pwz24y5z63l52die" :rad/type :sigref 3 :add]
["sigref:bafkreiafkofutbvdyhfy6x7eaxkp2c3d63v56jls36pwz24y5z63l52die" :rad/rid "bafkreiafkofutbvdyhfy6x7eaxkp2c3d63v56jls36pwz24y5z63l52die" 3 :add]
["sigref:bafkreiafkofutbvdyhfy6x7eaxkp2c3d63v56jls36pwz24y5z63l52die" :rad/head "bafkreicqyo4haq2qn77j7dawhjpjgdss46vqqfydlqvs2ynglajdxiopau" 3 :add]
["sigref:bafkreiafkofutbvdyhfy6x7eaxkp2c3d63v56jls36pwz24y5z63l52die" :rad/by "did:web:etzhayyim.com:actor:kabuto" 3 :add]
["bafkreiafkofutbvdyhfy6x7eaxkp2c3d63v56jls36pwz24y5z63l52die" :rad/aozora-pds "https://pds.aozora.app" 4 :add]
["bafkreiafkofutbvdyhfy6x7eaxkp2c3d63v56jls36pwz24y5z63l52die" :rad/did-key "did:key:z6Mkg9pQ1i7sQhpSN5HTHTXNnHPMhJW3J6ffukppuz48MMpb" 4 :add]
