["bafkreidatqm4zj3hapbik2cdkx237vy5gxdhlbuhkwixiu2qp3slmjkg2a" :rad/type :identity 1 :add]
["bafkreidatqm4zj3hapbik2cdkx237vy5gxdhlbuhkwixiu2qp3slmjkg2a" :rad/name "karute" 1 :add]
["bafkreidatqm4zj3hapbik2cdkx237vy5gxdhlbuhkwixiu2qp3slmjkg2a" :rad/did-web "did:web:etzhayyim.github.io:com-etzhayyim-karute" 1 :add]
["bafkreidatqm4zj3hapbik2cdkx237vy5gxdhlbuhkwixiu2qp3slmjkg2a" :rad/threshold 1 1 :add]
["bafkreidatqm4zj3hapbik2cdkx237vy5gxdhlbuhkwixiu2qp3slmjkg2a" :rad/repo "github.com/etzhayyim/com-etzhayyim-karute" 1 :add]
["bafkreidatqm4zj3hapbik2cdkx237vy5gxdhlbuhkwixiu2qp3slmjkg2a" :rad/aozora-pds "https://pds.etzhayyim.com" 1 :add]
["bafkreidatqm4zj3hapbik2cdkx237vy5gxdhlbuhkwixiu2qp3slmjkg2a" :rad/aozora-collection "com.etzhayyim.encrypted" 1 :add]
["sigref:bafkreidatqm4zj3hapbik2cdkx237vy5gxdhlbuhkwixiu2qp3slmjkg2a" :rad/type :sigref 1 :add]
["sigref:bafkreidatqm4zj3hapbik2cdkx237vy5gxdhlbuhkwixiu2qp3slmjkg2a" :rad/rid "bafkreidatqm4zj3hapbik2cdkx237vy5gxdhlbuhkwixiu2qp3slmjkg2a" 1 :add]
["sigref:bafkreidatqm4zj3hapbik2cdkx237vy5gxdhlbuhkwixiu2qp3slmjkg2a" :rad/head "bafkreicjqofovxkxyczq4ttjpqhbl5chbdh2cotprdflypcq75utqod5zu" 1 :add]
["sigref:bafkreidatqm4zj3hapbik2cdkx237vy5gxdhlbuhkwixiu2qp3slmjkg2a" :rad/by "did:web:etzhayyim.github.io:com-etzhayyim-karute" 1 :add]
["bafyreimigrated00000000000000000000000000000000000000000000" :rad/did-web "did:web:etzhayyim.com:actor:karute" 2 :add]
