["bafkreian5wdtbioeawmu24iwp4oj5nwi4clwjb2oyhwlfuvtovj6hpmote" :rad/type :identity 1 :add]
["bafkreian5wdtbioeawmu24iwp4oj5nwi4clwjb2oyhwlfuvtovj6hpmote" :rad/name "kazaori" 1 :add]
["bafkreian5wdtbioeawmu24iwp4oj5nwi4clwjb2oyhwlfuvtovj6hpmote" :rad/did-web "did:web:etzhayyim.github.io:com-etzhayyim-kazaori" 1 :add]
["bafkreian5wdtbioeawmu24iwp4oj5nwi4clwjb2oyhwlfuvtovj6hpmote" :rad/threshold 1 1 :add]
["bafkreian5wdtbioeawmu24iwp4oj5nwi4clwjb2oyhwlfuvtovj6hpmote" :rad/repo "github.com/etzhayyim/com-etzhayyim-kazaori" 1 :add]
["bafkreian5wdtbioeawmu24iwp4oj5nwi4clwjb2oyhwlfuvtovj6hpmote" :rad/aozora-pds "https://pds.etzhayyim.com" 1 :add]
["bafkreian5wdtbioeawmu24iwp4oj5nwi4clwjb2oyhwlfuvtovj6hpmote" :rad/aozora-collection "com.etzhayyim.apps.kazaori" 1 :add]
["sigref:bafkreian5wdtbioeawmu24iwp4oj5nwi4clwjb2oyhwlfuvtovj6hpmote" :rad/type :sigref 1 :add]
["sigref:bafkreian5wdtbioeawmu24iwp4oj5nwi4clwjb2oyhwlfuvtovj6hpmote" :rad/rid "bafkreian5wdtbioeawmu24iwp4oj5nwi4clwjb2oyhwlfuvtovj6hpmote" 1 :add]
["sigref:bafkreian5wdtbioeawmu24iwp4oj5nwi4clwjb2oyhwlfuvtovj6hpmote" :rad/head "bafkreihk2cbkvryvpjlva2fsx4bdwvr4w4okzhhixrv3l7db7fnwyq7jvy" 1 :add]
["sigref:bafkreian5wdtbioeawmu24iwp4oj5nwi4clwjb2oyhwlfuvtovj6hpmote" :rad/by "did:web:etzhayyim.github.io:com-etzhayyim-kazaori" 1 :add]
