["bafkreid5l3idvfdpneoyuvwqhkyo4rknavtz5k7n3xhbcsjbpl6si6s3ta" :rad/type :identity 1 :add]
["bafkreid5l3idvfdpneoyuvwqhkyo4rknavtz5k7n3xhbcsjbpl6si6s3ta" :rad/name "keizu" 1 :add]
["bafkreid5l3idvfdpneoyuvwqhkyo4rknavtz5k7n3xhbcsjbpl6si6s3ta" :rad/did-web "did:web:etzhayyim.github.io:com-etzhayyim-keizu" 1 :add]
["bafkreid5l3idvfdpneoyuvwqhkyo4rknavtz5k7n3xhbcsjbpl6si6s3ta" :rad/threshold 1 1 :add]
["bafkreid5l3idvfdpneoyuvwqhkyo4rknavtz5k7n3xhbcsjbpl6si6s3ta" :rad/repo "github.com/etzhayyim/com-etzhayyim-keizu" 1 :add]
["bafkreid5l3idvfdpneoyuvwqhkyo4rknavtz5k7n3xhbcsjbpl6si6s3ta" :rad/aozora-pds "https://pds.etzhayyim.com" 1 :add]
["bafkreid5l3idvfdpneoyuvwqhkyo4rknavtz5k7n3xhbcsjbpl6si6s3ta" :rad/aozora-collection "com.etzhayyim.apps.keizu" 1 :add]
["sigref:bafkreid5l3idvfdpneoyuvwqhkyo4rknavtz5k7n3xhbcsjbpl6si6s3ta" :rad/type :sigref 1 :add]
["sigref:bafkreid5l3idvfdpneoyuvwqhkyo4rknavtz5k7n3xhbcsjbpl6si6s3ta" :rad/rid "bafkreid5l3idvfdpneoyuvwqhkyo4rknavtz5k7n3xhbcsjbpl6si6s3ta" 1 :add]
["sigref:bafkreid5l3idvfdpneoyuvwqhkyo4rknavtz5k7n3xhbcsjbpl6si6s3ta" :rad/head "bafkreieuezhlmxcwbvugrvzkfd3jfr5jnuer5usu2rffseysz5qwomruce" 1 :add]
["sigref:bafkreid5l3idvfdpneoyuvwqhkyo4rknavtz5k7n3xhbcsjbpl6si6s3ta" :rad/by "did:web:etzhayyim.github.io:com-etzhayyim-keizu" 1 :add]
["bafyreimigrated00000000000000000000000000000000000000000000" :rad/did-web "did:web:etzhayyim.com:actor:keizu" 2 :add]
