["bafkreicdcsz3das3hp2vu2aueyloszc73chv7ataeuvmmdj2uvypo2rdbi" :rad/type :identity 1 :add]
["bafkreicdcsz3das3hp2vu2aueyloszc73chv7ataeuvmmdj2uvypo2rdbi" :rad/name "kumi" 1 :add]
["bafkreicdcsz3das3hp2vu2aueyloszc73chv7ataeuvmmdj2uvypo2rdbi" :rad/did-web "did:web:etzhayyim.com:actor:kumi" 1 :add]
["bafkreicdcsz3das3hp2vu2aueyloszc73chv7ataeuvmmdj2uvypo2rdbi" :rad/threshold 1 1 :add]
["bafkreicdcsz3das3hp2vu2aueyloszc73chv7ataeuvmmdj2uvypo2rdbi" :rad/repo "github.com/etzhayyim/com-etzhayyim-kumi" 1 :add]
["bafkreicdcsz3das3hp2vu2aueyloszc73chv7ataeuvmmdj2uvypo2rdbi" :rad/aozora-pds "https://aozora.app" 1 :add]
["bafkreicdcsz3das3hp2vu2aueyloszc73chv7ataeuvmmdj2uvypo2rdbi" :rad/aozora-collection "com.etzhayyim.kumi" 1 :add]
["sigref:bafkreicdcsz3das3hp2vu2aueyloszc73chv7ataeuvmmdj2uvypo2rdbi" :rad/type :sigref 1 :add]
["sigref:bafkreicdcsz3das3hp2vu2aueyloszc73chv7ataeuvmmdj2uvypo2rdbi" :rad/rid "bafkreicdcsz3das3hp2vu2aueyloszc73chv7ataeuvmmdj2uvypo2rdbi" 1 :add]
["sigref:bafkreicdcsz3das3hp2vu2aueyloszc73chv7ataeuvmmdj2uvypo2rdbi" :rad/head "bafkreib55nky5wuznzpun6dlavdcpvodqd3syqtxpmg2luhxs3ya64pxzy" 1 :add]
["sigref:bafkreicdcsz3das3hp2vu2aueyloszc73chv7ataeuvmmdj2uvypo2rdbi" :rad/by "did:web:etzhayyim.com:actor:kumi" 1 :add]
