["bafkreigjhpukgts5owsyexqxho4jnhuicldt2ieyxaxck4qntcy6z33fyi" :rad/type :identity 1 :add]
["bafkreigjhpukgts5owsyexqxho4jnhuicldt2ieyxaxck4qntcy6z33fyi" :rad/name "makura" 1 :add]
["bafkreigjhpukgts5owsyexqxho4jnhuicldt2ieyxaxck4qntcy6z33fyi" :rad/did-web "did:web:etzhayyim.github.io:com-etzhayyim-makura" 1 :add]
["bafkreigjhpukgts5owsyexqxho4jnhuicldt2ieyxaxck4qntcy6z33fyi" :rad/threshold 1 1 :add]
["bafkreigjhpukgts5owsyexqxho4jnhuicldt2ieyxaxck4qntcy6z33fyi" :rad/repo "github.com/etzhayyim/com-etzhayyim-makura" 1 :add]
["bafkreigjhpukgts5owsyexqxho4jnhuicldt2ieyxaxck4qntcy6z33fyi" :rad/aozora-pds "https://pds.etzhayyim.com" 1 :add]
["bafkreigjhpukgts5owsyexqxho4jnhuicldt2ieyxaxck4qntcy6z33fyi" :rad/aozora-collection "com.etzhayyim.apps.makura" 1 :add]
["sigref:bafkreigjhpukgts5owsyexqxho4jnhuicldt2ieyxaxck4qntcy6z33fyi" :rad/type :sigref 1 :add]
["sigref:bafkreigjhpukgts5owsyexqxho4jnhuicldt2ieyxaxck4qntcy6z33fyi" :rad/rid "bafkreigjhpukgts5owsyexqxho4jnhuicldt2ieyxaxck4qntcy6z33fyi" 1 :add]
["sigref:bafkreigjhpukgts5owsyexqxho4jnhuicldt2ieyxaxck4qntcy6z33fyi" :rad/head "bafkreic3cr35c72h6mbrqb4loisc5nklcaxiucod4camszugovq2snrp5e" 1 :add]
["sigref:bafkreigjhpukgts5owsyexqxho4jnhuicldt2ieyxaxck4qntcy6z33fyi" :rad/by "did:web:etzhayyim.github.io:com-etzhayyim-makura" 1 :add]
["bafyreimigrated00000000000000000000000000000000000000000000" :rad/did-web "did:web:etzhayyim.com:actor:makura" 2 :add]
