["bafkreihpcokxatcmj2k3jxxidu6m23ljowescex3gz7nwzaj5lqqn4cee4" :rad/type :identity 1 :add]
["bafkreihpcokxatcmj2k3jxxidu6m23ljowescex3gz7nwzaj5lqqn4cee4" :rad/name "maps" 1 :add]
["bafkreihpcokxatcmj2k3jxxidu6m23ljowescex3gz7nwzaj5lqqn4cee4" :rad/did-web "did:web:etzhayyim.github.io:com-etzhayyim-maps" 1 :add]
["bafkreihpcokxatcmj2k3jxxidu6m23ljowescex3gz7nwzaj5lqqn4cee4" :rad/threshold 1 1 :add]
["bafkreihpcokxatcmj2k3jxxidu6m23ljowescex3gz7nwzaj5lqqn4cee4" :rad/repo "github.com/etzhayyim/com-etzhayyim-maps" 1 :add]
["bafkreihpcokxatcmj2k3jxxidu6m23ljowescex3gz7nwzaj5lqqn4cee4" :rad/aozora-pds "https://pds.etzhayyim.com" 1 :add]
["bafkreihpcokxatcmj2k3jxxidu6m23ljowescex3gz7nwzaj5lqqn4cee4" :rad/aozora-collection "com.etzhayyim.apps.maps" 1 :add]
["sigref:bafkreihpcokxatcmj2k3jxxidu6m23ljowescex3gz7nwzaj5lqqn4cee4" :rad/type :sigref 1 :add]
["sigref:bafkreihpcokxatcmj2k3jxxidu6m23ljowescex3gz7nwzaj5lqqn4cee4" :rad/rid "bafkreihpcokxatcmj2k3jxxidu6m23ljowescex3gz7nwzaj5lqqn4cee4" 1 :add]
["sigref:bafkreihpcokxatcmj2k3jxxidu6m23ljowescex3gz7nwzaj5lqqn4cee4" :rad/head "bafkreiaajgvfet4ejfx5kyclncfiqeivkmivl6szpxspeyljk62w42i55y" 1 :add]
["sigref:bafkreihpcokxatcmj2k3jxxidu6m23ljowescex3gz7nwzaj5lqqn4cee4" :rad/by "did:web:etzhayyim.github.io:com-etzhayyim-maps" 1 :add]
