["bafkreid235673k6g3wosjzxmodycsu2bzmmvlqn4xkguzwiqpnxfkrliya" :rad/type :identity 1 :add]
["bafkreid235673k6g3wosjzxmodycsu2bzmmvlqn4xkguzwiqpnxfkrliya" :rad/name "media-gamers" 1 :add]
["bafkreid235673k6g3wosjzxmodycsu2bzmmvlqn4xkguzwiqpnxfkrliya" :rad/did-web "did:web:etzhayyim.github.io:com-etzhayyim-media-gamers" 1 :add]
["bafkreid235673k6g3wosjzxmodycsu2bzmmvlqn4xkguzwiqpnxfkrliya" :rad/threshold 1 1 :add]
["bafkreid235673k6g3wosjzxmodycsu2bzmmvlqn4xkguzwiqpnxfkrliya" :rad/repo "github.com/etzhayyim/com-etzhayyim-media-gamers" 1 :add]
["bafkreid235673k6g3wosjzxmodycsu2bzmmvlqn4xkguzwiqpnxfkrliya" :rad/aozora-pds "https://pds.etzhayyim.com" 1 :add]
["bafkreid235673k6g3wosjzxmodycsu2bzmmvlqn4xkguzwiqpnxfkrliya" :rad/aozora-collection "com.etzhayyim.apps.media_gamers" 1 :add]
["sigref:bafkreid235673k6g3wosjzxmodycsu2bzmmvlqn4xkguzwiqpnxfkrliya" :rad/type :sigref 1 :add]
["sigref:bafkreid235673k6g3wosjzxmodycsu2bzmmvlqn4xkguzwiqpnxfkrliya" :rad/rid "bafkreid235673k6g3wosjzxmodycsu2bzmmvlqn4xkguzwiqpnxfkrliya" 1 :add]
["sigref:bafkreid235673k6g3wosjzxmodycsu2bzmmvlqn4xkguzwiqpnxfkrliya" :rad/head "bafkreihax6kvbom7m7nu6lk7oys27ryoymdwwwzfss6kxn6pzf4b75qeia" 1 :add]
["sigref:bafkreid235673k6g3wosjzxmodycsu2bzmmvlqn4xkguzwiqpnxfkrliya" :rad/by "did:web:etzhayyim.github.io:com-etzhayyim-media-gamers" 1 :add]
["bafyreimigrated00000000000000000000000000000000000000000000" :rad/did-web "did:web:etzhayyim.com:actor:media-gamers" 2 :add]
