["bafkreic23flpcovig4pwhrmbchpjvblmq4esi5cxwq4ci7hmtwbldjsciq" :rad/type :identity 1 :add]
["bafkreic23flpcovig4pwhrmbchpjvblmq4esi5cxwq4ci7hmtwbldjsciq" :rad/name "mitate" 1 :add]
["bafkreic23flpcovig4pwhrmbchpjvblmq4esi5cxwq4ci7hmtwbldjsciq" :rad/did-web "did:web:etzhayyim.github.io:com-etzhayyim-mitate" 1 :add]
["bafkreic23flpcovig4pwhrmbchpjvblmq4esi5cxwq4ci7hmtwbldjsciq" :rad/threshold 1 1 :add]
["bafkreic23flpcovig4pwhrmbchpjvblmq4esi5cxwq4ci7hmtwbldjsciq" :rad/repo "github.com/etzhayyim/com-etzhayyim-mitate" 1 :add]
["bafkreic23flpcovig4pwhrmbchpjvblmq4esi5cxwq4ci7hmtwbldjsciq" :rad/aozora-pds "https://pds.etzhayyim.com" 1 :add]
["bafkreic23flpcovig4pwhrmbchpjvblmq4esi5cxwq4ci7hmtwbldjsciq" :rad/aozora-collection "com.etzhayyim.mitate" 1 :add]
["sigref:bafkreic23flpcovig4pwhrmbchpjvblmq4esi5cxwq4ci7hmtwbldjsciq" :rad/type :sigref 1 :add]
["sigref:bafkreic23flpcovig4pwhrmbchpjvblmq4esi5cxwq4ci7hmtwbldjsciq" :rad/rid "bafkreic23flpcovig4pwhrmbchpjvblmq4esi5cxwq4ci7hmtwbldjsciq" 1 :add]
["sigref:bafkreic23flpcovig4pwhrmbchpjvblmq4esi5cxwq4ci7hmtwbldjsciq" :rad/head "bafkreidic5xnkgqvg3oh6n7prtpto3xl645wano6sk5jvaaiwfldgx5woe" 1 :add]
["sigref:bafkreic23flpcovig4pwhrmbchpjvblmq4esi5cxwq4ci7hmtwbldjsciq" :rad/by "did:web:etzhayyim.github.io:com-etzhayyim-mitate" 1 :add]
["bafyreimigrated00000000000000000000000000000000000000000000" :rad/did-web "did:web:etzhayyim.com:actor:mitate" 2 :add]
["bafkreic23flpcovig4pwhrmbchpjvblmq4esi5cxwq4ci7hmtwbldjsciq" :rad/did-web "did:web:etzhayyim.com:actor:mitate" 3 :add]
["sigref:bafkreic23flpcovig4pwhrmbchpjvblmq4esi5cxwq4ci7hmtwbldjsciq" :rad/type :sigref 3 :add]
["sigref:bafkreic23flpcovig4pwhrmbchpjvblmq4esi5cxwq4ci7hmtwbldjsciq" :rad/rid "bafkreic23flpcovig4pwhrmbchpjvblmq4esi5cxwq4ci7hmtwbldjsciq" 3 :add]
["sigref:bafkreic23flpcovig4pwhrmbchpjvblmq4esi5cxwq4ci7hmtwbldjsciq" :rad/head "bafkreife4ngjmjueudk3yw6xfekol7effonc3umqqsebrcbalog6mxuxqq" 3 :add]
["sigref:bafkreic23flpcovig4pwhrmbchpjvblmq4esi5cxwq4ci7hmtwbldjsciq" :rad/by "did:web:etzhayyim.com:actor:mitate" 3 :add]
["bafkreic23flpcovig4pwhrmbchpjvblmq4esi5cxwq4ci7hmtwbldjsciq" :rad/aozora-pds "https://pds.aozora.app" 4 :add]
["bafkreic23flpcovig4pwhrmbchpjvblmq4esi5cxwq4ci7hmtwbldjsciq" :rad/did-key "did:key:z6MkoXrFbDbM9SUhhJe71t2moxKtPFQbnCNQqBwMAMwitciA" 4 :add]
