["bafkreierv3uivdlz2hemryj7hukzqks6e4xgivqsuj5mk5eqyipycsxyi4" :rad/type :identity 1 :add]
["bafkreierv3uivdlz2hemryj7hukzqks6e4xgivqsuj5mk5eqyipycsxyi4" :rad/name "oil-distribution" 1 :add]
["bafkreierv3uivdlz2hemryj7hukzqks6e4xgivqsuj5mk5eqyipycsxyi4" :rad/did-web "did:web:etzhayyim.github.io:com-etzhayyim-oil-distribution" 1 :add]
["bafkreierv3uivdlz2hemryj7hukzqks6e4xgivqsuj5mk5eqyipycsxyi4" :rad/threshold 1 1 :add]
["bafkreierv3uivdlz2hemryj7hukzqks6e4xgivqsuj5mk5eqyipycsxyi4" :rad/repo "github.com/etzhayyim/com-etzhayyim-oil-distribution" 1 :add]
["bafkreierv3uivdlz2hemryj7hukzqks6e4xgivqsuj5mk5eqyipycsxyi4" :rad/aozora-pds "https://pds.etzhayyim.com" 1 :add]
["bafkreierv3uivdlz2hemryj7hukzqks6e4xgivqsuj5mk5eqyipycsxyi4" :rad/aozora-collection "com.etzhayyim.apps.oilDistribution" 1 :add]
["sigref:bafkreierv3uivdlz2hemryj7hukzqks6e4xgivqsuj5mk5eqyipycsxyi4" :rad/type :sigref 1 :add]
["sigref:bafkreierv3uivdlz2hemryj7hukzqks6e4xgivqsuj5mk5eqyipycsxyi4" :rad/rid "bafkreierv3uivdlz2hemryj7hukzqks6e4xgivqsuj5mk5eqyipycsxyi4" 1 :add]
["sigref:bafkreierv3uivdlz2hemryj7hukzqks6e4xgivqsuj5mk5eqyipycsxyi4" :rad/head "bafkreicayvfaupdhugyjtqk5a7dpvjmbu76zafqvcy3nblhnwj7blgwvim" 1 :add]
["sigref:bafkreierv3uivdlz2hemryj7hukzqks6e4xgivqsuj5mk5eqyipycsxyi4" :rad/by "did:web:etzhayyim.github.io:com-etzhayyim-oil-distribution" 1 :add]
["bafyreimigrated00000000000000000000000000000000000000000000" :rad/did-web "did:web:etzhayyim.com:actor:oil-distribution" 2 :add]
["bafkreierv3uivdlz2hemryj7hukzqks6e4xgivqsuj5mk5eqyipycsxyi4" :rad/did-web "did:web:etzhayyim.com:actor:oil-distribution" 3 :add]
["sigref:bafkreierv3uivdlz2hemryj7hukzqks6e4xgivqsuj5mk5eqyipycsxyi4" :rad/type :sigref 3 :add]
["sigref:bafkreierv3uivdlz2hemryj7hukzqks6e4xgivqsuj5mk5eqyipycsxyi4" :rad/rid "bafkreierv3uivdlz2hemryj7hukzqks6e4xgivqsuj5mk5eqyipycsxyi4" 3 :add]
["sigref:bafkreierv3uivdlz2hemryj7hukzqks6e4xgivqsuj5mk5eqyipycsxyi4" :rad/head "bafkreigpgenlghrae6iyjo6ypkmjniogg7mcy5k5kewut7jfeoma3nc6hq" 3 :add]
["sigref:bafkreierv3uivdlz2hemryj7hukzqks6e4xgivqsuj5mk5eqyipycsxyi4" :rad/by "did:web:etzhayyim.com:actor:oil-distribution" 3 :add]
["bafkreierv3uivdlz2hemryj7hukzqks6e4xgivqsuj5mk5eqyipycsxyi4" :rad/aozora-pds "https://pds.aozora.app" 4 :add]
["bafkreierv3uivdlz2hemryj7hukzqks6e4xgivqsuj5mk5eqyipycsxyi4" :rad/did-key "did:key:z6Mkj7fh8y3Xway1bE5QjCbSZDBcNfqh65axUoG7S2cqsyfE" 4 :add]
