["bafkreialpqvby6y7butydmas4dejlunlqhcarayefzlobnfplfc66wdksi" :rad/type :identity 1 :add]
["bafkreialpqvby6y7butydmas4dejlunlqhcarayefzlobnfplfc66wdksi" :rad/name "oil-shipping" 1 :add]
["bafkreialpqvby6y7butydmas4dejlunlqhcarayefzlobnfplfc66wdksi" :rad/did-web "did:web:etzhayyim.github.io:com-etzhayyim-oil-shipping" 1 :add]
["bafkreialpqvby6y7butydmas4dejlunlqhcarayefzlobnfplfc66wdksi" :rad/threshold 1 1 :add]
["bafkreialpqvby6y7butydmas4dejlunlqhcarayefzlobnfplfc66wdksi" :rad/repo "github.com/etzhayyim/com-etzhayyim-oil-shipping" 1 :add]
["bafkreialpqvby6y7butydmas4dejlunlqhcarayefzlobnfplfc66wdksi" :rad/aozora-pds "https://pds.etzhayyim.com" 1 :add]
["bafkreialpqvby6y7butydmas4dejlunlqhcarayefzlobnfplfc66wdksi" :rad/aozora-collection "com.etzhayyim.apps.oilShipping" 1 :add]
["sigref:bafkreialpqvby6y7butydmas4dejlunlqhcarayefzlobnfplfc66wdksi" :rad/type :sigref 1 :add]
["sigref:bafkreialpqvby6y7butydmas4dejlunlqhcarayefzlobnfplfc66wdksi" :rad/rid "bafkreialpqvby6y7butydmas4dejlunlqhcarayefzlobnfplfc66wdksi" 1 :add]
["sigref:bafkreialpqvby6y7butydmas4dejlunlqhcarayefzlobnfplfc66wdksi" :rad/head "bafkreidoxnp3jbby4nnw6hb6d63wgv46dhco6sv7z53whz637ruwsr63ve" 1 :add]
["sigref:bafkreialpqvby6y7butydmas4dejlunlqhcarayefzlobnfplfc66wdksi" :rad/by "did:web:etzhayyim.github.io:com-etzhayyim-oil-shipping" 1 :add]
