["bafkreihmrqovq2bprdkfsxpxpdequmbhthj5rf7nogvh7sddxm3z7huyo4" :rad/type :identity 1 :add]
["bafkreihmrqovq2bprdkfsxpxpdequmbhthj5rf7nogvh7sddxm3z7huyo4" :rad/name "os" 1 :add]
["bafkreihmrqovq2bprdkfsxpxpdequmbhthj5rf7nogvh7sddxm3z7huyo4" :rad/did-web "did:web:etzhayyim.github.io:com-etzhayyim-os" 1 :add]
["bafkreihmrqovq2bprdkfsxpxpdequmbhthj5rf7nogvh7sddxm3z7huyo4" :rad/threshold 1 1 :add]
["bafkreihmrqovq2bprdkfsxpxpdequmbhthj5rf7nogvh7sddxm3z7huyo4" :rad/repo "github.com/etzhayyim/com-etzhayyim-os" 1 :add]
["bafkreihmrqovq2bprdkfsxpxpdequmbhthj5rf7nogvh7sddxm3z7huyo4" :rad/aozora-pds "https://pds.etzhayyim.com" 1 :add]
["bafkreihmrqovq2bprdkfsxpxpdequmbhthj5rf7nogvh7sddxm3z7huyo4" :rad/aozora-collection "com.etzhayyim.apps.os" 1 :add]
["sigref:bafkreihmrqovq2bprdkfsxpxpdequmbhthj5rf7nogvh7sddxm3z7huyo4" :rad/type :sigref 1 :add]
["sigref:bafkreihmrqovq2bprdkfsxpxpdequmbhthj5rf7nogvh7sddxm3z7huyo4" :rad/rid "bafkreihmrqovq2bprdkfsxpxpdequmbhthj5rf7nogvh7sddxm3z7huyo4" 1 :add]
["sigref:bafkreihmrqovq2bprdkfsxpxpdequmbhthj5rf7nogvh7sddxm3z7huyo4" :rad/head "bafkreihct4wahkampjbe2q2bekcfqmktkidmmtpnvzd4xhg33br6ooanr4" 1 :add]
["sigref:bafkreihmrqovq2bprdkfsxpxpdequmbhthj5rf7nogvh7sddxm3z7huyo4" :rad/by "did:web:etzhayyim.github.io:com-etzhayyim-os" 1 :add]
["bafyreimigrated00000000000000000000000000000000000000000000" :rad/did-web "did:web:etzhayyim.com:actor:os" 2 :add]
