["bafkreiedghjus4uuhvisshtwlkfanby4gvkldiiu6tdvt7726di7qizgym" :rad/type :identity 1 :add]
["bafkreiedghjus4uuhvisshtwlkfanby4gvkldiiu6tdvt7726di7qizgym" :rad/name "seigyo" 1 :add]
["bafkreiedghjus4uuhvisshtwlkfanby4gvkldiiu6tdvt7726di7qizgym" :rad/did-web "did:web:etzhayyim.github.io:com-etzhayyim-seigyo" 1 :add]
["bafkreiedghjus4uuhvisshtwlkfanby4gvkldiiu6tdvt7726di7qizgym" :rad/threshold 1 1 :add]
["bafkreiedghjus4uuhvisshtwlkfanby4gvkldiiu6tdvt7726di7qizgym" :rad/repo "github.com/etzhayyim/com-etzhayyim-seigyo" 1 :add]
["bafkreiedghjus4uuhvisshtwlkfanby4gvkldiiu6tdvt7726di7qizgym" :rad/aozora-pds "https://pds.etzhayyim.com" 1 :add]
["bafkreiedghjus4uuhvisshtwlkfanby4gvkldiiu6tdvt7726di7qizgym" :rad/aozora-collection "com.etzhayyim.apps.seigyo" 1 :add]
["sigref:bafkreiedghjus4uuhvisshtwlkfanby4gvkldiiu6tdvt7726di7qizgym" :rad/type :sigref 1 :add]
["sigref:bafkreiedghjus4uuhvisshtwlkfanby4gvkldiiu6tdvt7726di7qizgym" :rad/rid "bafkreiedghjus4uuhvisshtwlkfanby4gvkldiiu6tdvt7726di7qizgym" 1 :add]
["sigref:bafkreiedghjus4uuhvisshtwlkfanby4gvkldiiu6tdvt7726di7qizgym" :rad/head "bafkreifvbfepokut3fudxyksrio66mpebhfdezyknmluwpue5ip3bniate" 1 :add]
["sigref:bafkreiedghjus4uuhvisshtwlkfanby4gvkldiiu6tdvt7726di7qizgym" :rad/by "did:web:etzhayyim.github.io:com-etzhayyim-seigyo" 1 :add]
["bafyreimigrated00000000000000000000000000000000000000000000" :rad/did-web "did:web:etzhayyim.com:actor:seigyo" 2 :add]
["bafkreiedghjus4uuhvisshtwlkfanby4gvkldiiu6tdvt7726di7qizgym" :rad/did-web "did:web:etzhayyim.com:actor:seigyo" 3 :add]
["sigref:bafkreiedghjus4uuhvisshtwlkfanby4gvkldiiu6tdvt7726di7qizgym" :rad/type :sigref 3 :add]
["sigref:bafkreiedghjus4uuhvisshtwlkfanby4gvkldiiu6tdvt7726di7qizgym" :rad/rid "bafkreiedghjus4uuhvisshtwlkfanby4gvkldiiu6tdvt7726di7qizgym" 3 :add]
["sigref:bafkreiedghjus4uuhvisshtwlkfanby4gvkldiiu6tdvt7726di7qizgym" :rad/head "bafkreihuvgpqz6nfwlecq3hnz5zyu3kbijz4dzzqniwm42aip2isyz75bu" 3 :add]
["sigref:bafkreiedghjus4uuhvisshtwlkfanby4gvkldiiu6tdvt7726di7qizgym" :rad/by "did:web:etzhayyim.com:actor:seigyo" 3 :add]
["bafkreiedghjus4uuhvisshtwlkfanby4gvkldiiu6tdvt7726di7qizgym" :rad/aozora-pds "https://pds.aozora.app" 4 :add]
["bafkreiedghjus4uuhvisshtwlkfanby4gvkldiiu6tdvt7726di7qizgym" :rad/did-key "did:key:z6MkqakM8ShqB4XSUx1eHd5KYd1zRDFTe52C3WW82xzE4WiA" 4 :add]
