["bafkreicm5u2vzk2kav5xxtlogcy26qicc4jlnl4xemhr52bv6i2eyoy5pa" :rad/type :identity 1 :add]
["bafkreicm5u2vzk2kav5xxtlogcy26qicc4jlnl4xemhr52bv6i2eyoy5pa" :rad/name "shinka" 1 :add]
["bafkreicm5u2vzk2kav5xxtlogcy26qicc4jlnl4xemhr52bv6i2eyoy5pa" :rad/did-web "did:web:etzhayyim.github.io:com-etzhayyim-shinka" 1 :add]
["bafkreicm5u2vzk2kav5xxtlogcy26qicc4jlnl4xemhr52bv6i2eyoy5pa" :rad/threshold 1 1 :add]
["bafkreicm5u2vzk2kav5xxtlogcy26qicc4jlnl4xemhr52bv6i2eyoy5pa" :rad/repo "github.com/etzhayyim/com-etzhayyim-shinka" 1 :add]
["bafkreicm5u2vzk2kav5xxtlogcy26qicc4jlnl4xemhr52bv6i2eyoy5pa" :rad/aozora-pds "https://pds.etzhayyim.com" 1 :add]
["bafkreicm5u2vzk2kav5xxtlogcy26qicc4jlnl4xemhr52bv6i2eyoy5pa" :rad/aozora-collection "com.etzhayyim.apps.shinka" 1 :add]
["sigref:bafkreicm5u2vzk2kav5xxtlogcy26qicc4jlnl4xemhr52bv6i2eyoy5pa" :rad/type :sigref 1 :add]
["sigref:bafkreicm5u2vzk2kav5xxtlogcy26qicc4jlnl4xemhr52bv6i2eyoy5pa" :rad/rid "bafkreicm5u2vzk2kav5xxtlogcy26qicc4jlnl4xemhr52bv6i2eyoy5pa" 1 :add]
["sigref:bafkreicm5u2vzk2kav5xxtlogcy26qicc4jlnl4xemhr52bv6i2eyoy5pa" :rad/head "bafkreihxftppnfl5bdpfgrbax2sry5xpuvzidjgzp5qxisjbmocw45u4ma" 1 :add]
["sigref:bafkreicm5u2vzk2kav5xxtlogcy26qicc4jlnl4xemhr52bv6i2eyoy5pa" :rad/by "did:web:etzhayyim.github.io:com-etzhayyim-shinka" 1 :add]
["bafyreimigrated00000000000000000000000000000000000000000000" :rad/did-web "did:web:etzhayyim.com:actor:shinka" 2 :add]
["bafkreicm5u2vzk2kav5xxtlogcy26qicc4jlnl4xemhr52bv6i2eyoy5pa" :rad/did-web "did:web:etzhayyim.com:actor:shinka" 3 :add]
["sigref:bafkreicm5u2vzk2kav5xxtlogcy26qicc4jlnl4xemhr52bv6i2eyoy5pa" :rad/type :sigref 3 :add]
["sigref:bafkreicm5u2vzk2kav5xxtlogcy26qicc4jlnl4xemhr52bv6i2eyoy5pa" :rad/rid "bafkreicm5u2vzk2kav5xxtlogcy26qicc4jlnl4xemhr52bv6i2eyoy5pa" 3 :add]
["sigref:bafkreicm5u2vzk2kav5xxtlogcy26qicc4jlnl4xemhr52bv6i2eyoy5pa" :rad/head "bafkreie7q2oge5u4lkysr5dcx27dwclqzuqce3pqbajtjzabdbciyhidii" 3 :add]
["sigref:bafkreicm5u2vzk2kav5xxtlogcy26qicc4jlnl4xemhr52bv6i2eyoy5pa" :rad/by "did:web:etzhayyim.com:actor:shinka" 3 :add]
["bafkreicm5u2vzk2kav5xxtlogcy26qicc4jlnl4xemhr52bv6i2eyoy5pa" :rad/aozora-pds "https://pds.aozora.app" 4 :add]
["bafkreicm5u2vzk2kav5xxtlogcy26qicc4jlnl4xemhr52bv6i2eyoy5pa" :rad/did-key "did:key:z6MktKUkocvqiDXXPMJhnsfomvmpDVzXrG6HHnMdfz2aj4Fp" 4 :add]
