["bafkreihtkktpqgv43px3grhgcbhpaag633bp4kbxvg7jmqyioy6ps2ruxu" :rad/type :identity 1 :add]
["bafkreihtkktpqgv43px3grhgcbhpaag633bp4kbxvg7jmqyioy6ps2ruxu" :rad/name "talent" 1 :add]
["bafkreihtkktpqgv43px3grhgcbhpaag633bp4kbxvg7jmqyioy6ps2ruxu" :rad/did-web "did:web:etzhayyim.github.io:com-etzhayyim-talent" 1 :add]
["bafkreihtkktpqgv43px3grhgcbhpaag633bp4kbxvg7jmqyioy6ps2ruxu" :rad/threshold 1 1 :add]
["bafkreihtkktpqgv43px3grhgcbhpaag633bp4kbxvg7jmqyioy6ps2ruxu" :rad/repo "github.com/etzhayyim/com-etzhayyim-talent" 1 :add]
["bafkreihtkktpqgv43px3grhgcbhpaag633bp4kbxvg7jmqyioy6ps2ruxu" :rad/aozora-pds "https://pds.etzhayyim.com" 1 :add]
["bafkreihtkktpqgv43px3grhgcbhpaag633bp4kbxvg7jmqyioy6ps2ruxu" :rad/aozora-collection "com.etzhayyim.apps.talent" 1 :add]
["sigref:bafkreihtkktpqgv43px3grhgcbhpaag633bp4kbxvg7jmqyioy6ps2ruxu" :rad/type :sigref 1 :add]
["sigref:bafkreihtkktpqgv43px3grhgcbhpaag633bp4kbxvg7jmqyioy6ps2ruxu" :rad/rid "bafkreihtkktpqgv43px3grhgcbhpaag633bp4kbxvg7jmqyioy6ps2ruxu" 1 :add]
["sigref:bafkreihtkktpqgv43px3grhgcbhpaag633bp4kbxvg7jmqyioy6ps2ruxu" :rad/head "bafkreidnfvssdbbr3swl5vtwhgvubby5eut5jn44lg5kmab5eexahvtf3y" 1 :add]
["sigref:bafkreihtkktpqgv43px3grhgcbhpaag633bp4kbxvg7jmqyioy6ps2ruxu" :rad/by "did:web:etzhayyim.github.io:com-etzhayyim-talent" 1 :add]
["bafyreimigrated00000000000000000000000000000000000000000000" :rad/did-web "did:web:etzhayyim.com:actor:talent" 2 :add]
["bafkreihtkktpqgv43px3grhgcbhpaag633bp4kbxvg7jmqyioy6ps2ruxu" :rad/did-web "did:web:etzhayyim.com:actor:talent" 3 :add]
["sigref:bafkreihtkktpqgv43px3grhgcbhpaag633bp4kbxvg7jmqyioy6ps2ruxu" :rad/type :sigref 3 :add]
["sigref:bafkreihtkktpqgv43px3grhgcbhpaag633bp4kbxvg7jmqyioy6ps2ruxu" :rad/rid "bafkreihtkktpqgv43px3grhgcbhpaag633bp4kbxvg7jmqyioy6ps2ruxu" 3 :add]
["sigref:bafkreihtkktpqgv43px3grhgcbhpaag633bp4kbxvg7jmqyioy6ps2ruxu" :rad/head "bafkreidwrw3pxtwyiaavdzjnikv23y5ydapfc25a6t35yzuc7ogzqycizy" 3 :add]
["sigref:bafkreihtkktpqgv43px3grhgcbhpaag633bp4kbxvg7jmqyioy6ps2ruxu" :rad/by "did:web:etzhayyim.com:actor:talent" 3 :add]
