["bafkreiepq4l42kdbvgvei4of5nz552ueqfupbmxaeqpk64r6sxyzodjxni" :rad/type :identity 1 :add]
["bafkreiepq4l42kdbvgvei4of5nz552ueqfupbmxaeqpk64r6sxyzodjxni" :rad/name "tanemaki" 1 :add]
["bafkreiepq4l42kdbvgvei4of5nz552ueqfupbmxaeqpk64r6sxyzodjxni" :rad/did-web "did:web:etzhayyim.github.io:com-etzhayyim-tanemaki" 1 :add]
["bafkreiepq4l42kdbvgvei4of5nz552ueqfupbmxaeqpk64r6sxyzodjxni" :rad/threshold 1 1 :add]
["bafkreiepq4l42kdbvgvei4of5nz552ueqfupbmxaeqpk64r6sxyzodjxni" :rad/repo "github.com/etzhayyim/com-etzhayyim-tanemaki" 1 :add]
["bafkreiepq4l42kdbvgvei4of5nz552ueqfupbmxaeqpk64r6sxyzodjxni" :rad/aozora-pds "https://pds.etzhayyim.com" 1 :add]
["bafkreiepq4l42kdbvgvei4of5nz552ueqfupbmxaeqpk64r6sxyzodjxni" :rad/aozora-collection "com.etzhayyim.tanemaki" 1 :add]
["sigref:bafkreiepq4l42kdbvgvei4of5nz552ueqfupbmxaeqpk64r6sxyzodjxni" :rad/type :sigref 1 :add]
["sigref:bafkreiepq4l42kdbvgvei4of5nz552ueqfupbmxaeqpk64r6sxyzodjxni" :rad/rid "bafkreiepq4l42kdbvgvei4of5nz552ueqfupbmxaeqpk64r6sxyzodjxni" 1 :add]
["sigref:bafkreiepq4l42kdbvgvei4of5nz552ueqfupbmxaeqpk64r6sxyzodjxni" :rad/head "bafkreicf5tvslbpxg42sg2a7dkudu2imbefnox247chqnix6txgugumrxe" 1 :add]
["sigref:bafkreiepq4l42kdbvgvei4of5nz552ueqfupbmxaeqpk64r6sxyzodjxni" :rad/by "did:web:etzhayyim.github.io:com-etzhayyim-tanemaki" 1 :add]
["bafyreimigrated00000000000000000000000000000000000000000000" :rad/did-web "did:web:etzhayyim.com:actor:tanemaki" 2 :add]
