["bafkreiavzdi5jne5b6tagx2vqa5oncqar7ck3u2xoam3w2cza26d57l4va" :rad/type :identity 1 :add]
["bafkreiavzdi5jne5b6tagx2vqa5oncqar7ck3u2xoam3w2cza26d57l4va" :rad/name "tenso" 1 :add]
["bafkreiavzdi5jne5b6tagx2vqa5oncqar7ck3u2xoam3w2cza26d57l4va" :rad/did-web "did:web:etzhayyim.github.io:com-etzhayyim-tenso" 1 :add]
["bafkreiavzdi5jne5b6tagx2vqa5oncqar7ck3u2xoam3w2cza26d57l4va" :rad/threshold 1 1 :add]
["bafkreiavzdi5jne5b6tagx2vqa5oncqar7ck3u2xoam3w2cza26d57l4va" :rad/repo "github.com/etzhayyim/com-etzhayyim-tenso" 1 :add]
["bafkreiavzdi5jne5b6tagx2vqa5oncqar7ck3u2xoam3w2cza26d57l4va" :rad/aozora-pds "https://pds.etzhayyim.com" 1 :add]
["bafkreiavzdi5jne5b6tagx2vqa5oncqar7ck3u2xoam3w2cza26d57l4va" :rad/aozora-collection "app.bsky.feed" 1 :add]
["sigref:bafkreiavzdi5jne5b6tagx2vqa5oncqar7ck3u2xoam3w2cza26d57l4va" :rad/type :sigref 1 :add]
["sigref:bafkreiavzdi5jne5b6tagx2vqa5oncqar7ck3u2xoam3w2cza26d57l4va" :rad/rid "bafkreiavzdi5jne5b6tagx2vqa5oncqar7ck3u2xoam3w2cza26d57l4va" 1 :add]
["sigref:bafkreiavzdi5jne5b6tagx2vqa5oncqar7ck3u2xoam3w2cza26d57l4va" :rad/head "bafkreihc2kvygbdbr4iijskwspmaxewb5yw5m3goigcrgzavortzy7nq4a" 1 :add]
["sigref:bafkreiavzdi5jne5b6tagx2vqa5oncqar7ck3u2xoam3w2cza26d57l4va" :rad/by "did:web:etzhayyim.github.io:com-etzhayyim-tenso" 1 :add]
["bafyreimigrated00000000000000000000000000000000000000000000" :rad/did-web "did:web:etzhayyim.com:actor:tenso" 2 :add]
["bafkreiavzdi5jne5b6tagx2vqa5oncqar7ck3u2xoam3w2cza26d57l4va" :rad/did-web "did:web:etzhayyim.com:actor:tenso" 3 :add]
["sigref:bafkreiavzdi5jne5b6tagx2vqa5oncqar7ck3u2xoam3w2cza26d57l4va" :rad/type :sigref 3 :add]
["sigref:bafkreiavzdi5jne5b6tagx2vqa5oncqar7ck3u2xoam3w2cza26d57l4va" :rad/rid "bafkreiavzdi5jne5b6tagx2vqa5oncqar7ck3u2xoam3w2cza26d57l4va" 3 :add]
["sigref:bafkreiavzdi5jne5b6tagx2vqa5oncqar7ck3u2xoam3w2cza26d57l4va" :rad/head "bafkreig5xxeu4vvbloquhua3qhlkbqpzasawn5xnwr2ncqgaryhkb4cbue" 3 :add]
["sigref:bafkreiavzdi5jne5b6tagx2vqa5oncqar7ck3u2xoam3w2cza26d57l4va" :rad/by "did:web:etzhayyim.com:actor:tenso" 3 :add]
["bafkreiavzdi5jne5b6tagx2vqa5oncqar7ck3u2xoam3w2cza26d57l4va" :rad/aozora-pds "https://pds.aozora.app" 4 :add]
["bafkreiavzdi5jne5b6tagx2vqa5oncqar7ck3u2xoam3w2cza26d57l4va" :rad/did-key "did:key:z6MkiAYscAAQXR3TU5U8SgvNCmrJuzr6vnFp6LVjTfbmCJQd" 4 :add]
