["bafkreice23tmjwuymn4ronuilzrdedupdf2qlcek2xk37t2myd2krvuasi" :rad/type :identity 1 :add]
["bafkreice23tmjwuymn4ronuilzrdedupdf2qlcek2xk37t2myd2krvuasi" :rad/name "tomoshibi" 1 :add]
["bafkreice23tmjwuymn4ronuilzrdedupdf2qlcek2xk37t2myd2krvuasi" :rad/did-web "did:web:etzhayyim.com:actor:tomoshibi" 1 :add]
["bafkreice23tmjwuymn4ronuilzrdedupdf2qlcek2xk37t2myd2krvuasi" :rad/threshold 1 1 :add]
["bafkreice23tmjwuymn4ronuilzrdedupdf2qlcek2xk37t2myd2krvuasi" :rad/repo "github.com/etzhayyim/com-etzhayyim-tomoshibi" 1 :add]
["bafkreice23tmjwuymn4ronuilzrdedupdf2qlcek2xk37t2myd2krvuasi" :rad/aozora-pds "https://pds.aozora.app" 1 :add]
["bafkreice23tmjwuymn4ronuilzrdedupdf2qlcek2xk37t2myd2krvuasi" :rad/aozora-collection "com.etzhayyim.apps.tomoshibi" 1 :add]
["sigref:bafkreice23tmjwuymn4ronuilzrdedupdf2qlcek2xk37t2myd2krvuasi" :rad/type :sigref 1 :add]
["sigref:bafkreice23tmjwuymn4ronuilzrdedupdf2qlcek2xk37t2myd2krvuasi" :rad/rid "bafkreice23tmjwuymn4ronuilzrdedupdf2qlcek2xk37t2myd2krvuasi" 1 :add]
["sigref:bafkreice23tmjwuymn4ronuilzrdedupdf2qlcek2xk37t2myd2krvuasi" :rad/head "bafkreibj6rhxgipby2gledr3t57hrgybcjza3g4ujavr7t77ufmrxkfij4" 1 :add]
["sigref:bafkreice23tmjwuymn4ronuilzrdedupdf2qlcek2xk37t2myd2krvuasi" :rad/by "did:web:etzhayyim.com:actor:tomoshibi" 1 :add]
["bafkreice23tmjwuymn4ronuilzrdedupdf2qlcek2xk37t2myd2krvuasi" :rad/did-key "did:key:z6MkvqXdDba3CZ96nRzYBYiDrnoHP8DtCSgW7duzwFPGnf9Z" 2 :add]
["sigref:bafkreice23tmjwuymn4ronuilzrdedupdf2qlcek2xk37t2myd2krvuasi" :rad/type :sigref 2 :add]
["sigref:bafkreice23tmjwuymn4ronuilzrdedupdf2qlcek2xk37t2myd2krvuasi" :rad/rid "bafkreice23tmjwuymn4ronuilzrdedupdf2qlcek2xk37t2myd2krvuasi" 2 :add]
["sigref:bafkreice23tmjwuymn4ronuilzrdedupdf2qlcek2xk37t2myd2krvuasi" :rad/head "bafkreihttwirwx3lyeqacizdw4bri3mwy46q6dd6yecofpcnguu6bcil34" 2 :add]
["sigref:bafkreice23tmjwuymn4ronuilzrdedupdf2qlcek2xk37t2myd2krvuasi" :rad/by "did:web:etzhayyim.com:actor:tomoshibi" 2 :add]
