["bafkreifoa44tzzjhckrjrtvrcdcpbufkze2xm7xym4ckqnxkjg25nyvrdy" :rad/type :identity 1 :add]
["bafkreifoa44tzzjhckrjrtvrcdcpbufkze2xm7xym4ckqnxkjg25nyvrdy" :rad/name "torifune" 1 :add]
["bafkreifoa44tzzjhckrjrtvrcdcpbufkze2xm7xym4ckqnxkjg25nyvrdy" :rad/did-web "did:web:etzhayyim.github.io:com-etzhayyim-torifune" 1 :add]
["bafkreifoa44tzzjhckrjrtvrcdcpbufkze2xm7xym4ckqnxkjg25nyvrdy" :rad/threshold 1 1 :add]
["bafkreifoa44tzzjhckrjrtvrcdcpbufkze2xm7xym4ckqnxkjg25nyvrdy" :rad/repo "github.com/etzhayyim/com-etzhayyim-torifune" 1 :add]
["bafkreifoa44tzzjhckrjrtvrcdcpbufkze2xm7xym4ckqnxkjg25nyvrdy" :rad/aozora-pds "https://pds.etzhayyim.com" 1 :add]
["bafkreifoa44tzzjhckrjrtvrcdcpbufkze2xm7xym4ckqnxkjg25nyvrdy" :rad/aozora-collection "com.etzhayyim.apps.torifune" 1 :add]
["sigref:bafkreifoa44tzzjhckrjrtvrcdcpbufkze2xm7xym4ckqnxkjg25nyvrdy" :rad/type :sigref 1 :add]
["sigref:bafkreifoa44tzzjhckrjrtvrcdcpbufkze2xm7xym4ckqnxkjg25nyvrdy" :rad/rid "bafkreifoa44tzzjhckrjrtvrcdcpbufkze2xm7xym4ckqnxkjg25nyvrdy" 1 :add]
["sigref:bafkreifoa44tzzjhckrjrtvrcdcpbufkze2xm7xym4ckqnxkjg25nyvrdy" :rad/head "bafkreie5eui676hjtygaodc2mpsv6t6dkqfukwqxmpxexfbziwig2lwhxu" 1 :add]
["sigref:bafkreifoa44tzzjhckrjrtvrcdcpbufkze2xm7xym4ckqnxkjg25nyvrdy" :rad/by "did:web:etzhayyim.github.io:com-etzhayyim-torifune" 1 :add]
["bafyreimigrated00000000000000000000000000000000000000000000" :rad/did-web "did:web:etzhayyim.com:actor:torifune" 2 :add]
["bafkreifoa44tzzjhckrjrtvrcdcpbufkze2xm7xym4ckqnxkjg25nyvrdy" :rad/did-web "did:web:etzhayyim.com:actor:torifune" 3 :add]
["sigref:bafkreifoa44tzzjhckrjrtvrcdcpbufkze2xm7xym4ckqnxkjg25nyvrdy" :rad/type :sigref 3 :add]
["sigref:bafkreifoa44tzzjhckrjrtvrcdcpbufkze2xm7xym4ckqnxkjg25nyvrdy" :rad/rid "bafkreifoa44tzzjhckrjrtvrcdcpbufkze2xm7xym4ckqnxkjg25nyvrdy" 3 :add]
["sigref:bafkreifoa44tzzjhckrjrtvrcdcpbufkze2xm7xym4ckqnxkjg25nyvrdy" :rad/head "bafkreialscokijsq3tc3l6t6ihev72xkiyahis2fcvhedwxadoei2qp6im" 3 :add]
["sigref:bafkreifoa44tzzjhckrjrtvrcdcpbufkze2xm7xym4ckqnxkjg25nyvrdy" :rad/by "did:web:etzhayyim.com:actor:torifune" 3 :add]
