["bafkreifphnbjup6o3i3qbekx4f6jx5nsdhrc2bykabjkjnt6cuhbzejboi" :rad/type :identity 1 :add]
["bafkreifphnbjup6o3i3qbekx4f6jx5nsdhrc2bykabjkjnt6cuhbzejboi" :rad/name "toritsugi" 1 :add]
["bafkreifphnbjup6o3i3qbekx4f6jx5nsdhrc2bykabjkjnt6cuhbzejboi" :rad/did-web "did:web:etzhayyim.github.io:com-etzhayyim-toritsugi" 1 :add]
["bafkreifphnbjup6o3i3qbekx4f6jx5nsdhrc2bykabjkjnt6cuhbzejboi" :rad/threshold 1 1 :add]
["bafkreifphnbjup6o3i3qbekx4f6jx5nsdhrc2bykabjkjnt6cuhbzejboi" :rad/repo "github.com/etzhayyim/com-etzhayyim-toritsugi" 1 :add]
["bafkreifphnbjup6o3i3qbekx4f6jx5nsdhrc2bykabjkjnt6cuhbzejboi" :rad/aozora-pds "https://pds.etzhayyim.com" 1 :add]
["bafkreifphnbjup6o3i3qbekx4f6jx5nsdhrc2bykabjkjnt6cuhbzejboi" :rad/aozora-collection "com.etzhayyim.apps.toritsugi" 1 :add]
["sigref:bafkreifphnbjup6o3i3qbekx4f6jx5nsdhrc2bykabjkjnt6cuhbzejboi" :rad/type :sigref 1 :add]
["sigref:bafkreifphnbjup6o3i3qbekx4f6jx5nsdhrc2bykabjkjnt6cuhbzejboi" :rad/rid "bafkreifphnbjup6o3i3qbekx4f6jx5nsdhrc2bykabjkjnt6cuhbzejboi" 1 :add]
["sigref:bafkreifphnbjup6o3i3qbekx4f6jx5nsdhrc2bykabjkjnt6cuhbzejboi" :rad/head "bafkreiaab4t746haroekg7r2cftz6eruwulvlxwvsj5cwcdifwmihclbri" 1 :add]
["sigref:bafkreifphnbjup6o3i3qbekx4f6jx5nsdhrc2bykabjkjnt6cuhbzejboi" :rad/by "did:web:etzhayyim.github.io:com-etzhayyim-toritsugi" 1 :add]
