["bafkreicdcprrkzksimxpmvzrvzwtiiokd2h52r46abfgxxdvnfh4htv6im" :rad/type :identity 1 :add]
["bafkreicdcprrkzksimxpmvzrvzwtiiokd2h52r46abfgxxdvnfh4htv6im" :rad/name "tsukuru" 1 :add]
["bafkreicdcprrkzksimxpmvzrvzwtiiokd2h52r46abfgxxdvnfh4htv6im" :rad/did-web "did:web:etzhayyim.github.io:com-etzhayyim-tsukuru" 1 :add]
["bafkreicdcprrkzksimxpmvzrvzwtiiokd2h52r46abfgxxdvnfh4htv6im" :rad/threshold 1 1 :add]
["bafkreicdcprrkzksimxpmvzrvzwtiiokd2h52r46abfgxxdvnfh4htv6im" :rad/repo "github.com/etzhayyim/com-etzhayyim-tsukuru" 1 :add]
["bafkreicdcprrkzksimxpmvzrvzwtiiokd2h52r46abfgxxdvnfh4htv6im" :rad/aozora-pds "https://pds.etzhayyim.com" 1 :add]
["bafkreicdcprrkzksimxpmvzrvzwtiiokd2h52r46abfgxxdvnfh4htv6im" :rad/aozora-collection "com.etzhayyim.apps.tsukuru" 1 :add]
["sigref:bafkreicdcprrkzksimxpmvzrvzwtiiokd2h52r46abfgxxdvnfh4htv6im" :rad/type :sigref 1 :add]
["sigref:bafkreicdcprrkzksimxpmvzrvzwtiiokd2h52r46abfgxxdvnfh4htv6im" :rad/rid "bafkreicdcprrkzksimxpmvzrvzwtiiokd2h52r46abfgxxdvnfh4htv6im" 1 :add]
["sigref:bafkreicdcprrkzksimxpmvzrvzwtiiokd2h52r46abfgxxdvnfh4htv6im" :rad/head "bafkreihkx6pj6nw6i5gbzbmoytt7b4qrrs3uwl33tlkhoiu2npxghlpvu4" 1 :add]
["sigref:bafkreicdcprrkzksimxpmvzrvzwtiiokd2h52r46abfgxxdvnfh4htv6im" :rad/by "did:web:etzhayyim.github.io:com-etzhayyim-tsukuru" 1 :add]
["bafyreimigrated00000000000000000000000000000000000000000000" :rad/did-web "did:web:etzhayyim.com:actor:tsukuru" 2 :add]
["bafkreicdcprrkzksimxpmvzrvzwtiiokd2h52r46abfgxxdvnfh4htv6im" :rad/did-web "did:web:etzhayyim.com:actor:tsukuru" 3 :add]
["sigref:bafkreicdcprrkzksimxpmvzrvzwtiiokd2h52r46abfgxxdvnfh4htv6im" :rad/type :sigref 3 :add]
["sigref:bafkreicdcprrkzksimxpmvzrvzwtiiokd2h52r46abfgxxdvnfh4htv6im" :rad/rid "bafkreicdcprrkzksimxpmvzrvzwtiiokd2h52r46abfgxxdvnfh4htv6im" 3 :add]
["sigref:bafkreicdcprrkzksimxpmvzrvzwtiiokd2h52r46abfgxxdvnfh4htv6im" :rad/head "bafkreiff2mk3mc7kqb5d3joi5viarrdu5e6sja4cxbnajwgw4wegg43wwe" 3 :add]
["sigref:bafkreicdcprrkzksimxpmvzrvzwtiiokd2h52r46abfgxxdvnfh4htv6im" :rad/by "did:web:etzhayyim.com:actor:tsukuru" 3 :add]
["bafkreicdcprrkzksimxpmvzrvzwtiiokd2h52r46abfgxxdvnfh4htv6im" :rad/aozora-pds "https://pds.aozora.app" 4 :add]
["bafkreicdcprrkzksimxpmvzrvzwtiiokd2h52r46abfgxxdvnfh4htv6im" :rad/did-key "did:key:z6Mkh7sFg1mh8NSFxWgPMEfeRcqwFLWCABLNWDsD99obV3pz" 4 :add]
