["bafkreigffqiy4i3cs2hwrzojayn7jlhzdiip5l4nc5esj7puwgh27bsa6i" :rad/type :identity 1 :add]
["bafkreigffqiy4i3cs2hwrzojayn7jlhzdiip5l4nc5esj7puwgh27bsa6i" :rad/name "watari" 1 :add]
["bafkreigffqiy4i3cs2hwrzojayn7jlhzdiip5l4nc5esj7puwgh27bsa6i" :rad/did-web "did:web:etzhayyim.github.io:com-etzhayyim-watari" 1 :add]
["bafkreigffqiy4i3cs2hwrzojayn7jlhzdiip5l4nc5esj7puwgh27bsa6i" :rad/threshold 1 1 :add]
["bafkreigffqiy4i3cs2hwrzojayn7jlhzdiip5l4nc5esj7puwgh27bsa6i" :rad/repo "github.com/etzhayyim/com-etzhayyim-watari" 1 :add]
["bafkreigffqiy4i3cs2hwrzojayn7jlhzdiip5l4nc5esj7puwgh27bsa6i" :rad/aozora-pds "https://pds.etzhayyim.com" 1 :add]
["bafkreigffqiy4i3cs2hwrzojayn7jlhzdiip5l4nc5esj7puwgh27bsa6i" :rad/aozora-collection "com.etzhayyim.apps.watari" 1 :add]
["sigref:bafkreigffqiy4i3cs2hwrzojayn7jlhzdiip5l4nc5esj7puwgh27bsa6i" :rad/type :sigref 1 :add]
["sigref:bafkreigffqiy4i3cs2hwrzojayn7jlhzdiip5l4nc5esj7puwgh27bsa6i" :rad/rid "bafkreigffqiy4i3cs2hwrzojayn7jlhzdiip5l4nc5esj7puwgh27bsa6i" 1 :add]
["sigref:bafkreigffqiy4i3cs2hwrzojayn7jlhzdiip5l4nc5esj7puwgh27bsa6i" :rad/head "bafkreiabr3fbu44gohxnlrwtvh33wnhbnqrrgf2767xghvuy3pdjou5sdi" 1 :add]
["sigref:bafkreigffqiy4i3cs2hwrzojayn7jlhzdiip5l4nc5esj7puwgh27bsa6i" :rad/by "did:web:etzhayyim.github.io:com-etzhayyim-watari" 1 :add]
["sigref:bafkreigffqiy4i3cs2hwrzojayn7jlhzdiip5l4nc5esj7puwgh27bsa6i" :rad/type :sigref 2 :add]
["sigref:bafkreigffqiy4i3cs2hwrzojayn7jlhzdiip5l4nc5esj7puwgh27bsa6i" :rad/rid "bafkreigffqiy4i3cs2hwrzojayn7jlhzdiip5l4nc5esj7puwgh27bsa6i" 2 :add]
["sigref:bafkreigffqiy4i3cs2hwrzojayn7jlhzdiip5l4nc5esj7puwgh27bsa6i" :rad/head "bafkreif7bae2xgt5jlv7st4txsiu2lpqxb5amfcf3unwbxu4n7hh25zdj4" 2 :add]
["sigref:bafkreigffqiy4i3cs2hwrzojayn7jlhzdiip5l4nc5esj7puwgh27bsa6i" :rad/by "did:web:etzhayyim.github.io:com-etzhayyim-watari" 2 :add]
["sigref:bafkreigffqiy4i3cs2hwrzojayn7jlhzdiip5l4nc5esj7puwgh27bsa6i" :rad/type :sigref 3 :add]
["sigref:bafkreigffqiy4i3cs2hwrzojayn7jlhzdiip5l4nc5esj7puwgh27bsa6i" :rad/rid "bafkreigffqiy4i3cs2hwrzojayn7jlhzdiip5l4nc5esj7puwgh27bsa6i" 3 :add]
["sigref:bafkreigffqiy4i3cs2hwrzojayn7jlhzdiip5l4nc5esj7puwgh27bsa6i" :rad/head "bafkreihiz6aoikzt3ixuefh7nj3yc35hctbzk7orm352kbvdtnzmmzhgkm" 3 :add]
["sigref:bafkreigffqiy4i3cs2hwrzojayn7jlhzdiip5l4nc5esj7puwgh27bsa6i" :rad/by "did:web:etzhayyim.github.io:com-etzhayyim-watari" 3 :add]
["bafyreimigrated00000000000000000000000000000000000000000000" :rad/did-web "did:web:etzhayyim.com:actor:watari" 2 :add]
