["bafkreicteufrgkwwislnpa6aj6qvzxvblde2i5e7salg52ibuiludkpf5i" :rad/type :identity 1 :add]
["bafkreicteufrgkwwislnpa6aj6qvzxvblde2i5e7salg52ibuiludkpf5i" :rad/name "yabai" 1 :add]
["bafkreicteufrgkwwislnpa6aj6qvzxvblde2i5e7salg52ibuiludkpf5i" :rad/did-web "did:web:etzhayyim.github.io:com-etzhayyim-yabai" 1 :add]
["bafkreicteufrgkwwislnpa6aj6qvzxvblde2i5e7salg52ibuiludkpf5i" :rad/threshold 1 1 :add]
["bafkreicteufrgkwwislnpa6aj6qvzxvblde2i5e7salg52ibuiludkpf5i" :rad/repo "github.com/etzhayyim/com-etzhayyim-yabai" 1 :add]
["bafkreicteufrgkwwislnpa6aj6qvzxvblde2i5e7salg52ibuiludkpf5i" :rad/aozora-pds "https://pds.etzhayyim.com" 1 :add]
["bafkreicteufrgkwwislnpa6aj6qvzxvblde2i5e7salg52ibuiludkpf5i" :rad/aozora-collection "com.etzhayyim.apps.yabai" 1 :add]
["sigref:bafkreicteufrgkwwislnpa6aj6qvzxvblde2i5e7salg52ibuiludkpf5i" :rad/type :sigref 1 :add]
["sigref:bafkreicteufrgkwwislnpa6aj6qvzxvblde2i5e7salg52ibuiludkpf5i" :rad/rid "bafkreicteufrgkwwislnpa6aj6qvzxvblde2i5e7salg52ibuiludkpf5i" 1 :add]
["sigref:bafkreicteufrgkwwislnpa6aj6qvzxvblde2i5e7salg52ibuiludkpf5i" :rad/head "bafkreig622rkdjytjdx6imyfod2fu2zxk4ah5lwj2g5javpive5i6g7rnm" 1 :add]
["sigref:bafkreicteufrgkwwislnpa6aj6qvzxvblde2i5e7salg52ibuiludkpf5i" :rad/by "did:web:etzhayyim.github.io:com-etzhayyim-yabai" 1 :add]
["sigref:bafkreicteufrgkwwislnpa6aj6qvzxvblde2i5e7salg52ibuiludkpf5i" :rad/type :sigref 2 :add]
["sigref:bafkreicteufrgkwwislnpa6aj6qvzxvblde2i5e7salg52ibuiludkpf5i" :rad/rid "bafkreicteufrgkwwislnpa6aj6qvzxvblde2i5e7salg52ibuiludkpf5i" 2 :add]
["sigref:bafkreicteufrgkwwislnpa6aj6qvzxvblde2i5e7salg52ibuiludkpf5i" :rad/head "bafkreih5ltgoz76mpfzfnfqhyae6bqqyigfmsrpmaomuetidbtrfla4fny" 2 :add]
["sigref:bafkreicteufrgkwwislnpa6aj6qvzxvblde2i5e7salg52ibuiludkpf5i" :rad/by "did:web:etzhayyim.github.io:com-etzhayyim-yabai" 2 :add]
["sigref:bafkreicteufrgkwwislnpa6aj6qvzxvblde2i5e7salg52ibuiludkpf5i" :rad/type :sigref 3 :add]
["sigref:bafkreicteufrgkwwislnpa6aj6qvzxvblde2i5e7salg52ibuiludkpf5i" :rad/rid "bafkreicteufrgkwwislnpa6aj6qvzxvblde2i5e7salg52ibuiludkpf5i" 3 :add]
["sigref:bafkreicteufrgkwwislnpa6aj6qvzxvblde2i5e7salg52ibuiludkpf5i" :rad/head "bafkreih2vecisoyfvhs6pf6vhk3lypwrrnxiqoad37y5hehrqzbjvry2cu" 3 :add]
["sigref:bafkreicteufrgkwwislnpa6aj6qvzxvblde2i5e7salg52ibuiludkpf5i" :rad/by "did:web:etzhayyim.github.io:com-etzhayyim-yabai" 3 :add]
["bafyreimigrated00000000000000000000000000000000000000000000" :rad/did-web "did:web:etzhayyim.com:actor:yabai" 2 :add]
["bafkreicteufrgkwwislnpa6aj6qvzxvblde2i5e7salg52ibuiludkpf5i" :rad/did-web "did:web:etzhayyim.com:actor:yabai" 4 :add]
["sigref:bafkreicteufrgkwwislnpa6aj6qvzxvblde2i5e7salg52ibuiludkpf5i" :rad/type :sigref 4 :add]
["sigref:bafkreicteufrgkwwislnpa6aj6qvzxvblde2i5e7salg52ibuiludkpf5i" :rad/rid "bafkreicteufrgkwwislnpa6aj6qvzxvblde2i5e7salg52ibuiludkpf5i" 4 :add]
["sigref:bafkreicteufrgkwwislnpa6aj6qvzxvblde2i5e7salg52ibuiludkpf5i" :rad/head "bafkreicqm545ysfv5whmei5mvbaint5yhguz25rxwpy2g6pgyrxq3flasu" 4 :add]
["sigref:bafkreicteufrgkwwislnpa6aj6qvzxvblde2i5e7salg52ibuiludkpf5i" :rad/by "did:web:etzhayyim.com:actor:yabai" 4 :add]
