["bafkreieay7hndyxph3zp76y2dwa3h43v7egp2yjmf3hw4iyoafklndfrya" :rad/type :identity 1 :add]
["bafkreieay7hndyxph3zp76y2dwa3h43v7egp2yjmf3hw4iyoafklndfrya" :rad/name "yadori" 1 :add]
["bafkreieay7hndyxph3zp76y2dwa3h43v7egp2yjmf3hw4iyoafklndfrya" :rad/did-web "did:web:etzhayyim.github.io:com-etzhayyim-yadori" 1 :add]
["bafkreieay7hndyxph3zp76y2dwa3h43v7egp2yjmf3hw4iyoafklndfrya" :rad/threshold 1 1 :add]
["bafkreieay7hndyxph3zp76y2dwa3h43v7egp2yjmf3hw4iyoafklndfrya" :rad/repo "github.com/etzhayyim/com-etzhayyim-yadori" 1 :add]
["bafkreieay7hndyxph3zp76y2dwa3h43v7egp2yjmf3hw4iyoafklndfrya" :rad/aozora-pds "https://pds.etzhayyim.com" 1 :add]
["bafkreieay7hndyxph3zp76y2dwa3h43v7egp2yjmf3hw4iyoafklndfrya" :rad/aozora-collection "com.etzhayyim.apps.yadori" 1 :add]
["sigref:bafkreieay7hndyxph3zp76y2dwa3h43v7egp2yjmf3hw4iyoafklndfrya" :rad/type :sigref 1 :add]
["sigref:bafkreieay7hndyxph3zp76y2dwa3h43v7egp2yjmf3hw4iyoafklndfrya" :rad/rid "bafkreieay7hndyxph3zp76y2dwa3h43v7egp2yjmf3hw4iyoafklndfrya" 1 :add]
["sigref:bafkreieay7hndyxph3zp76y2dwa3h43v7egp2yjmf3hw4iyoafklndfrya" :rad/head "bafkreieir762qqpnfd2piwaneughwlrfo5jxfbavotm2lxydwxytqrc7dq" 1 :add]
["sigref:bafkreieay7hndyxph3zp76y2dwa3h43v7egp2yjmf3hw4iyoafklndfrya" :rad/by "did:web:etzhayyim.github.io:com-etzhayyim-yadori" 1 :add]
["sigref:bafkreieay7hndyxph3zp76y2dwa3h43v7egp2yjmf3hw4iyoafklndfrya" :rad/type :sigref 2 :add]
["sigref:bafkreieay7hndyxph3zp76y2dwa3h43v7egp2yjmf3hw4iyoafklndfrya" :rad/rid "bafkreieay7hndyxph3zp76y2dwa3h43v7egp2yjmf3hw4iyoafklndfrya" 2 :add]
["sigref:bafkreieay7hndyxph3zp76y2dwa3h43v7egp2yjmf3hw4iyoafklndfrya" :rad/head "bafkreidgwm2fufils5ky6posvsicq7ehnqsqteyro3jsqraiy7ysxra5xy" 2 :add]
["sigref:bafkreieay7hndyxph3zp76y2dwa3h43v7egp2yjmf3hw4iyoafklndfrya" :rad/by "did:web:etzhayyim.github.io:com-etzhayyim-yadori" 2 :add]
["sigref:bafkreieay7hndyxph3zp76y2dwa3h43v7egp2yjmf3hw4iyoafklndfrya" :rad/type :sigref 3 :add]
["sigref:bafkreieay7hndyxph3zp76y2dwa3h43v7egp2yjmf3hw4iyoafklndfrya" :rad/rid "bafkreieay7hndyxph3zp76y2dwa3h43v7egp2yjmf3hw4iyoafklndfrya" 3 :add]
["sigref:bafkreieay7hndyxph3zp76y2dwa3h43v7egp2yjmf3hw4iyoafklndfrya" :rad/head "bafkreihzdsimkhgucsgb7ii4iyfxvs34um73xptltd4mhllktx7s6erjde" 3 :add]
["sigref:bafkreieay7hndyxph3zp76y2dwa3h43v7egp2yjmf3hw4iyoafklndfrya" :rad/by "did:web:etzhayyim.github.io:com-etzhayyim-yadori" 3 :add]
["bafyreimigrated00000000000000000000000000000000000000000000" :rad/did-web "did:web:etzhayyim.com:actor:yadori" 2 :add]
["bafkreieay7hndyxph3zp76y2dwa3h43v7egp2yjmf3hw4iyoafklndfrya" :rad/did-web "did:web:etzhayyim.com:actor:yadori" 4 :add]
["sigref:bafkreieay7hndyxph3zp76y2dwa3h43v7egp2yjmf3hw4iyoafklndfrya" :rad/type :sigref 4 :add]
["sigref:bafkreieay7hndyxph3zp76y2dwa3h43v7egp2yjmf3hw4iyoafklndfrya" :rad/rid "bafkreieay7hndyxph3zp76y2dwa3h43v7egp2yjmf3hw4iyoafklndfrya" 4 :add]
["sigref:bafkreieay7hndyxph3zp76y2dwa3h43v7egp2yjmf3hw4iyoafklndfrya" :rad/head "bafkreihknsvqxxeklxerxxq3mcvq2nqrhqf2bctnvsurtn5nx67pfxfymu" 4 :add]
["sigref:bafkreieay7hndyxph3zp76y2dwa3h43v7egp2yjmf3hw4iyoafklndfrya" :rad/by "did:web:etzhayyim.com:actor:yadori" 4 :add]
["bafkreieay7hndyxph3zp76y2dwa3h43v7egp2yjmf3hw4iyoafklndfrya" :rad/aozora-pds "https://pds.aozora.app" 5 :add]
["bafkreieay7hndyxph3zp76y2dwa3h43v7egp2yjmf3hw4iyoafklndfrya" :rad/did-key "did:key:z6Mkg7yaKKUtZ6w5GP54B86iEyaJW3uu6GG2bHinK5wQEgG1" 5 :add]
