["bafkreihaffhqhljmqhw2c5bkjdbjptdm5lleunk24aico6w4wq7mwhiaxi" :rad/type :identity 1 :add]
["bafkreihaffhqhljmqhw2c5bkjdbjptdm5lleunk24aico6w4wq7mwhiaxi" :rad/name "yomi" 1 :add]
["bafkreihaffhqhljmqhw2c5bkjdbjptdm5lleunk24aico6w4wq7mwhiaxi" :rad/did-web "did:web:etzhayyim.github.io:com-etzhayyim-yomi" 1 :add]
["bafkreihaffhqhljmqhw2c5bkjdbjptdm5lleunk24aico6w4wq7mwhiaxi" :rad/threshold 1 1 :add]
["bafkreihaffhqhljmqhw2c5bkjdbjptdm5lleunk24aico6w4wq7mwhiaxi" :rad/repo "github.com/etzhayyim/com-etzhayyim-yomi" 1 :add]
["bafkreihaffhqhljmqhw2c5bkjdbjptdm5lleunk24aico6w4wq7mwhiaxi" :rad/aozora-pds "https://aozora.app" 1 :add]
["bafkreihaffhqhljmqhw2c5bkjdbjptdm5lleunk24aico6w4wq7mwhiaxi" :rad/aozora-collection "com.etzhayyim.apps.yomi" 1 :add]
["sigref:bafkreihaffhqhljmqhw2c5bkjdbjptdm5lleunk24aico6w4wq7mwhiaxi" :rad/type :sigref 1 :add]
["sigref:bafkreihaffhqhljmqhw2c5bkjdbjptdm5lleunk24aico6w4wq7mwhiaxi" :rad/rid "bafkreihaffhqhljmqhw2c5bkjdbjptdm5lleunk24aico6w4wq7mwhiaxi" 1 :add]
["sigref:bafkreihaffhqhljmqhw2c5bkjdbjptdm5lleunk24aico6w4wq7mwhiaxi" :rad/head "bafkreiaewt6h6ew6z765aibqayfjvcjgkus5xzsyfpal7ixgmn3yhv44aa" 1 :add]
["sigref:bafkreihaffhqhljmqhw2c5bkjdbjptdm5lleunk24aico6w4wq7mwhiaxi" :rad/by "did:key:z4c3424edcdd5b8e232ee75c40a47987de04e7e1893f04e7f9402979e6bd23706" 1 :add]
["sigref:bafkreihaffhqhljmqhw2c5bkjdbjptdm5lleunk24aico6w4wq7mwhiaxi" :rad/sig "3a97401d2b06a013e74a4cae2b6a0d65da73e271439f052315d28759f4c9085f4554cc0316127b536a1bb4ab7578f77ee0f4859f3bc902323f9e56aa955bd20b" 1 :add]
["bafkreihaffhqhljmqhw2c5bkjdbjptdm5lleunk24aico6w4wq7mwhiaxi" :rad/did-web "did:web:etzhayyim.com:actor:yomi" 2 :add]
["sigref:bafkreihaffhqhljmqhw2c5bkjdbjptdm5lleunk24aico6w4wq7mwhiaxi" :rad/type :sigref 2 :add]
["sigref:bafkreihaffhqhljmqhw2c5bkjdbjptdm5lleunk24aico6w4wq7mwhiaxi" :rad/rid "bafkreihaffhqhljmqhw2c5bkjdbjptdm5lleunk24aico6w4wq7mwhiaxi" 2 :add]
["sigref:bafkreihaffhqhljmqhw2c5bkjdbjptdm5lleunk24aico6w4wq7mwhiaxi" :rad/head "bafkreifk64bnxbuyfdjrehqrutekcrhqa4w544boatyzzrmy3et3r5ccs4" 2 :add]
["sigref:bafkreihaffhqhljmqhw2c5bkjdbjptdm5lleunk24aico6w4wq7mwhiaxi" :rad/by "did:key:z4c3424edcdd5b8e232ee75c40a47987de04e7e1893f04e7f9402979e6bd23706" 2 :add]
["sigref:bafkreihaffhqhljmqhw2c5bkjdbjptdm5lleunk24aico6w4wq7mwhiaxi" :rad/sig "3f30b9753eae488ae4151c6700fad3ed5ad3dd1f81e25dab65d8a1c6cb77df9f1873f177cee5ac76e9092aa2104509de8cc3ecd451cc53c1bc4409020ffa5a09" 2 :add]
