{:schema "etzhayyim.migration/moved-v1" :source {:repo "etzhayyim/root" :path "60-apps/etzhayyim-project-hrse" :revision "45b590633285a1988b399c0ab49a7ac56614015f" :git-tree "063d15a82d79413177c489aad54cf29b390f6d6e" :tracked-files 275 :bytes 41618331} :destination {:repo "etzhayyim/com-etzhayyim-app-hrse" :revision "cd6728b648712398e8518cb0f099669026b4da10"} :status :moved :owner-adr "2607201530" :verification :source-tree-plus-canonical-edn-only}
