{:schema "etzhayyim.migration/moved-v1" :source {:repo "etzhayyim/root" :path "60-apps/etzhayyim-project-yadoya" :revision "1316716c6b4bc3b1cba8c0188557b732ceffa054" :git-tree "1d10706e4cef5e6e10f7a346c2f7b80bcf3ccc79" :tracked-files 37 :bytes 78795} :destination {:repo "etzhayyim/com-etzhayyim-app-yadoya" :revision "014bdaa283a65045b3a7a38b78817b48bbc57ac2"} :status :moved :owner-adr "2607201030" :verification :source-tree-plus-canonical-edn-only}
