{:migration/status :moved
 :migration/date "2026-07-18"
 :migration/repository "https://github.com/etzhayyim/com-etzhayyim-kurashimori"
 :migration/revision "b878a332911b05583882ad29b7c786d9b2467caf"
 :migration/west-path "orgs/etzhayyim/com-etzhayyim-kurashimori"
 :migration/canonical-metadata "manifest.edn"
 :migration/canonical-data ["registry/targets.seed.edn"]
 :migration/canonical-lexicons "lex"
 :migration/external-wire-lexicons "wire"
 :migration/canonical-format :edn}
